<aside class='overview'>
	<h2>Overview</h2>

	<%= render 'descriptors/identities/list' %>
	
	<% if @items.length > 0 %>
		<h2><%= "Related Item".pluralize(@items.length) %></h2>
		<%= render 'subjects/items/list' %>
	<% end %>
</aside>
