<% unless @connections.empty? %>
<section class="connections">

	<h2>Relationships</h2>
	
	<table>
		<thead>
			<tr>
				<th>Type</th>
				<th>People</th>
			</tr>
		</thead>

		<%= connection_cells(@character.id, @connections) %>
	</table>

</section>
<% end %>
