<% unless @connections.empty? %>
<section class="interconnections">

	<h2>Relationships</h2>
	
	<table>
		<thead>
			<tr>
				<th>Type</th>
				<th>People</th>
			</tr>
		</thead>
		<% @connections.each do |heading, characters| %>
			<tr>
				<th><%= heading.pluralize(characters.length) %></th>
				<td><%= cslinks(characters) %></td>
			</tr>
		<% end %>
	</table>

</section>
<% end %>
