// STYLE PARTIAL: ACCOUNT BAR
// ***********************************************
// STYLES :: COLORS
// ===============================================
// VIEWPORT :: ALL
// ===============================================
.account {
	line-height: normal;
	margin:      0;
	padding:     10px 0;
	text-align:  right;

	a {
		font-weight: bolder;
		padding:     10px;
		color:       $water-darkest-minor; 
	}
}
.user {
	display: inline-block;
	a {
		font-weight:    bolder;
		letter-spacing: 2px;
		background:     $page-color;
	}
	& > a {
		color: $water-darkest-minor;
	}
	&:hover > a {
		background: $water-color;
		color:      $page-lightest-major;
	}
}
.session a {
	background: $water-light-minor;
	color:      $page-color;

	&:visited {
		background: $water-light-minor;
		color:      $page-color;
	}
	&:hover   {
		background: $water-darker-minor;
		color:      $water-lightest-minor;
	}
}

// VIEWPORT :: DESKTOP
// ===============================================
@include desktop {
	.account {
		float: right;
		width: $one-fourth;
	}
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.account {
		display: block;
		background: $water-lightest-minor;
	}
}

// VIEWPORT :: TABLET
// ===============================================
@include tablet {
	.account { background: $water-lighter-minor; }
}

// END
// ***********************************************/
