// STYLE PARTIAL: ACCOUNT BAR
// ***********************************************
// SECTION :: ALL
// ===============================================
@mixin mobile-friendly-account($bg) {
	.account {
		background: $water-dark-minor;
		display:    block;
	}
}

.account {
	line-height: normal;
	margin:      0;
	padding:     10px 0;
	text-align:  right;

	a {
		font-weight: bolder;
		padding:     10px;
	}
}

.user {
	display: inline-block;

	a {
		font-weight: bolder;
	}
	&:hover .logged-in {
		color:      $page-darkest-minor; 
		background: $fire-light-minor;
	}
}

.logged-in {
	background:     $water-darker-minor;
	color:          $page-lightest-minor;
	letter-spacing: 2px;
}

// END
// ***********************************************/