// STYLE PARTIAL: ACCOUNT BAR
// ***********************************************
// SECTION :: ALL
// ===============================================
.account {
	line-height: normal;
	margin:      0;
	padding:     10px 0;
	text-align:  right;

	@include desktop {
		float: right;
		width: $one-fourth;
	}
	@include mobile {
		background: $water-dark-minor;
		display:    block;
	}

	a {
		font-weight: bolder;
		padding:     10px;
	}
}

.user {
	display: inline-block;

	a {
		font-weight: bolder;
	}
	&:hover .logged-in {
		color:      $page-darkest-minor; 
		background: $fire-light-minor;
	}
}

.logged-in {
	background:     $water-darker-minor;
	color:          $page-lightest-minor;
	letter-spacing: 2px;
}


// VIEWPORT SPECIFIC
// ===============================================
@include mobile {
	.session a,
	.session a:visited {
		color: $water-lighter-minor;
	}
}

@include non-mobile {
	.session a {
		color: $page-color;

		&:visited {
			color: $page-color;
		}
		&:hover {
			color: $water-light-minor;
		}
	}
}

// END
// ***********************************************/