// STYLE PARTIAL: CONTENT HEADER
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
h1 {
	font-size:   $heading-size;
	font-weight: 900;
	margin:      0;

	.item-label {
		display:     block;
		font-family: "Segoe UI";
		font-size:   $heading-size - 3px;
		font-weight: 500;
		padding:     0;
	}
}
.byline {
	display:     block;
	font-weight: lighter;
	font-size:   $heading-size - 3px;
}

// VIEWPORT :: DESKTOP
// ===============================================
@include desktop {
	.page-content > header {
		margin: 0;
	}
	h1 {
		padding: 30px $one-twelfth 5px;
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	.page-content > header {
		margin:  0;
	}
	h1 {
		padding: 15px 10px;
	}
}

// END
// ***********************************************/
