// STYLE PARTIAL: MENU BAR
// ***********************************************
// SECTION :: ALL
// ===============================================
@mixin hide-arrow() {
	.submenu, 
	.drop-arrow {
		display: none;
	}
}

.menu {
	text-align: center;

	li ul {
		display: none;
	}
	
	a {
		color:          $water-lightest-minor;
		display:        block;
		font-variant:   small-caps;
		letter-spacing: 2px;
		padding:        10px;

		&:visited { color: $water-lightest-minor; }
		&:hover   { color: $water-light-minor;    }
	}
	ul {
		margin:  0;
		padding: 0;
	}
}

.submenu {
	background: $water-dark-major;
	z-index: 200;
}

// END
// ***********************************************/