// STYLE PARTIAL: MENU BAR
// ***********************************************
// SECTION :: ALL
// ===============================================
.menu {
	text-align: center;
	
	@include desktop {
		width: $three-fourths;
	}
	@include mobile {
		display: block;

		li {
			width: $one-half;
			float: left;
		}
	}

	a {
		color:          $water-lightest-minor;
		display:        block;
		font-variant:   small-caps;
		letter-spacing: 2px;
		padding:        10px;

		&:visited { color: $water-lightest-minor; }
		&:hover   { color: $water-light-minor;    }
	}
	ul {
		margin:  0;
		padding: 0;
	}
}

.submenu {
	@include gradientized(180deg, $water-darker-minor, $water-dark-major);

	z-index: 100;

	@include desktop {
		width: (3/4) * (1/4) * (5/6) * 100%; 
	}
	@include non-mobile {
		float:    left;
		position: absolute;

		a {
			font-size: .9em;
			padding:   10px 5px;
		}
	}
	@include tablet {
		width: (1/4) * (5/6) * 100%;
	}
}

// VIEWPORT SPECIFIC
// ===============================================
@include mobile {
	.submenu, 
	.drop-arrow {
		display: none;
	}
}
@include non-mobile {
	.drop-arrow {
		font-size: .68em;
	}
	.menu a {
		padding: 9px 0;
	}
	.menu > ul > li {
		width: $one-fourth;
		float: left;
	}

}
@include tablet {
	.menu > ul > li { width: 24.50%; }
}

// END
// ***********************************************/