// STYLE PARTIAL: CONTENT HEADER
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
// STRUCTURE
// -----------------------------------------------
.page-content > header {
	background:          $page-color;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	margin:              0;
	padding:             0;
}
.dashboard-header {
	border-bottom-color: $fire-light-minor;
}
.subject-header {
	border-bottom-color: $water-color;
}
.tag-header, 
.category-header {
	border-bottom-color: $moss-color;
}

// HEADINGS
// -----------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI";
	font-weight: 900;
	margin:      0px;
	padding:     0px;
}
h1 {
	font-size: $heading-size;

	@include desktop {
		padding: 60px $one-twelfth 5px;
	}
	@include non-desktop {
		padding: 15px 10px;
	}
}
h2 {
	font-size:   $heading-size - 6px;
	font-weight: lighter;
	margin:      0px;
}

.subtitle {
	display:     block;
	font-size:   0.8em;
	font-weight: 500;
}
.byline {
	display:     block;
	font-weight: lighter;
}

// END
// ***********************************************/
