// STYLE PARTIAL: CONTENT HEADER
// ***********************************************
// SETUP :: MIXINS
// ===============================================
@mixin page-look($page-background, $page-border) {
	.page-content { background: $page-background; }
	.path-finder  { border-top: 7px solid $page-border; }
}

@mixin header-look($header-background, $heading-background, $page-border) {
	.page-content > header {
		background:    $header-background;
		border-bottom: 7px solid $page-border;
	}
	h1 {
		background: $heading-background;
	}

	@include desktop {
		.logged-in {
			background: $heading-background;
		}
	}
}

// VIEWPORT :: ALL
// ===============================================
// STRUCTURE
// -----------------------------------------------
.page-content > header {
	-moz-box-sizing: border-box;
	box-sizing:      border-box;
	color:   $page-color;

	a { color: $page-color; }
}

// HEADINGS
// -----------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI";
	font-weight: 900;
	margin:      0px;
	padding:     0px;
}
h1 {
	font-size: $heading-size;
	padding:   15px $one-twelfth 5px;

	@include desktop {
		padding-top: 60px;
	}
}
h2 {
	font-size:   $heading-size - 6px;
	font-weight: lighter;
	margin:      0px;
}

.subtitle {
	display:     block;
	font-size:   0.8em;
	font-weight: 500;
}
.byline {
	display:     block;
	font-weight: lighter;
}

// END
// ***********************************************/
