<% provide :title, "Dashboard (Pen Names)" %>

<header>
	<h1>
		My Dashboard
		<%= subtitle "Pen Names" %>
	</h1>
</header>

<div class="dashboard-grid">
	<%= solo_cell do @pen_names.tableize('Current') end %>
</div>
