<% provide :title, "Dashboard (Pen Names)" %>

<header>
	<h1>
		My Dashboard
		<%= label_span "Pen Names" %>
	</h1>
</header>

<div class="dashboard-grid">
	<div class="grid-panel">
		<div class="panel-cell solo"><%= @pen_names.tableize('Current') %></div>
	</div>
</div>
