<div class="toolkit alteration">
	<%= link_to 'Edit',   edit_polymorphic_path(item), remote: true %>
	<%= link_to 'Delete', item, method: :delete, data: { confirm: "Are you sure you want to delete #{item.heading}?" } %>
</div>
