<nav class="toolkit creation" id="<%= "button#{new_polymorphic_path(item_type).gsub('/', '_')}" %>">
	<%= link_to "+ Create #{titleized_type}", new_polymorphic_path(item_type), remote: true %>
</nav>
