<footer class="path-finder">
	<p>
		<%= link_to 'Characters', characters_path %> | 
		<%= link_to 'Groups', squads_path %> |
		<%= link_to 'Items', items_path %> | 
		<%= link_to 'Places', places_path %>
	</p>
</footer>
