<% provide(:title, "Help") %>
<h1>Help</h1>

<div class="poster-grid">
	<div class="grid-panel lightest-major">
		<div class="panel-cell quintet water"><p>Lightest</p></div>
		<div class="panel-cell quintet fire"><p>Lightest</p></div>
		<div class="panel-cell quintet moss"><p>Lightest</p></div>
		<div class="panel-cell quintet rose"><p>Lightest</p></div>
		<div class="panel-cell quintet page"><p>Lightest</p></div>
	</div>

	<div class="grid-panel lightest-minor">
		<div class="panel-cell quintet water"><p>Lightest</p></div>
		<div class="panel-cell quintet fire"><p>Lightest</p></div>
		<div class="panel-cell quintet moss"><p>Lightest</p></div>
		<div class="panel-cell quintet rose"><p>Lightest</p></div>
		<div class="panel-cell quintet page"><p>Lightest</p></div>
	</div>

	<div class="grid-panel lighter-major">
		<div class="panel-cell quintet water"><p>Lighter</p></div>
		<div class="panel-cell quintet fire"><p>Lighter</p></div>
		<div class="panel-cell quintet moss"><p>Lighter</p></div>
		<div class="panel-cell quintet rose"><p>Lighter</p></div>
		<div class="panel-cell quintet page"><p>Lighter</p></div>
	</div>

	<div class="grid-panel lighter-minor">
		<div class="panel-cell quintet water"><p>Lighter</p></div>
		<div class="panel-cell quintet fire"><p>Lighter</p></div>
		<div class="panel-cell quintet moss"><p>Lighter</p></div>
		<div class="panel-cell quintet rose"><p>Lighter</p></div>
		<div class="panel-cell quintet page"><p>Lighter</p></div>
	</div>

	<div class="grid-panel light-major">
		<div class="panel-cell quintet water"><p>Light</p></div>
		<div class="panel-cell quintet fire"><p>Light</p></div>
		<div class="panel-cell quintet moss"><p>Light</p></div>
		<div class="panel-cell quintet rose"><p>Light</p></div>
		<div class="panel-cell quintet page"><p>Light</p></div>
	</div>

	<div class="grid-panel light-minor">
		<div class="panel-cell quintet water"><p>Light</p></div>
		<div class="panel-cell quintet fire"><p>Light</p></div>
		<div class="panel-cell quintet moss"><p>Light</p></div>
		<div class="panel-cell quintet rose"><p>Light</p></div>
		<div class="panel-cell quintet page"><p>Light</p></div>
	</div>

	<div class="grid-panel medium-color">
		<div class="panel-cell quintet water"><p>Medium</p></div>
		<div class="panel-cell quintet fire"><p>Medium</p></div>
		<div class="panel-cell quintet moss"><p>Medium</p></div>
		<div class="panel-cell quintet rose"><p>Medium</p></div>
		<div class="panel-cell quintet page"><p>Medium</p></div>
	</div>

	<div class="grid-panel dark-minor">
		<div class="panel-cell quintet water"><p>Dark</p></div>
		<div class="panel-cell quintet fire"><p>Dark</p></div>
		<div class="panel-cell quintet moss"><p>Dark</p></div>
		<div class="panel-cell quintet rose"><p>Dark</p></div>
		<div class="panel-cell quintet page"><p>Dark</p></div>
	</div>

	<div class="grid-panel dark-major">
		<div class="panel-cell quintet water"><p>Dark</p></div>
		<div class="panel-cell quintet fire"><p>Dark</p></div>
		<div class="panel-cell quintet moss"><p>Dark</p></div>
		<div class="panel-cell quintet rose"><p>Dark</p></div>
		<div class="panel-cell quintet page"><p>Dark</p></div>
	</div>

	<div class="grid-panel darker-minor">
		<div class="panel-cell quintet water"><p>Darker</p></div>
		<div class="panel-cell quintet fire"><p>Darker</p></div>
		<div class="panel-cell quintet moss"><p>Darker</p></div>
		<div class="panel-cell quintet rose"><p>Darker</p></div>
		<div class="panel-cell quintet page"><p>Darker</p></div>
	</div>

	<div class="grid-panel darker-major">
		<div class="panel-cell quintet water"><p>Darker</p></div>
		<div class="panel-cell quintet fire"><p>Darker</p></div>
		<div class="panel-cell quintet moss"><p>Darker</p></div>
		<div class="panel-cell quintet rose"><p>Darker</p></div>
		<div class="panel-cell quintet page"><p>Darker</p></div>
	</div>

	<div class="grid-panel darkest-minor">
		<div class="panel-cell quintet water"><p>Darkest</p></div>
		<div class="panel-cell quintet fire"><p>Darkest</p></div>
		<div class="panel-cell quintet moss"><p>Darkest</p></div>
		<div class="panel-cell quintet rose"><p>Darkest</p></div>
		<div class="panel-cell quintet page"><p>Darkest</p></div>
	</div>

	<div class="grid-panel darkest-major">
		<div class="panel-cell quintet water"><p>Darkest</p></div>
		<div class="panel-cell quintet fire"><p>Darkest</p></div>
		<div class="panel-cell quintet moss"><p>Darkest</p></div>
		<div class="panel-cell quintet rose"><p>Darkest</p></div>
		<div class="panel-cell quintet page"><p>Darkest</p></div>
	</div>
</div>
