<h1>Pleiades</h1>

<div class='home'>
	<section>
		<h2>Anthologies / recently updated</h2>
		<%= render 'anthologies/list' %>
	</section>

	<section>
		<h2>Works / recently updated</h2>
		<%= render 'works/list' %>
	</section>
</div>
