<header>
	<h1>See All</h1>
	<nav>
		<%= link_to 'Anthologies', anthologies_path %><%= link_to 'Works', works_path %><%= link_to 'Characters', characters_path %><%= link_to 'Tags', tags_path %>
	</nav>
</header>