<div class="poster poster-grid">
	<%= solo_cell do render 'welcome' end %>
	<%= grid_panel "recent-panel" do %>
		<%= panel_cell "duo" do @anthologies.recent_widget end %>
		<%= panel_cell "duo" do @works.recent_widget       end %>
	<% end %>
</div>
