<% provide(:title, "Qualities") %>
<div id="main" class="index">
  <header>
    <h1>Qualities</h1>
    <%= creation_toolkit("Qualities", :quality) %>
  </header>

  <%= render 'list' %>
  <%= render 'descriptors/shared/footer' %>
</div>
