<% provide(:title, "Qualities") %>
<div id="main" class="index">
  <header>
    <h1>Qualities</h1>
    <%= index_toolkit("Qualities", new_quality_path) %>
  </header>

  <%= render 'list' %>
  <%= render 'descriptors/shared/footer' %>
</div>
