/* TEMPLATE: SHOW CHARACTER
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/categories/subjects";
@import "partials/pagination";
@import "partials/ratings";

// VIEWPORT :: ALL
// ===============================================
// -- Structural
// -----------------------------------------------
// ----- General
// ...............................................
article {
	padding-bottom: 50px;
	overflow: auto;
}
canvas {
	height:  300px;
	width:   300px;
	margin:  10px;
	display: block;
}
.page-body > header {
	border-bottom: 3px solid $water-color;
}

// ----- Aside
// ...............................................
aside h2 {
	@include gradientized(90deg, $fire-lighter, $fire-lightest);
	color:   $fire-darker;
	margin:  0;
}
aside dl {
	padding: 5px 15px;
	margin-bottom: 15px;
}
// ----- Footer
// ...............................................
.pagination {
	margin: 50px auto 10px auto;

	li {
		width: calc(33.33% - 6px);
	}
}

// -- Header
// -----------------------------------------------
header p {
	margin: 2px 20px;
	line-height: 1;
}
.announce {
	border-radius: 10px;
	margin:        10px 0;
}
.identifiers {
	font-style: italic;
}

// -- Sections
// -----------------------------------------------
section {
	margin: 0;
	p {
		max-width: 900px;
		margin: 5px 15px;
	}
	h2 {
		@include gradientized(90deg, $water-lightest, $water-color);
		padding: 5px 10px;
		margin:  0;
		color:   $water-darkest;
		border-bottom: 4px $water-color solid;
	}
}
.clones {
	margin: 0;
	padding: 10px;
}

// -- Text
// -----------------------------------------------
h2 {
	margin:  5px 0;
	padding: 7px 10px;
	font:    22px arial;
}
h3 {
	font:   20px arial;
	margin: 5px;
}

// -- Toolkits
// -----------------------------------------------
.replication {
	@include buttonable($water-color);
	font-size: .85em;
	border-radius: 10px;
	margin:        10px auto;
	margin-bottom: 0;
	overflow:      auto;
	width:         20%;
	min-width:     200px;

	a {
		background:     none;
		display:        block;
		font-weight:    bolder;
		float:          left;
		letter-spacing: 1px;
		padding:        5px 0;
		text-align:     center;
		width:          100%;
		&:hover {
			border-radius: 0;
		}
	}
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	#main > header { border: none; }
	aside h2 {
		border-top: 3px solid $fire-lighter;
	}
	aside dl {
		@include columnable(2);
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	.feature {
		margin: 0 10px;
	}
}

// VIEWPORT :: NON-MOBILE
// ===============================================
@include non-mobile {
	aside {
		float: right;
		width: calc(100% - (100% / 1.618) - 10px);
	}

	aside + section {
		margin-right: 100% - (100% / 1.618);
	}
}

/* END
/* ***********************************************/
