/* TEMPLATE: SHOW PLACE
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/general_subject";

// VIEWPORT :: ALL
// ===============================================
.related-places {
	padding: 5px 0;
	dl {
		padding: 10px;
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	.feature {
		margin: 0 10px;
	}
}

/* END
/* ***********************************************/
