<% provide(:title, "Notes") %>

<main id='item'>
	<%= render 'shared/work_header' %>
	
	<article>
		<h2>Notes</h2>

		<% if @notes.length > 0 %>
			<%= render 'list' %>
		<% else %>
			<%= build_toolkit @work, 'Note' %>
		<% end %>
	</article>

	<%= render 'shared/work_footer' %>
</main>
