<% provide(:title, "Items") %>

<main class='index'>
	<header>
		<h1>Items</h1>
		<%= index_toolkit "Item", new_item_path %>
	</header>

	<%= render 'list' %>
	<%= render 'subjects/shared/footer' %>
</main>
