<% provide(:title, "Items") %>

<div id="main" class="index">
	<header>
		<h1>Items</h1>
		<%= creation_toolkit "Item", new_item_path %>
	</header>

	<article><%= @items.list if @items.can_list? %></article>
	
	<%= render 'subjects/shared/footer' %>
</div>
