<% provide(:title, @item.name) %>
<main class="itemized">
	<header>
		<%= model_toolkit @item %>
		<h1><%= @item.heading %></h1>
		<p><%= indefinite_article("#{cslinks(@item.qualities)} #{@item.generic.name}") %></p>
	</header>

	<article>
		
	</article>

	<%= render 'subjects/shared/footer' %>
<main>
