/* TEMPLATE: SHOW IDENTITY
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/categories/tags";
@import "partials/pagination";
@import "partials/content/analytics";

// VIEWPORT :: ALL
// ===============================================
.related-menu {
	margin: 0 10px;

	a {
		background:      $moss-lighter-minor;
		color:           $moss-darkest-minor;
		display:         inline-block;
		font-weight:     bolder;
		padding:         10px;
		text-decoration: none;

		&:hover {
			background: $page-lighter-minor;
			color:      $moss-darker-minor;
		}
	}
}

/* END
/* ***********************************************/
