/* TEMPLATE: SHOW QUALITY
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/categories/tags";
@import "partials/forms/fieldsets/radio";

// STYLES
// ===============================================
fieldset {
	border: none;
}
legend {
	display: none;
}
dl {
	padding: 10px;
}

/* END
/* ***********************************************/
