/* TEMPLATE: SHOW SHORT STORY
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "templates/work";
@import "partials/works/fiction";

// VIEWPORT :: ALL
// ===============================================
.page-content > header .about {
	margin: 0 $one-sixth;
}
.status {
	width: calc(100% / 4 - 20px);
}
.page-content > header .alteration {
	margin: 0 $one-sixth;
	width:  $two-thirds;
}
.multikit {
	margin: 0;
}
.related-menu {
	padding:        5px;
	padding-bottom: 0;
	text-align:     center;
}
h1 {
	padding: 5px $one-sixth;
}

/* END
/* ***********************************************/
