<% provide(:title, "Tags") %>

<div id="main" class="index">
  <header>
    <h1>Tags</h1>
    <%= index_toolkit("Tags", new_tag_path) %>
  </header>

  <%= render 'list' %>
  <%= render 'descriptors/shared/footer' %>
</div>
