<% provide(:title, @tag.name) %>

<div id="main" class="feature">
  <header>
    <%# edit_bar @tag %>
    <h1><%= @tag.name %></h1>
    <p>created : <%= record_time @tag.created_at %></p>
    <nav>
      <%= link_to "All Works", tag_works_path(@tag) %>
    </nav>
  </header>

  <article>
    <h2>Statistics</h2>
  </article>

  <%= render 'descriptors/shared/footer' %>
</div>
