<table class="relateable switch-board">
	<caption>Works</caption>
	<thead>
		<tr>
			<th>Type</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody id="work-categories" class="relateable-body switch-board-body">
		<% WorksTypeDescriber.all.order(:name).each do |type| %>
			<tr>
				<th><%= link_to type.heading, work_category_path(type) %></th>
				<td class="switch-state">
					<%= toggle_field_cell "category", type.id, @creator_category.connected?(type) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script type="text/javascript">
$('.switch-field .switch').click(function() {

	if ($(this).is(':checked')) {
		$.ajax({
			type: "POST",
			url: "/agentize/" + $(this).data('toggle-id') + "/" + <%= @creator_category.id %>
		});
	} else {
		$.ajax({
			type: "DELETE",
			url: "/agentize/" + $(this).data('toggle-id') + "/" + <%= @creator_category.id %>
		});
	}

});
</script>
