<% provide(:title, "Creator Categories") %>

<header class="index-header">
	<h1>Creator Categories</h1>
	<%= @creatorships.found_status %>
	<%= creation_toolkit("Category", :creator_category) %>
</header>

<div class="index-body">
	<%= @creatorships.results %>
</div>
