<div class='nested-fields'>
	<fieldset>
		<legend>Descriptor</legend>
		<%= render partial: 'subjects/characters/nested/descriptor_fields', locals: { f: f } %>
	</fieldset>

	<p><%= link_to_remove_association "- Remove Descriptor", f %></p>
</div>
