<div class='nested-fields'>
	<fieldset>
		<legend>Prejudice</legend>
		<%= render partial: 'subjects/characters/nested/descriptor_fields', locals: { f: f } %>
		<%= render 'subjects/characters/nested/viewpoint_fields', f: f %>
	</fieldset>

	<p><%= link_to_remove_association "- Remove Prejudice", f %></p>
</div>
