// STYLE PARTIAL: ANALYTICS
// ***********************************************
.analytics {
	margin: 15px auto;
	width:  $three-fourths;

	caption {
		padding: 5px;
	}
	
	thead th {
		padding:    15px 10px;
		background: $page-lighter-minor;
		color:      $page-darkest-minor;
		border-bottom: 5px solid $page-dark-minor;
	}
	th {
		padding: 10px;
	}
	td {
		text-align: center;
	}
	tfoot {
		border-top: 2px solid $page-dark-minor;
		text-align: left;
	}

	@include non-desktop {
		tbody th {
			background:    $page-lighter-minor;
			border-bottom: 5px solid $page-dark-minor;
			color:         $page-darkest-minor;
		}

		td {
			text-align: left;
			padding:    5px;
		}

		tfoot {
			overflow: auto;

			th,
			td {
				display: inline-block;
				float:   left;
				padding: 5px;
				width:   calc(50% - 10px);
			}
		}
	}
}

// END
// ************************************************/