// STYLE PARTIAL: RELATEABLE TABLES
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.relateable {
	margin: 0 auto;
	width:  100%;

	caption {
		background:    $moss-lighter-minor;
		border-bottom: 4px solid $moss-dark-minor;
	}

	thead {
		background:    $moss-lightest-minor;
		border-bottom: 2px solid $moss-light-major;
	}
}
.relateable-body {
	text-align: center;

	th {
		font-weight: bolder;
		padding-bottom: 0;
	}
	@include tablet {
		tr {
			float: left;
			width: calc(33.33% - 20px);
		}
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include desktop {
	tr:nth-child(2n) {
		background: $page-lightest-major;
	}
}

// END
// ************************************************/