// STYLE PARTIAL: RESULTS
// ***********************************************
// SECTION :: HEADER
// ===============================================
.tableized-results caption {
	background:    $water-dark-minor;
	border-bottom: 5px solid desaturate($water-darker-minor, 20%);
	color:         $water-lightest-minor;
}

.tableized-results thead {
	background:    desaturate(lighten($fire-lightest-major, 15%), 20%);
	border-bottom: 5px solid desaturate($fire-lighter-minor, 20%);
}

// SECTION :: BODY
// ===============================================
@include desktop {
	.tableized-results tr:nth-child(2n) {
		background: $water-lightest-minor;
	}
}

@include non-desktop {
	.tableized-results td:not(.manager-editor):before {
		border-bottom:  1px solid $fire-light-minor;
		margin-bottom:  2px;
		padding:        5px 0;
		padding-bottom: 2px;
	}

	.tableized-results tbody th {
		text-align: center;
		padding:    0;
	}
}

// END
// ************************************************/