.model-make {
	width: 90%;
	margin: 10px auto;

	input[type="submit"] { 
		@include clickable($moss-darker);
		margin:  15px auto;
	}
	input, select, textarea { width: 100%; }
}

/* FORM PAGE
************************************************/
.new, .edit {
	margin: 15px auto;
	@include mobile { width: 90%; }
	@include non-mobile { width: 60%; }
}

/* NESTED FIELDS
************************************************/
.nested {
	@include gradient-back(180deg, $water-lighter, $page-color);
	input, textarea { border-style: solid; }
	.field { margin: 0; }
	fieldset { 
		padding: 0;
		margin: 0;
		width: 100%;
	}
}
.tags .field { 
	margin: 0;
	padding: 0 10px;
	padding-top: 10px;
}
.nested-fields {
	background: $water-darker;
	@include gradient-back(180deg, $water-lighter, $page-color);
	font-size: .85em;
	margin:    10px auto;
	width:     90%;
	p { padding: 0; }
}
.hider { 
	//margin: 0;
	float:  right;
}
.edit .nested, .new .show { display: none; }
#form_descriptions, #tags { display: block; }
#show_descriptions { display: none; }
.add_fields    { margin-top: 15px; }
.hide, .remove_fields { text-align: right; }

.show { 
	@include togglable($water-light);
	margin: 15px 20px;
}
.hide { @include togglable($water-lighter); }
.add_fields    { @include togglable($water-lightest); }
.remove_fields { @include togglable($water-lighter);  }

/* SLIDER
************************************************/
.slider {
	margin: 10px;
	margin-bottom: 15px;
}
.range {
	margin: 10px 0;
	.label {
		font-weight: bolder;
		display: inline-block;
		width: 50%;
		text-align: right;
	}
	.val {
		font-weight: lighter;
		display:     inline-block;
		margin:      0 10px;
    	color: $water-darker;
	}
}
.range-values {
    width: calc(60% - 20px);
    margin: 10px auto;
    &, .ui-slider-range { background: $water-color; }
}


/* RADIO BUTTONS
************************************************/
.options {
	@include gradient-back(180deg, $water-lighter, $page-color);
	margin:     10px auto;
	padding:    10px 0;
	overflow:   auto;
	min-width:  calc(80% - 26px);
	text-align: center;
}
.choice {
	@include chooseable($water-color);
	margin:   5px 10px;
	overflow: auto;
	display: inline-block;

	.field {
		border:  none;
		float:   left;
		padding: 0;
		margin:  0;
	}
	label {
		background: none;
		border:     none;
		display:    inline-block;
		padding:    6px 10px;
		color:      #FFF;
		text-align: center;
		width:      calc(100% - 20px);
		cursor:     pointer;
	}
	input { display: none; }
}
/* END */