/* INDEX PAGE
************************************************/
.index {
	article {
		dl, ul, ol {
			@include column-counting(5);
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	dt { 
		font-weight: bolder;
		color: $moss-darker;
	}
	h2 {
		margin:        15px 10px 0 10px;
		font-weight:   600;
		font-size:     $heading-size - 2;
		border-bottom: 2px dotted $water-dark;
	}
	p { padding: 0 2px; }
}
.pagination { padding: 5px 15px; }
.descriptive { max-width: 900px; }
.related_items { text-align: center; }
.date {
	font-size: .85em;
	.label { 
		font-style:  italic;
		font-weight: bolder;
	}
}

// RESPONSIVE
@include reel {
	.organizer { display: none; }
}
@include non-mobile {
	.organizer {
		background: $water-color;
		border-bottom: 5px solid $water-dark;
		float: left;
		width: 200px;
		margin: 10px 0;
		h2 {
			background: $water-lighter;
			border-bottom: 5px solid $water-dark;
			margin: 0;
			padding: 5px 15px;
			font-size: $heading-size - 10px;
			font-weight: 600;
		}
		ul {
			background: $water-lightest;
			padding: 0;
			margin:  0;
		}
		li {
			padding: 0;
			display: block;
			font-weight: 600;
			font-size:   .85em;
			text-align: center;
			a {
				display: block;
				padding: 5px 15px;
				&:hover {
					color: $water-dark;
					background: $page-color;
				}
			}
		}
	}
	.organizer + section { margin-left: 240px; }
}

/* END */
