/* ITEM PAGE
************************************************/
.itemized {
	margin: 15px auto;
	width:  90%;
	.toolkit { margin: 0; }
	div { overflow: auto; }
	footer { 
		text-align: center;
		p { padding: 0; }
	}
	aside {
		margin: 15px 0;
		@include reel {
			width: calc(100% - 40px);
			padding: 5px;
		}
		@include non-mobile {
			float: left;
			padding: 0 15px;
		}
		@include portrait  { width: calc(50% - 30px); }
		@include landscape { width: calc(40% - 30px); }

		article { 
			margin: 0;
			padding: 0;
		}
		h2 {margin-bottom: 0;
		}
		& > dl { text-align: center; }
	}
	.content > aside {
		@include landscape { width: calc(20% - 30px); }	
	}
	aside + section {
		margin:      15px 0;

		@include portrait  { margin-left: calc(50% + 30px); }
		@include landscape { margin-left: calc(20% + 30px); }
	}
	h2 {
		font-size: $heading-size - 2;
		letter-spacing: 3px;
		font-variant: small-caps;
		font-weight: lighter;
		padding: 0;
		margin: 0;
	}
}
article tbody .toolkit {
	@include non-desktop {
		display: none;
	}
}

// SUBCONTENT DETAILS
.piece {
	margin:    15px auto;
	width:     80%;
	min-width: 200px;
	max-width: 700px;
	footer {
		border-top: 2px solid $read-color;
		margin: 25px;
		text-align: left;
		p { padding: 0; }
	}
	header {
		margin: 25px;
		border-bottom: 2px solid $read-color;
	}
	h2 { margin: 0; }
	.toolkit { margin: 5px 0; }
}

// RATINGS AND REVIEWS
.rating { font-weight: bolder; }
.avg    { text-align: center; }
.level0 { color: $rating-lowest; }
.level1 { color: $rating-low; }
.level2  { color: $rating-mid; }
.level3  { color: $rating-high; }
.level4  { color: $rating-highest; }

// HEADER INFO
.identifiers { color: $fade-color; }
.meta {
	color: $fade-color; 
	border-top:    1px solid $moss-color;
	border-bottom: 1px solid $moss-color;
	width:         80%;
	max-width:     730px;
	margin:        10px auto;
	th {
		width: 25%;
		text-align: right;
		vertical-align: top;
	}
	dd { padding: 0; }
}
// FOOTER INFO
.directed {
	padding: 10px;
	a, b {
		display: inline-block;
		width:   20%;
	}
}


/* END */