/* ITEM PAGE
************************************************/
.itemized {
	margin: 15px auto;
	width:  90%;
	.toolkit { margin: 0; }
	footer { 
		text-align: center;
		p { padding: 0; }
	}
	aside {
		@include page-shadow($water-light);
		width: calc(20% - 30px);
		margin: 15px 0;
		padding: 15px;
		float: left;
		article { 
			margin: 0;
			padding: 0;
		}
		h2 {margin-bottom: 0;
		}
		& > dl { text-align: center; }
	}
	aside + article { margin-left: calc(20% + 30px); }
	h2 {
		font-size: $heading-size - 2;
		letter-spacing: 3px;
		font-variant: small-caps;
		font-weight: lighter;
	}
}
.piece {
	margin:    15px auto;
	width:     80%;
	min-width: 200px;
	max-width: 700px;
	footer {
		border-top: 2px solid $read-color;
		margin: 25px;
		text-align: left;
		p { padding: 0; }
	}
	header {
		margin: 25px;
		border-bottom: 2px solid $read-color;
	}
	h2 { margin: 0; }
	.toolkit { margin: 5px 0; }
}

// RATINGS AND REVIEWS
.rating { font-weight: bolder; }
.level-2 { color: $rating-lowest; }
.level-1 { color: $rating-low; }
.level0  { color: $rating-mid; }
.level1  { color: $rating-high; }
.level2  { color: $rating-highest; }

// META INFO
.identifiers { color: $fade-color; }
.meta {
	color: $fade-color; 
	border-top:    1px solid $moss-color;
	border-bottom: 1px solid $moss-color;
	width:         80%;
	margin:        10px auto;
	th {
		width: 25%;
		text-align: right;
		vertical-align: top;
	}
	dd { padding: 0; }
}


/* END */