<div class='nested-fields'>
	<fieldset>
		<%= form_field f.label(:subdomain_id, "Place"), f.collection_select(:subdomain_id, @subdomains, :id, :heading, {}, :class => 'selectables') %>
	</fieldset>

	<p><%= link_to_remove_association "- Remove Place", f %></p>
</div>
