<div class="form-grid select-one">
	<%= grid_panel do %>
		<% (mn..mx).each do |idx| %>
			<%= panel_cell "" do %>
				<div class="radio-content">
					<%= f.radio_button(param, (idx + offset), :checked => (idx == default)) %>
					<%= f.label("#{param}_#{idx}", collection[idx]) %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
