<%  provide :title, "My Uploads" %>
<%= dashboard_header ["My Uploads"] do %>
	
<% end %>

<div class="dashboard-grid">
	<%= solo_cell do %>
		<% if @uploads.length > 0 %>
			<%= render 'table' %>
		<% else %>
			<p>Empty</p>
			
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".sortable").tablesorter();
	});
</script>
