<% provide :title, "My Stylesheets" %>
<%= dashboard_header ["Uploads", "Stylesheet Skins"] %>

<div class="dashboard-grid">
	<%= render 'users/uploads/table' %>
	<%= prechecked_creation_toolkit("Stylesheet Skin", :skin) %>
</div>
