<% provide :title, "Dashboard (Stylesheets)" %>

<header>
	<h1>
		My Dashboard
		<%= subtitler "Stylesheet Skins" %>
	</h1>
</header>

<div class="dashboard-grid">
	<%= solo_cell do render 'skins' end %>
</div>
