<% provide :title, "Dashboard (Stylesheets)" %>

<header>
	<h1>
		My Dashboard
		<%= subtitler "Stylesheet Skins" %>
	</h1>
</header>

<div class="dashboard-grid">
	<div class="grid-panel">
		<div class="panel-cell solo"><%= render 'skins' %></div>
	</div>
</div>
