<%= form_for(@facet) do |f| %>
  <fieldset>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </fieldset>

  <fieldset class="submit">
    <%= f.submit %>
  </fieldset>
<% end %>
