<header>
	<h1>Facets</h1>
</header>

<%= link_to 'Create More', new_facet_path %>

<table class='index'>
	<tbody>
		<% @facets.each do |facet| %>
		<tr>
			<th><%= link_to facet.name.titleize, facet %></th>
			<td><%= link_to 'Edit', edit_facet_path(facet) %></td>
			<td><%= link_to 'Delete', facet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<footer>
</footer>