/* TEMPLATE: SHOW CREATORSHIP
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/categories/tags";
@import "partials/pagination";
@import "partials/content/analytics";

// STYLES
// ===============================================
#distribution {
	margin: 53px 10px;
	width:  calc(50% - 20px);
}
.stat-distribution {
	margin: 10px;
}
.analytics {
	width:  calc(50% - 20px);
	margin: 0 auto;
	float:  left;
}
article div {
	overflow: auto;
	
	p { text-align: center; }
}

/* END
/* ***********************************************/
