<table class="tableized-results sortable">
	<thead>
		<tr>
			<th>Title</th>
			<th>Creation Date</th>
			<th>Update Date</th>
		</tr>
	</thead>
	<% @notes.each do |note| %>
		<tr class="index-content note-info editable-content">
			<th>
				<%= link_to note.heading, [@work, note] %>
				<%= note.manage_kit %>
			</th>
			<td data-label="Creation Date"><%= record_time note.created_at %></td>
			<td data-label="Update Date"><%= record_time note.updated_at %></td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(document).ready(function(){ $(".sortable").tablesorter(); });
</script>
