<table>
	<% count = 0 %>
	<% @notes.each do |note| %>
		<tr>
			<th><%= count = count + 1 %></th>
			<td><%= link_to note.heading, [@work, note] %></td>
			<td><%= model_toolkit(note) %></td>
		</tr>
	<% end %>

	<tfoot>
		<tr>
			<td colspan='3'><%= component_toolkit @work, 'Note' %></td>
		</tr>
	</tfoot>
</table>
