<% provide(:title, @note.editing_title) %>

<div id="main" class="edit generator">
	<%= @note.editor_heading %>
	<%= render 'form' %>
</div>

<script>
	autosize(document.querySelectorAll('textarea'));
</script>

