<% provide(:title, "Notes") %>

<main class="feature">
	<%= render 'works/shared/header' %>
	
	<article>
		<h2>Notes</h2>

		<% if @notes.length > 0 %>
			<%= render 'list' %>
		<% else %>
			<%= component_toolkit @work, 'Note' %>
		<% end %>
	</article>

	<%= render 'works/shared/footer' %>
</main>
