// STYLE PARTIAL: ALERTS
// ***********************************************
// SETUP :: MIXINS
// ===============================================
@mixin alert-look($box-color, $text-color) {
	background : $box-color;
	color      : $text-color;

	a {
		color: lighten($text-color, 15%);

		&:hover {
			text-decoration : none;
		}
	}
}
// ===============================================

// SITE ALERTS
// ===============================================
$gutter : $one-twelfth;

.alert,
.notice,
.announce {
	font-size  : 1.3em;
	margin     : 10px auto;
	text-align : center;
}

.alert {
	@include alert-look(red, white);

	padding : 20px;
	width   : 90%;
}

.announce {
	@include alert-look($fire-light-minor, $fire-darkest-minor);

	padding : 10px;
	width   : 50%;
}

.notice {
	@include alert-look($water-color, $water-lightest-minor);

	margin   : 0 $gutter;
	position : absolute;
	padding  : 15px;
	width    : (100% / 6);
}
// ===============================================

// END
// ***********************************************/