// STYLE PARTIAL: TABLEIZER
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/tables";

// VIEWPORT :: ALL
// ===============================================
.analytics {
	margin: 15px auto;
	width:  $three-fourths;
	border: 1px solid $page-darker-major;
	
	thead th {
		padding:    15px 10px;
		background: $fire-lighter-minor;
		color:      $fire-darkest-minor;
	}
	th {
		padding: 10px;
	}
	td {
		text-align: center;
	}
	tfoot {
		border-top: 2px solid $page-darker-major;
		text-align: left;
	}
}

// END
// ************************************************/
