// STYLE PARTIAL: CHARACTER TABLES
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import 'partials/tables';

// VIEWPORT :: ALL
// ===============================================
// -- General
// -----------------------------------------------
table {
	margin: 0;
	max-width: 800px;
}
th,
td {
	padding: 10px;
}

// -- Relationships
// -----------------------------------------------
.relationships thead {
	@include gradientized(45deg, $fire-lightest-major, $fire-lighter-minor);
	border-bottom: 3px solid $fire-color;
}
.relationships th {
	padding: 10px;
}
.relationships td {
	max-width: 600px;
}

// -- Viewpoints
// -----------------------------------------------
.views {
	margin: 10px;
	width:  calc(100% - 10px);

	thead {
		border-bottom: 3px solid $fire-color;
		text-align:    left;
	}
}
.aggregated-views {
	border: 1px solid $fire-color;
	margin: 15px 25px;
}
.public-opinion-count {
	padding: 5px 10px;
}

// VIEWPORT :: DESKTOP
// ===============================================
@include desktop {
	tr:nth-child(even) {
		background: $water-lightest-minor;
		
		a { @include uniform-look($water-darker-minor); }
	}
	.relationships {
		border-bottom: 3px solid $fire-color;
		margin: 10px 0;
		width: 100%;
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	.aggregated-views {
		border: none;
		width:  calc(100% - 50px);

		td:before {
			border-bottom: 3px solid $fire-color;
			margin:        5px 0;
			padding:       3px 0;
		}
	}
}

// END
// ***********************************************/
