// STYLE PARTIAL: COMMENTS
// ***********************************************
// SETUP :: MIXINS
// ===============================================
@mixin nested-comment($nested-margin) {
	.comment { padding : 0px; }

	.comment .comment {
		margin      : 0px;
		margin-left : $nested-margin;
	}
}
// ===============================================

// SETUP :: VARIABLES
// ===============================================
// -----------------------------------------------
// -- Background
// -----------------------------------------------
$reply-background        : $page-lightest-minor;
$reply-submit-background : $fire-light-minor;
$discussion-background   : $fire-light-major;
// -----------------------------------------------

// -----------------------------------------------
// -- Border
// -----------------------------------------------
$comment-border : 2px solid $fire-lighter-minor;

$reply-border-color         : $water-darker-major;
$reply-title-border-color   : $page-light-major;
$comment-title-border-color : $fire-light-minor;
$discussion-border-color    : $fire-color;
// -----------------------------------------------

// -----------------------------------------------
// -- Text
// -----------------------------------------------
$reply-submit-color : $page-darker-minor;
$speaker-color      : $fire-color;
// -----------------------------------------------
// ===============================================

// SECTION :: LAYOUT & HEADER
// ===============================================
.discussion {
	background : $discussion-background;
	border     : 1px solid $discussion-border-color;
	padding    : 2px;
}

.comments-heading {
	@include simple-brand($discussion-background, $comment-title-border-color, 2px);
	padding : 15px 5px 5px;
}

.comments-content {
	background : $page-color;
	border     : 2px solid $fire-color;
}
// ===============================================

// COMMENT :: CONTENT
// ===============================================
.comment {
	.comments-heading + & { border : none; }
	.comment     { border-left : $comment-border; }
	& + .comment { border-top  : $comment-border; }
}

.comment-action-bar {
	border-bottom : $comment-border;

	.childless &,
	.hidden-children & {
		border-bottom : none;
	}
}

.comment-response { padding : 5px 10px; }

.comment-speaker {
	color :         $speaker-color;
	float :         left;
	padding-right : 5px;
}

.comment-action-bar {
	font-size : 0.7em;
	padding   : 0px 10px 10px;

	a {
		padding         : 0px 5px 0px 0px;
		text-decoration : none;
	}
}
// ===============================================

// COMMENT :: FORM
// ===============================================
.comments-form {
	padding : 10px calc(25% / 2);

	form {
		background : $reply-background;
		border     : 2px solid $reply-border-color;
	}

	fieldset { border : none; }

	legend {
		border-bottom : 3px solid $reply-title-border-color;
		font-weight   : 600;
		padding       : 10px 0 2px 0;
		width         : 100%;
	}

	input[type="submit"] {
		@include submission-look($reply-submit-background, $reply-submit-color);
	}

	.submit-field {
		margin : 10px;
		width  : calc(100% - 20px);

		input { padding : 10px; }
	}
}
// ===============================================

// END
// ***********************************************/
