// STYLE PARTIAL: FILTERS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.filters {
	min-height: 300px;

	h2 {
		background:    $fire-lightest-major;
		border-bottom: 3px solid $fire-lighter-minor;
		font-size:     $text-size + 3px;
		font-weight:   300;
		font-variant:  small-caps;
		margin:        0;
		padding:       7px 15px;
	}
	li {
		display:     block;
		font-size:   .95em;
		font-weight: 600;
		padding:     8px 0;
		text-align:  left;
	}
	a {
		color:           $water-color;
		display:         block;
		padding:         0 15px;
		text-decoration: none;

		&:hover {
			background:  $page-color;
			color:       $water-darker-minor;
			font-weight: 900;
		}
	}
	ul {
		padding: 0;
		margin:  0;
	}
}

// END
// ***********************************************/
