// STYLE PARTIAL : RECENT
// ***********************************************
// SETUP :: VARIABLES
// ===============================================
$excerpt-background            : $water-darker-minor;
$preview-background            : $page-color;
$preview-title-background      : $water-dark-minor;
$preview-title-hover-back      : $water-darkest-minor;
$recent-background             : $page-darker-major;
$recent-index-background       : $page-darker-major;
$recent-index-hover-background : $fire-color;
$recent-title-background       : $fire-color;

$recent-title-border-color : $fire-dark-minor;

$preview-gutter     : $golden-micro;
$recent-index-width : $one-fourth;

$excerpt-color            : $page-color;
$preview-title-color      : $page-lightest-major;
$recent-index-color       : $water-color;
$recent-index-hover-color : $page-darkest-major;
// ===============================================

// SECTION :: LAYOUT & HEADER
// ===============================================
.recent-panel {
	background : $recent-background;
}

.recent-widget {
	min-height : 200px;

	& > header {
		background    : $recent-title-background;
		border-bottom : 5px solid $recent-title-border-color;
		margin        : 0px;
		padding       : 25px 5px 0px;
	}

	a {
		display         : block;
		font-weight     : bolder;
		text-decoration : none;
	}

	h2 {
		padding : 5px 10px;
		margin  : 0px;
	}

	.widget-body {
		padding-top : 8px;
	}
}
// ===============================================

// SECTION :: CONTENT
// ===============================================
.preview {
	background : $preview-background;
	margin     : 0px $preview-gutter 10px;
}
.preview-title {
	padding : 0px;
	a {
		background : $preview-title-background;
		color      : $preview-title-color;
		padding    : 5px;

		&:hover { background : $preview-title-hover-back; }
	}
}
.excerpt {
	background : $excerpt-background;
	color      : $excerpt-color;
	padding    : 5px 5px 25px;
}

.see-more a {
	border-radius : 10px;
	background    : $recent-index-background;
	color         : $recent-index-color;
	margin        : 15px auto;
	min-width     : 100px;
	padding       : 10px 15px;
	text-align    : center;
	width         : $one-fourth;

	&:hover {
		background : $recent-index-hover-background;
		color      : $recent-index-hover-color;
	}
}
// ===============================================

// END
// ***********************************************/
