// STYLE PARTIAL: SNIPPETS
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/completion";
@import "partials/ratings";

// VIEWPORT :: ALL
// ===============================================
// -- General
// -----------------------------------------------
.snippet {
	background: $moss-light-major;
	overflow:   auto;
}

.snippet-type {
	color:      $moss-color;
	font-size:  2.0em;
	text-align: center;
}

h4 {
	border-bottom: 3px solid $moss-light-minor;
	margin:        0px;
	padding:       5px;
}

// -- About
// -----------------------------------------------
.snippet-about {
	background: $page-color;
}

.snippet-meta {
	padding: 0px 5px;
}

.summary {
	font-style: italic;
	padding:    10px;
	text-align: center;
}

.about {
	background:  $moss-lighter-major;
	color:       $page-darkest-major;
	font-size:   .95em;
	font-weight: bolder;
	overflow:    auto;
}

.agents, 
.chapters-count,
.time {
	float:   left;
	padding: 6px 10px;
}

.tags {
	text-align: right;
}

.ratings span {
	padding: 4px 10px 3px;
}

// -- Length
// -----------------------------------------------
.chapters {
	text-align: right;
	margin:     10px;
	margin-top: 0;
	padding:    0;

	a {
		background:  $water-lighter-minor;
		display:     inline-block;
		text-align:  center;
		font-weight: bolder;
		padding:     5px 10px 10px;
		width:       20%;
		text-decoration: none;
		&:hover {
			background: $fire-lighter-major;
		}
	}
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.snippet {
		border-bottom: 3px solid $moss-lighter-minor;
		margin:        0px 0px 15px 0px;
	}
	.snippet-type {
		display: none;
	}
}

// VIEWPORT :: NON-MOBILE
// ===============================================
@include non-mobile {
	.snippet {
		margin: 15px 10px;
	}
}

// END
// ***********************************************/
