// STYLE PARTIAL: SNIPPETS
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/content/status";

// VIEWPORT :: ALL
// ===============================================
// -- General
// -----------------------------------------------
.snippet {
	overflow: auto;

	.icon {
		color: $fire-dark-minor;
	}

	h4 {
		color:   $water-darker-major;
		margin:  0px;
		padding: 5px 0;
		a {
			color: $water-dark-major;
			&:hover {
				color: $fire-dark-minor;
			}
		}
	}
}
.time-block {
	overflow: auto;
}

// -- About
// -----------------------------------------------
.snippet-detail {
	background: $page-color;
	border:  1px solid #000000;
}

.snippet-meta {
	padding: 0px 5px;
}

.summary {
	font-style: italic;
	padding:    10px;
	text-align: center;
}

.about {
	color:       $page-darkest-major;
	font-size:   .95em;
	font-weight: bolder;
	overflow:    auto;
}

.agents, 
.chapters-count,
.time {
	float:   left;
	padding: 6px 10px;
}

.tags {
	text-align: right;
}

.ratings span {
	padding: 4px 10px;
	display: inline-block;
}

// -- Length
// -----------------------------------------------
.chapters {
	text-align: right;
	margin:     10px;
	margin-top: 0;
	padding:    0;

	a {
		background:  $water-lighter-minor;
		display:     inline-block;
		text-align:  center;
		font-weight: bolder;
		padding:     5px 10px 10px;
		width:       20%;
		text-decoration: none;
		&:hover {
			background: $fire-lighter-major;
		}
	}
}

// VIEWPORTS
// ===============================================
@mixin mobile-snippet {
	.snippet {
		margin:       10px;
		border-width: 5px;
	}
}

@mixin non-mobile-snippet {
	.snippet {
		margin: 15px 30px;
	}
}

// END
// ***********************************************/
