// STYLE PARTIAL: STATUS
// ***********************************************
// STYLES :: COMPLETION
// ===============================================
.complete   {
	background:    $water-lighter-minor;
	border-bottom: 4px solid $water-light-major;
	border-right:  4px solid $water-light-major;
	color:         $water-darker-minor;
}

.incomplete {
	background:    $fire-lightest-minor;
	border-bottom: 4px solid $fire-light-major;
	border-right:  4px solid $fire-light-major;
	color:         $fire-dark-minor;
}

.status {
	font-weight: bolder;
	min-width:   100px;
	padding:     5px 10px;
}

.completion-status {
	float:      left;
	text-align: right;
	width:      calc(100% / 6 - 20px);
}

// STYLES :: BOOLEAN
// ===============================================
.enabler-status {
	font-weight: bolder;
	padding:     10px 0;

	.label {
		display: block;
		margin:  0 10px;
	}
}
.true {
	background: fade-out($stoplight-go, .6);
}

.false {
	background: fade-out($stoplight-stop, .55);
}

// STYLES :: COUNTS
// ===============================================
.counter {
	color:          $water-color;
	letter-spacing: 1px;
}

.counter:before {
	color:   $water-dark-minor;
	content: "(";
}

.counter:after {
	color:   $water-dark-minor;
	content: ")";
}

.word-count {
	color:     $page-dark-major;
	font-size: .75em;
}

.word-count:after,
.word-count:before {
	color:     $moss-dark-minor;
	font-size: 1.2em;
}

.word-count:before { content: "["; }

.word-count:after  { content: "]"; }


// STYLES :: RATING
// ===============================================
.avg {
	text-align: center;
}

.rating {
	font-weight: bolder;
}

.ratings {
	font-weight: bolder;
	margin:      0px calc(100% / 6 - 20px);
	padding:     2px;
	text-align:  center;
	span {
		display: inline-block;
		margin:  1px;
		padding: 10px;
	}
}

// STYLES :: LEVELS
// ===============================================
.level0 { color: $rating-lowest;  }
.level1 { color: $rating-low;     }
.level2 { color: $rating-mid;     }
.level3 { color: $rating-high;    }
.level4 { color: $rating-highest; }

// STYLES :: TOGGLE
// ===============================================
.status-toggle-link {
	border-radius:   10px;
	color:           $page-color;
	display:         inline-block;
	margin:          5px auto;
	padding:         7px 0;
	text-decoration: none;

	&:before {
		display: block;
		margin-bottom: 5px;
	}

	.status & {
		background: $water-color;
		padding:    7px 0;
		width:      120px;

		&:hover {
			background: $water-lighter-major;
			color:      $water-dark-minor;
		}
	}

	.true & {
		background: $stoplight-stop;
	}

	.false & {
		background: $stoplight-go;
	}
	.enabler-status & {
		width:     90px;
		padding:   4px 0;
		font-size: .90em;
	}
	.enabler-status &:hover {
		background: $page-lighter-major;
		color:      $page-darker-minor;
	}
}

// END
// ************************************************/
