// STYLE PARTIAL : STATUS
// ***********************************************
// COMPLETION
// ===============================================
@mixin completion-type($color, $show-color) {
	background : lighten($color, $golden-minor + $golden-small);
	color      : $color;

	.show-page & { color : $show-color; }
}

.completion-status {
	float      : left;
	text-align : right;
	width      : calc(100% / 6 - 20px);

	.show-page & {
		background    : none;
		border-bottom : 2px solid $water-dark-major;
		border-right  : 2px solid $water-dark-major;
		border-left   : none;
	}
}

.status {
	font-weight : bolder;
	min-width   : 100px;
	padding     : 5px 10px;
}

// -----------------------------------------------
// -- Completion Types
// -----------------------------------------------
.abandoned  { @include completion-type($rating-lowest, desaturate($rating-lowest, 10%)); }
.complete   { @include completion-type($water-darker-minor, $water-light-minor);         }
.hiatus     { @include completion-type($page-dark-minor,    $fire-lightest-minor);       }
.incomplete { @include completion-type($fire-dark-minor,    $fire-dark-minor);           }
.upcoming   { @include completion-type($moss-dark-minor,    $moss-lightest-minor);       }
// -----------------------------------------------
// ===============================================

// BOOLEAN
// ===============================================
.enabler-status {
	font-weight : bolder;
	padding     : 10px 0;

	.label {
		display : block;
		margin  : 0 10px;
	}
}

.true  { color : $stoplight-go; }
.false { color : $stoplight-stop; }
// ===============================================

// COUNTS
// ===============================================
// -----------------------------------------------
// -- Amount
// -----------------------------------------------
.counter {
	color          : $water-color;
	letter-spacing : 1px;
}

.counter:after {
	color   : $water-darker-minor;
	content : ")";
}

.counter:before {
	color   : $water-darker-minor;
	content : "(";
}
// -----------------------------------------------

// -----------------------------------------------
// -- Word Count
// -----------------------------------------------
.word-count {
	color     : $page-dark-major;
	font-size : .75em;
}

.word-count:after,
.word-count:before {
	color     : $moss-dark-minor;
	font-size : 1.2em;
}

.word-count:after  { content : "]"; }
.word-count:before { content : "["; }
// -----------------------------------------------
// ===============================================

// RATING
// ===============================================
.rating {
	font-weight : bolder;
}

.ratings {
	font-size   : .8em;
	font-weight : bolder;
	margin      : 0px calc(100% / 6 - 20px);
	padding     : 2px;
	text-align  : center;
	span {
		display : inline-block;
		margin  : 1px;
		padding : 10px;
	}
}
// ===============================================

// LEVELS
// ===============================================
.level0 { color : $rating-lowest;  }
.level1 { color : $rating-low;     }
.level2 { color : $rating-mid;     }
.level3 { color : $rating-high;    }
.level4 { color : $rating-highest; }
// ===============================================

// TOGGLE
// ===============================================
.status-toggle-link {
	border-radius   : 10px;
	color           : $page-color;
	display         : inline-block;
	margin          : 5px auto;
	padding         : 7px 0;
	text-decoration : none;

	&:before {
		display : block;
		margin-bottom : 5px;
	}

	.status & {
		background : $water-dark-minor;
		padding    : 7px 0;
		width      : 120px;

		&:hover {
			background : $water-lighter-major;
			color      : $water-dark-minor;
		}
	}

	.enabler-status & {
		color     : $page-darker-minor;
		font-size : 0.95em;
		padding   : 6px 0;
		width     : 90px;
	}

	.enabler-status &:hover {
		background : $page-lighter-major;
	}
}
// ===============================================

// END
// ************************************************/
