// STYLE PARTIAL: TABS
// ***********************************************
.ui-tabs { margin : 10px; }

.ui-tabs-nav {
	display : table;
	width   : 100%;
	margin  : 0px;
	padding : 0px;
}

.ui-state-default {
	display : table-cell;
}

.ui-tabs-panel {
	background : $dossier-panel-background;
	border     : $tabs-border-width solid $dossier-panel-border-color;
	padding    : $tabs-panel-padding;
	overflow   : auto;
}

.ui-tabs-anchor {
	color   : $dossier-anchor-color;
	display : block;
	padding : 10px;

	font-weight     : bolder;
	text-decoration : none;

	.ui-state-default & {
		background    : $dossier-anchor-background;
		border        : $tabs-border-width solid $dossier-anchor-background;
		margin        : 0px 5px;
		border-bottom : none;
		
		@include border-radius-top(5px);
	}

	.ui-tabs-active & {
		background   : $dossier-active-anchor-background;
		border-color : $dossier-active-anchor-border-color;
		cursor       : default;
	}
}

.paged-tabs {
	overflow : auto;

	.ui-tabs-nav {
		float : left;
		width : $paging-tabs-width;
	}

	.ui-tabs-nav,
	.ui-state-default { display : block; }

	.ui-tabs-panel {
		background   : $paging-panel-background;
		border-color : $paging-panel-border-color;
		float        : right;
		width        : $paging-panel-width;
	}

	.ui-tabs-anchor {
		background : $paging-anchor-background;
		border     : $tabs-border-width solid $paging-anchor-background;
		color      : $paging-anchor-color;
		margin     : $tabs-panel-padding #{$tabs-border-width * -1} $tabs-panel-padding 0px;

		@include border-radius-left(5px);
		@include border-radius-right(0px);

		&.has-errors {
			background   : $paging-error-background;
			border-color : $paging-error-background;
			color        : $paging-error-color;

			&:after {
				content    : attr(data-errors) " error(s)";
				font-style : italic;
				font-size  : 0.8em;
				float      : right;
			}
		}
	}

	.ui-tabs-active .ui-tabs-anchor {
		background : $paging-active-anchor-background;
		color      : $paging-active-anchor-color;
	}

	.add-cell { clear : left; }
}

// END
// ***********************************************/
