// STYLE PARTIAL : TABLES
// ***********************************************
// SETUP :: VARIABLES
// ===============================================
$row-background : $page-color;

// SECTION :: LAYOUT & HEADER
// ===============================================
table {
	margin : 0;
	width  : 100%;

	caption {
		font-size   : 1.3em;
		font-weight : bolder;
		padding     : 20px 25px 10px 25px;
	}

	thead {
		vertical-align : bottom;

		th { padding : 15px 25px 5px 25px; }
	}
}

.sortable .header:after         { content : "⬩" }
.sortable .headerSortDown:after { content : "▾" }
.sortable .headerSortUp:after   { content : "▴" }
// ===============================================

// SECTION :: TABLE BODY
// ===============================================
tbody {
	text-align : left;

	tr { background : $row-background; }
}

td { padding : 10px 0; }

th {
	vertical-align : top;

	thead & { padding : 15px 25px 5px; }

	tbody & {
		font-weight : lighter;
		padding     : 10px 0;
	}
}
// ===============================================

// TABLES :: MIXINS
// ===============================================
// -----------------------------------------------
// -- Appearance
// -----------------------------------------------
@mixin tableized-results($background, $caption-background, $header-background, $border-color, $border-size) {
	.tableized-results {
		background : $background;
		border     : 10px solid $background;

		@include theading($caption-background, desaturate(lighten($header-background, 15%), 20%), $border-color, $border-size);
	}
}

@mixin indexed-banding($background) {
	.show-page tr,
	.index-body tr { @include rowbanding($background); }
}
// -----------------------------------------------

// -----------------------------------------------
// -- Mobile Content
// -----------------------------------------------
@mixin mobile-friendly-table-data($data-label-color) {
	thead {
		display : none;
	}

	th, 
	tr, 
	td {
		display : block;
	}

	tbody tr {
		margin : 10px;
	}

	th {
		font-size      : $text-size + 2px;
		font-weight    : 500;
		padding-bottom : 3px;
	}
	
	td:before {
		color       : $data-label-color;
		content     : attr(data-label);
		display     : block;
		font-weight : bolder;
	}
}

@mixin mobile-friendly-data-results() {
	td {
		padding : 5px 20px 0px;

		&:before {
			margin  : 0px 0px 2px;
			padding : 5px 0 2px;
		}
	}
}
// -----------------------------------------------

// -----------------------------------------------
// -- Tools
// -----------------------------------------------
@mixin editable-data-row($background) {
	background    : linear-gradient(180deg, $background, lighten($background, 20%));
	border-radius : 10px;
	box-shadow    : 0px 0px 5px $background;
	float         : left;

	th {
		font-weight : bolder;
		padding     : 0;
		text-align  : center;

		a {
			@include border-radius-top(10px);

			border-bottom   : 3px solid darken($background, 10%);
			color           : contrastable($background);
			display         : block;
			margin          : 0;
			text-decoration : none;

			&:hover {
				background : darken($background, 15%);
				color      : contrastable(darken($background, 25%));
			}
		}
	}

	th a,
	.subheading {
		margin  : 0px;
		padding : 10px 10px 5px;
	}

	td {
		background  : fade-out($page-color, .4);
		padding     : 0px 0px 5px 0px;
		font-weight : lighter;

		&:before {
			background    : lighten($background, 20%);
			padding       : 7px 0 2px;
			margin-bottom : 5px;
		}

		&:last-child { @include border-radius-bottom(10px); }
	}
}

@mixin switch-board($caption-background, $border-background, $border-size) {
	.switch-board {
		background : $page-color;
		width      : 100%;

		@include theading($caption-background, lighten($caption-background, 20%), $border-background, $border-size);

		tbody {
			text-align : center;

			th {
				font-weight    : bolder;
				padding-bottom : 0;
			}
		}
	}
}

@mixin tally($caption-background, $header-background, $border-size) {
	.analytics {
		margin : 15px auto;
		width  : $three-fourths;

		@include theading($caption-background, $header-background, darken($header-background, 15%), $border-size);

		tbody {	text-align : center; }

		tfoot {
			text-align : center;
			border-top : $border-size solid darken($header-background, 15%);
			th {
				padding : 10px;
			}
		}
	}
}
// -----------------------------------------------
// ===============================================

// END
// ***********************************************/
