// STYLE PARTIAL: TOOLKITS
// ***********************************************
// SECTION TOOLKIT
// ===============================================
.toolkit {
	border-radius : 5px;
	display       : table;
	font-weight   : bolder;
	margin        : 10px 15px;
	max-width     : calc(100% - 30px);
	table-layout  : fixed;

	a {
		border-radius   : 0px;
		display         : table-cell;
		letter-spacing  : 1px;
		padding         : 7px 0px;
		text-align      : center;
		text-decoration : none;

		&:before { padding-right : 5px; }
	}
	a:first-child { @include border-radius-left(5px);  }
	a:last-child  { @include border-radius-right(5px); }
}

.index-header > .toolkit {
	margin    : 10px $gutter;
	max-width : calc(100% - #{$gutter * 2});
}

.toolblock td { padding : 5px 0; }
.multikit {
	margin   : 10px $gutter;
	overflow : auto;

	.toolkit {
		float   : left;
		margin  : 2px 5px 2px 0px;
	}
}

.manager-editor {
	.multikit { margin : 0px; }
	.toolkit  { margin : 5px 0px 0px; }
	.toolkit,
	.multikit {
		width     : 100%;
		max-width : 100%;
	}
	.creation a {
		text-align : left;
	}
}
// ===============================================

// TOOLKIT TYPES
// ===============================================
.alteration {
	@include buttonable($alteration-background);

	max-width : 300px;
}
.creation,
.insertion {
	@include buttonable($creation-background);

	a {
		padding : 7px 5px;
	}
}

.directory {
	@include buttonable($directory-background);
	margin    : 10px auto;
	width     : 100%;
	max-width : 100%;

	a { padding : 7px; }
}

.generation {
	@include buttonable($generation-background);

	max-width : 300px;
	margin    : 10px auto;

	a {
		padding : 7px 5px;
	}
}

.reader-response {
	@include buttonable($response-background);

	margin    : 10px auto;
	min-width : 300px;

	a {
		min-width : $one-fourth;
	}

	.unchecked {
		color : $moss-light-major;
	}
}
// ===============================================

// END
// ***********************************************/