// STYLE PARTIAL: TOOLKITS
// ***********************************************
// TOOLKITS :: All
// ===============================================
.multikit {
	margin: 10px $one-twelfth;
}

.toolblock td { padding: 5px 0; }

.toolkit {
	margin:    10px 15px;
	max-width: 300px;

	.multikit & {
		display: inline-block;
		margin:  2px 0px;
	}

	a {
		border-radius:   5px;
		color:           $page-lightest-major;
		display:         inline-block;
		letter-spacing:  2px;
		min-width:       50%;
		padding:         10px;
		text-align:      center;
		text-decoration: none !important;
		&:before {
			padding-right: 5px;
		}
	}
}

// TOOLKITS :: Alteration
// ===============================================
.alteration {
	border-radius: 5px;
	display:       inline-block;
	margin:        0;
	margin-bottom: 0;
	overflow:      auto;
	width:         100%;

	@include buttonable($fire-color);

	@include non-desktop {
		margin: 10px;
		width:  calc(100% - 20px);
	}

	.toolblock & {
		margin:    0px;
		max-width: 100%;
		width:     100%;
	}

	a {
		background: none;
		display:    block;
		float:      left;
		padding:    10px 0;
		width:      50%;

		&:hover { border-radius: 0; }
	}
}

// TOOLKITS :: Creation & Insertion
// ===============================================
.creation  a,
.insertion a {
	background: $moss-dark-minor;

	&:visited { color: $page-lightest-major; }
	&:hover   {
		background: $moss-lightest-minor;
		color:      $moss-darker-minor;
	}
}

.toolblock .insertion {
	margin:    0px;
	max-width: 100%;
}

.creation a {
	max-width: 280px;
}

.insertion a {
	text-align: left;
	width:      calc(100% - 20px);
}

tfoot .creation {
	margin: 0 auto;
	width:  200px;
}

.interaction {
	@include buttonable($moss-dark-minor);

	font-size: .85em;
	border-radius: 10px;
	margin:        10px auto;
	margin-bottom: 0;
	overflow:      auto;
	width:         20%;
	min-width:     200px;

	a {
		background:     none;
		display:        block;
		font-weight:    bolder;
		float:          left;
		letter-spacing: 1px;
		padding:        5px 0;
		text-align:     center;
		width:          100%;
		&:hover {
			border-radius: 0;
		}
	}

	.toolblock & {
		min-width: 100%;
		width:     100%;

		@include desktop {
			a {
				padding: 10px 0;
				width:   50%;
			}
		}
	}
}


// END
// ***********************************************/