<aside class='filters'>
	<div>
		<h2>Types of Works</h2>
		<%= @works.for_categories %>
	</div>

	<% @works.filter_values.each do |key, group| %>
		<div>
			<h2><%= group[:title] %></h2>
			<%= list_filters(group[:type], group[:values]) %>
		</div>
	<% end if @works.length > 1  %>
</aside>
