<aside class='organizer'>
	<div>
		<h2>Order</h2>
		<ul>
			<li>POSTED</li>
			<li>UPDATED</li>
			<li>ALPHABETICAL</li>
		</ul>
	</div>
	
	<div>
		<h2>Time</h2>
		<ul>
			<li>TODAY</li>
			<li>THIS MONTH</li>
			<li>THIS YEAR</li>
		</ul>
	</div>

	<div>
		<h2>Length</h2>
		<p>INSERT SLIDER HERE</p>
	</div>
</aside>
