<aside class='organizer'>
	<div>
		<h2>Order</h2>
		<ul>
			<li><%= link_to "Alphabetical", params.merge(:sort => "alphabetical") %></li>
			<li><%= link_to "Chronological", params.merge(:sort => "chronological") %></li>
			<li><%= link_to "Posted", params.merge(:sort => "posted")%></li>
			<li><%= link_to "Updated", params.merge(:sort => "updated") %></li>
		</ul>
	</div>
	
	<div>
		<h2>Time</h2>
		<ul>
			<li>TODAY</li>
			<li>THIS MONTH</li>
			<li>THIS YEAR</li>
		</ul>
	</div>

	<div>
		<h2>Length</h2>
		<p>INSERT SLIDER HERE</p>
	</div>
</aside>
