<% @works.each do |work| %>

	<article class='snippet'>
		<h4 class='heading'><%= link_to work.title, work %> by <%= work.uploader.name %></h4>
		<%= render 'works/shared/stats', work: work %>
		<div class="summary"><%= markdown work.summary || "" %></div>
	</article>

<% end %>
