<aside class='stat'>
	<h2>Statistics</h2>

	<table>
		<%= render 'works/shared/meta/anthologies' %>
		<%= render 'works/shared/meta/tags' %>

		<tr>
			<th>Created</th>
			<td><%= record_time @work.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= record_time @work.updated_at %></td>
		</tr>
	</table>
</aside>
