<% provide(:title, @work.editing_title) %>

<div id="main" class="edit generatable">
	<%= @work.editor_heading %>
	<%= render 'form' %>
</div>

<script>
	autosize(document.querySelectorAll('textarea'));
</script>
