<% provide(:title, "Works") %>

<main class='index'>
	<header>
		<h1>Works</h1>
		<%= index_toolkit("Work", new_work_path) %>
	</header>

	<%= render 'index_sorter' %>
	<%= render 'index_results' %>
</main>
