<% provide :title, @works.title %>

<header>
	<h1><%= @works.heading %></h1>
	<%= @works.found_status %>
	<%= @works.creation_path %>
</header>

<div class="index-body">
	<%= @works.results %>
</div>
