<% provide :title, @works.title %>

<div id="main" class="index">
	<header>
		<h1><%= @works.heading %></h1>
		<%= @works.creation_path %>
	</header>

	<%= render 'works/filter' %>
	<%= render 'works/results' %>
</div>
