<% provide(:title, @work.title_for_creation) %>

<div class="new generator">
	<h1><%= @work.title_for_creation %></h1>
	<%= render 'form' %>
</div>

<script>autosize(document.querySelectorAll('textarea'));</script>
