/* TEMPLATE: ABOUT ALL
/* ***********************************************/
// TABLE of CONTENT
// ===============================================
// -- SETUP :: IMPORTS
// -- SETUP :: VARIABLES
// -- SECTION :: GENERAL CONTENT
// -- SECTION :: VIEWPORTS
// ===============================================

// SETUP :: IMPORTS
// ===============================================
@import "application";
// ===============================================

// SECTION :: GENERAL CONTENT
// ===============================================
.subject-body {
	background : $stat-background;
	border     : 5px solid $stat-border-color;
	margin     : 15px $gutter;

	.widget {
		margin     : 10px;
		background : $stat-widget-background;
		border     : 2px solid $stat-widget-border-color;

		p { padding: 5px 15px; }
	}
}

.subheading {
	@include simple-brand($stat-widget-title-background, $stat-widget-title-border-color, 2px);

	font-family : "Arial", sans-serif;
	font-size   : 1.25em;
	font-weight : 600;
	padding     : 3px 5px;
	padding-top : 10px;
}

.data {
	margin : 10px auto;
	width  : calc(90% - 10px);

	thead th {
		border-bottom  : 3px solid $stat-widget-title-border-color;
		padding        : 10px 0px 5px;
		text-align     : left;
		vertical-align : bottom;
	}

	th { padding : 10px; }

	tr { border-bottom : 1px dotted $data-row-border-color; }
}
// ===============================================

// SECTION :: VIEWPORT
// ===============================================
@include page-desktop() {}
@include page-mobile() {}
@include page-non-mobile() {}
@include page-tablet() {}
// ===============================================
/* END
/* ***********************************************/
