/* TEMPLATE: SHOW ANTHOLOGY
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/content/snippets";
@import "partials/content/recent";

// SETUP :: COLORS
// ===============================================
$page:           $water-light-minor;
$border:         $water-color;
$header:         $water-dark-minor;
$heading:        $water-dark-minor;
$content-shadow: 0px 0px 10px $water-darker-minor;

// SECTION :: ALL
// ===============================================
header p {
	margin:  0 $one-twelfth;
	padding: 0;
}
.alteration {
	margin:     0 $one-twelfth;
	margin-top: 10px;
	width:      $five-sixths;
}
.page-body {
	background: $page-color;
	padding:    0;
	box-shadow: $content-shadow;
}

/* END
/* ***********************************************/
