/* TEMPLATE: SHOW CREATORSHIP
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/inline_form";
@import "partials/forms/fields/switch";
@import "partials/pagination";
@import "partials/content/status";
@import "partials/content/tables/analytics";
@import "partials/content/tables/relateables";

// SECTION :: COLORS
// ===============================================
$page:           $moss-dark-minor;
$border:         $moss-dark-major;
$header:         $water-dark-minor;
$heading:        $water-dark-minor;
$content-shadow: 0px 0px 10px $moss-darker-minor;

// SECTION :: ALL
// ===============================================
@include page-look($page, $border);
@include header-look($header, $heading, $border);

// SECTION :: HEADER
// ===============================================
.alteration {
	margin: 0px $one-twelfth;
	width:  $five-sixths;
}
.editor-block { margin: 0px 10px; }

// SECTION :: BODY
// ===============================================
.page-body {
	min-height: 200px;
	padding:    10px 0;
}

.pagination {
	margin:  0 auto;
	padding: 10px;
}

.relateable,
.stat-distribution {
	background: $page-color;

	p {
		text-align: center;
	}
}

.analytics {
	margin: 10px;
}

#distribution {
	margin: 53px auto;
	display:block;
}
.connection {
	padding:    10px;
	overflow:   auto;

	@include toggle-button(30px, 2px, 0.5s, $stoplight-go, $page-light-minor);
}
.usage h2 {
	background:    $moss-lighter-minor none repeat scroll 0% 0%;
	border-bottom: 4px solid $moss-dark-minor;
	font-weight:   bolder;
	padding:       21px 25px 6px;
}

/* END
/* ***********************************************/