/* TEMPLATE: SHOW DASHBOARD
/* ***********************************************/
// SETUP :: GENERAL IMPORTS
// ===============================================
@import "application";
@import "partials/content/status";
@import "partials/forms/inline_form";

// SECTION :: COLORS
// ===============================================
$page:           $water-darker-minor;
$border:         $water-dark-major;
$header:         $water-dark-minor;
$heading:        $water-dark-minor;
$content-shadow: 0px 0px 10px $page-darker-minor;

// SECTION :: ALL
// ===============================================
@include page-look($page, $border);

// SECTION :: HEADER
// ===============================================
@include header-look($header, $heading, $border);

.creation,
.creation-block {
	margin: 0 auto;

	.index-header & {
		margin: 5px $one-twelfth;
	}
}

.alteration {
	margin:    5px 10px;
	min-width: calc(100% - 20px);
}

h2 {
	text-align: center;
	font-size:  18px;
	margin:     35px 0px 0px;
}

// SECTION :: BODY :: ALL
// ===============================================
.dashboard-grid,
.index-body {
	background: $page-color;
	margin:     0;
	padding:    10px 25px;
	box-shadow: $content-shadow;

	b {
		display:    block;
		background: $page-lighter-minor;
		padding:    10px 5px;
	}
	.creation {
		text-align: center;
	}
	.widget {
		padding: 0 5px;
	}
}
.page-content > .results {
	padding: 0 5%;
	background: $page-color;
}

// SECTION :: BODY :: LISTS
// ===============================================
.create-as {
	padding: 0px 0;

	ul {
		margin:  0 10px;
		padding: 0;
	}

	li {
		color:   $water-dark-major;
		padding: 5px 0;

		&:before {
			padding: 0 10px;
		}
	}
}

.work-meta {
	color:    $page-darker-minor;
	margin:   0px $one-twelfth 50px;

	.toolkit {
		display: block;
		margin:  5px auto;
	}

	dl {
		margin:  0 10px;
		padding: 0;
	}

	dt {
		padding: 0;
		font-weight: bolder;
	}

	p { margin: 0 10px; }
}

// SECTION :: BODY :: TABLES
// ===============================================
.editable {
	font-weight: bolder;
	margin-bottom: 30px;
	th > a {
		display: block;
		margin: 0 0 5px 0;
	}

	td { 
		text-align:     center;
		vertical-align: top;
	}

	caption {
		text-align: left;
		padding-left: 0;
	}

	thead th {
		vertical-align: bottom;
		border-bottom: 3px solid $fire-lighter-minor;
	}
	.toolkit a {
		padding: 7px 0;
	}
}

.default-pen {
	color: $rose-dark-minor;
}

.management-widget {
	padding-bottom: 35px;
}

.status {
	font-weight:    bolder;
	text-align:     center;
	vertical-align: middle;

	span {
		display: block;
		margin:  5px;
		padding: 5px;
	}
}

// SECTION :: VIEWPORTS
// ===============================================
@include page-desktop() {
	tr { border-bottom: 2px dotted $fire-light-minor; }
	.logged-in {
		background: $heading;
	}
	
	.editable-content {
		.manager-editor {
			text-align: left;
			display: none;
			margin-left: 0;
			

			.alteration {
				margin: 5px 0;
				width:  100%;
			}
		}
		&:hover {
			.manager-editor {
				display: block;
			}
		}
		.creation a {
			padding: 5px 20px;
		}
	}
}

@include page-mobile() {
	@include mobilized-forms();
	.editable-content { width: calc(100% - 20px); }
}

@include page-non-desktop {
	@include tb-modularize();

	.editable .manager-editor { display: none; }

	.editable-content {
		@include modularized-dossier($fire-light-minor);
		.item-type { display:none; }
	}

	.status {
		padding: 0px 0px 5px 0px;
	}
}

@include page-non-mobile() {

}

@include page-tablet() {
	.editable-content { width: calc( 50% - 20px); }
}

/* END
/* ***********************************************/
