/* TEMPLATE: SHOW DASHBOARD
/* ***********************************************/
// SETUP :: GENERAL IMPORTS
// ===============================================
@import "application";
@import "partials/content/status";
@import "partials/content/tables/results";
@import "partials/content/tables/manager";
@import "partials/forms/inline_form";

// VIEWPORT :: ALL
// ===============================================
// -- LAYOUT & LOOK
// -----------------------------------------------
.page-content {
	background: $water-lightest-minor;
}
.dashboard-grid {
	background: $page-color;
	margin:     10px $one-twelfth;
	padding:    10px $one-twelfth;
}

h2 {
	text-align: center;
	font-size:  18px;
	margin:     25px 0;
}

// -- TOOLKITS
// -----------------------------------------------
.creation,
.creation-block {
	margin: 0 10px;
}
.alteration {
	margin:    5px 0;
	min-width: 180px;
	width:     100%;
	a {
		padding: 5px 0;
	}
}

.editable-content {
	@include tablet {
		width: calc(50 - 20px);
	}

	@include mobile {
		width: calc(100% - 20px);
	}
}

// -- Management Widget
// -----------------------------------------------
.status {
	font-weight: bolder;
	text-align:  center;
	vertical-align: middle;

	span {
		display: block;
		margin:  5px;
		padding: 5px;
	}
}
.default-pen {
	color: $rose-dark-minor;
}
.management-widget {
	padding-bottom: 35px;
}

// VIEWPORT :: NON-DESKTOP
// ===============================================

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {

	.status {
		padding: 0px 0px 5px 0px;
	}

	.alteration {
		max-width: 200px;
	}
}

/* END
/* ***********************************************/
