/* TEMPLATE: SHOW DASHBOARD
/* ***********************************************/
// SETUP :: GENERAL IMPORTS
// ===============================================
@import "application";
@import "partials/counts";
@import 'partials/forms/inline_form';
@import "partials/content/tableizer";

// VIEWPORT :: ALL
// ===============================================
// -- LAYOUT & LOOK
// -----------------------------------------------
.dashboard-grid {
	background: $page-color;
	margin:     10px $one-twelfth;
	padding:    10px $one-twelfth;
}
.page-content {
	background: $water-lightest-minor;

	& > header {
		border-bottom: 5px solid $fire-dark-minor;
		padding:       0 $one-twelfth;
		padding-top:   30px;
	}
}
h2 {
	text-align: center;
	font-size:  18px;
	margin:     25px 0;
}

// -- TOOLKITS
// -----------------------------------------------
.creation,
.creation-block {
	margin: 0 10px;
}
.alteration {
	margin:    5px 0;
	min-width: 180px;
	width:     100%;
	a {
		padding: 5px 0;
	}
}

// -- USER CONTENT MANAGEMENT
// -----------------------------------------------
.editable {
	margin: 5px 10px;
}
.editable-content th {
	padding: 5px;
	vertical-align: middle;

	a {
		@include uniform-look($water-dark-minor);
		display: block;

		&:hover {
			color: $water-color;
		}
	}
}

// -- TABLE SORTER
// -----------------------------------------------
.sortable .header:after {
	content: "⬩"
}
.sortable .headerSortDown:after {
	content: "▾"
}
.sortable .headerSortUp:after {
	content: "▴"
}

// -- PEN NAMES TOGGLE
// -----------------------------------------------
.status-toggle-link {
	background:      $water-color;
	border-radius:   10px;
	color:           $page-color;
	display:         inline-block;
	width:           120px;
	margin:          5px auto;
	padding:         10px 0;
	text-decoration: none;

	&:before {
		display: block;
		margin-bottom: 5px;
	}
	&:hover {
		background: $water-lighter-major;
		color:      $water-dark-minor;
	}
}

// -- Management Widget
// -----------------------------------------------
.status {
	font-weight: bolder;
	text-align:  center;
	vertical-align: middle;

	span {
		display: block;
		margin:  5px;
		padding: 5px;
	}
}
.default-pen {
	color: $rose-dark-minor;
}
.management-widget {
	padding-bottom: 35px;

	thead {
		background:     $water-lightest-minor;
		border-bottom:  5px solid $water-light-minor;
		padding:        5px 0;
		vertical-align: bottom;
	}
	td {
		font-weight: bolder;
		text-align:  center;
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include desktop {
	tr:nth-child(2n) {
		background: $water-lightest-major;
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	th {
		font-size: $text-size;
	}
	td:not(.manager-editor):before {
	}
	td {
		padding:    0px;
	}
	td:not(.manager-editor) {
		background: $water-lightest-major;
		padding-bottom: 5px;

		&:before {
			background:    $water-lightest-minor;
			border-bottom: 1px solid $water-light-minor;
			padding:       5px 0;
			margin-bottom: 5px;
		}
	}
	.editable-content th {
		padding:     0;
		text-align:  center;
		font-weight: bolder;

		a {
			@include uniform-look($water-lightest-major);
			@include rounded-top(5px);

			background:      $water-dark-minor;
			border-bottom:   3px solid $water-darker-minor;
			text-decoration: none;
			padding:         10px;
			padding-bottom:  5px;
			margin:          0;
			&:hover {
				background:    $water-color;
				color:         $water-lightest-minor;
				border-bottom: 3px solid $water-dark-minor;
			}
		}
	}
	.alteration {
		max-width: 200px;
	}
}

/* END
/* ***********************************************/
