/* TEMPLATE: SKIN SHOW
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/inline_form";
@import "partials/content/comments";

$page-gutter:    $one-sixth;
$article-gutter: $page-gutter / 2;


@include page-desktop() {}
@include page-mobile() {
	@include distanced-comment(5px, 15px);}
@include page-non-mobile() {

	@include distanced-comment(5px, 15px);
}
@include page-tablet() {}

article {
	box-sizing: border-box;
	background: $page-color;
	margin:     0px  $article-gutter;
	box-shadow: 0px 0px 10px $water-darkest-minor;

	p { line-height: 1.5; }
}

/* END
/* ***********************************************/
