/* TEMPLATE: GENERATE
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/mixins/forms";
@import "partials/forms/fields";
@import "partials/forms/fieldsets";
@import "partials/forms/toggle";

// SECTION :: COLORS
// ===============================================
$header:  $fire-light-major;
$heading: $fire-light-minor;

// SECTION :: HEADER
// ===============================================
@include header-look($header, $heading, $fire-color);

// SECTION :: FORM LAYOUT
// ===============================================
form {
	padding:    10px $one-twelfth;
	background: $page-lightest-minor;
}
.page-content {
	background: $page-lightest-minor;
	border-bottom: 3px solid $page-darker-major;
}

.path-finder a {
	color: $water-dark-minor;
}


// SECTION :: FORM CONTENT
// ===============================================
// CONTENT
// -----------------------------------------------
.content-field {
	margin-top: 10px;
}

.description-field.text-field {
	margin: 10px;
}

.article-content-field,
.poem-content-field,
.story-content-field {
	margin: 10px 5px;
}

.style-field {
	padding: 10px 0;
}

.poem-content-field textarea {
	white-space: pre;
	overflow-x: auto !important;
}

// IMAGES
// -----------------------------------------------
.preview-area {
	margin:     10px;
	padding:    10px;
	background: $page-color;
	border:     2px solid $border-color;

	img {
		display:block;
		margin:auto;
		max-width: 150px
	}
}

// MULTIPLE CHOICE CHECK BOXES
// -----------------------------------------------
.multichoice-fields {
	.decision-field {
		display: block;
		margin:  5px;
		.field-value {
			color: $water-dark-minor;
		}
		.field-label {
			padding:    0 10px;
			background: none;
		}
	}
}

.cascadeable-fields {
	margin:  10px;
	padding: 10px;
	border:  2px solid $page-lighter-major;

	.decision-field {
		padding: 5px;
		.field-value {
			color: $water-dark-minor;
		}
		.field-label {
			padding:    0 10px;
			background: none;
		}
	}
}

// RADIO SELECTIONS
// -----------------------------------------------
.choice-fields {
	border-radius: 4px;
	background: $water-dark-minor;
	border:     2px solid $water-dark-minor;
	color:      $water-lightest-minor;

	input[type=radio]:checked + label {
		color:      $water-darker-minor;
		background: $water-light-major;
	}

}

.rating-title {
	font-weight: bolder;
	padding: 8px 0px;
	margin:  5px 0px;
}

// CHOICE WIDTHS
// -----------------------------------------------
.rating .selection-field {
	width: $one-fifth;
}

.nested-item-fields .nature-field {
	width: $one-sixth;
}

.fictionality-field {
	width: $one-half;
}

// BRANCH EDITING
// -----------------------------------------------
.edit_branching .string-field {
	margin: 5px 0;
}
.edit_branching .selection-field {
	padding: 0px 10px 0 0;
}

// SELECTION
// -----------------------------------------------
.selection-field {
	margin: 5px 0;
}

// SUMMARY
// -----------------------------------------------
.summary-field {
	padding: 10px 5px;
}

// SUBMIT
// -----------------------------------------------
.submit-field {
	margin: 10px 10px 0px;

	input {
		@include submission-look($water-dark-major, $water-lightest-minor);
		border-radius: .5em;
	}
}

// TAG
// -----------------------------------------------
.taggable-field {

	label {
		border:     1px solid $fire-light-major;
		background: $fire-light-minor;
		color:      $fire-darkest-major;
	}

	.selectize-input {
		border-color: $fire-light-major;
	}
}

.character-variations-field {
	width: $two-thirds;
	margin: 0 auto;
}

// SECTION :: FIELDSETS
// ==============================================
.agentive-selection {
	background: $page-color;

	.selection-field {
		margin: 5px;
	}
}

.associative-fieldset {
	.selectize-field {
		margin: 5px;
	}
	.summary-field {
		padding: 5px 0px 0px;
	}
}

.meta-selections {
	background: $page-lighter-minor;
	border:     3px solid $page-light-minor;
	padding:    10px;
	margin:     10px 0px;

	.field-label {
		background: $page-dark-minor;
		color:      $page-lightest-major;
	}
	.selection-field select {
		border-color: $page-dark-minor;
	}
}

.nested-anthology-fields .nested-fields {
	margin: 10px auto;
}

.options-fieldset {
	margin-top: 10px;
	padding:    0;

	& > legend {
		background:   $water-lighter-major;
		border-color: $water-color;
	}
}

.edit_branching .primary-fieldset {
	margin: 5px 15px;
}

.rating {
	background:     $page-color;
	border:         3px solid $page-dark-minor;
	margin:         0px;
	padding-bottom: 5px;

	& > legend {
		background:  $page-dark-minor;
		color:       $page-lightest-major;
		font-weight: bolder;
		padding:     10px;
		width:       $one-third;
		margin-left: -0.8em;
	}
}

.squad-tags {
	margin: 10px;
}

.viewpoint-fields {
	border: 3px solid $page-dark-minor;
	margin-bottom: 5px;

	legend {
		background:  $page-lighter-major;
		border:      3px solid $page-dark-minor;
		padding:     5px 10px;
		font-weight: bolder;
	}

	.string-field {
		padding: 5px 10px;
	}

	.facet-id-field {
		margin: 5px 10px;
	}
}

.work-meta-fieldset {
	border-color:   $fire-light-minor;
	padding-left:   25px;
	padding-right:  25px;
	padding-bottom: 25px;

	& > legend {
		background:    $page-lightest-major;
		border-radius: 1em;
		border:        0.25em solid $fire-light-minor;
		color:         $fire-darker-minor;
		padding:       10px;
		width:         100%;
	}
}

// SECTION :: VIEWPORTS
// ===============================================
@include page-desktop()    {
	.logged-in {
		color: $page-darkest-minor;
		background: $heading;
	}
}

@include page-mobile()     {
	form {
		padding: 5px
	}

	.rating-title {
		margin: 0px;
		padding-bottom: 0;
	}

	.tooltip {
		margin: 10px;
	}

	.choice-fields .selection-field {
		width: $one-whole;
	}
}

@include page-non-mobile() {}
@include page-tablet()     {}

/* END
/* ***********************************************/
