/* TEMPLATE: FORMS FOR UPLOADS
/* ***********************************************/
// TABLE of CONTENT
// ===============================================
// -- SETUP :: IMPORTS
// -- SECTION :: LAYOUT & HEADER
// -- SECTION :: FORM CONTENT
// ----- Text Content
// ----- Images
// ----- Selections // Choices
// ----- Selections // Choice Widths
// ----- Selections // Multichoice
// ----- Tags
// -- SECTION :: FIELDSETS
// ----- General
// ----- Meta
// ----- Opinion
// -- SECTION :: HELP
// -- SECTION :: FOOTER
// -- SECTION :: VIEWPORTS
// ===============================================

// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "variables/form";

@import "partials/mixins/forms";
@import "partials/forms/fields";
@import "partials/forms/fieldsets";
@import "partials/forms/toggle";
@import "partials/forms/errors";
// ===============================================

// SECTION :: LAYOUT & HEADER
// ===============================================
.page-content {
	background    : $form-background;
	border-bottom : 3px solid $page-darker-major;

	header {
		background    : $header-background;
		border-bottom : 7px solid $form-border-color;
	}
}

form {
	padding    : $form-margin $gutter;
	background : $form-background;
}

h1 {
	background : $form-title-background;
}
// ===============================================

// SECTION :: FORM CONTENT
// ===============================================
// -----------------------------------------------
// -- Text Content
// -----------------------------------------------
.content-field { margin-top : $form-margin; }
.description-field.text-field { margin : $form-margin; }
.edit_branching .string-field { margin : 5px 0px; }
.style-field   { padding : $form-margin 0px; }
.summary-field { padding : $form-margin 5px; }

.poem-content-field textarea {
	white-space : pre;
	overflow-x  : auto !important;
}

.poem-content-field,
.story-content-field,
.article-content-field {
	margin: $form-margin 5px;
}
// -----------------------------------------------

// -----------------------------------------------
// -- Images
// -----------------------------------------------
.preview-area {
	background : $page-color;
	border     : 2px solid $border-color;
	padding    : $form-margin;
	margin     : $form-margin;

	img {
		display   : block;
		margin    : auto;
		max-width : 150px;
	}
}
// -----------------------------------------------

// -----------------------------------------------
// -- Selections // Choices
// -----------------------------------------------
.choice-fields {
	background    : $choice-background;
	border        : 2px solid $choice-border-color;
	border-radius : 5px;
	color         : $choice-color;

	input[type=radio]:checked + label {
		color      : $choice-background;
		background : $choice-color;
	}
}

.rating-title {
	font-weight : bolder;
	margin      : 5px 0px;
	padding     : 8px 0px;
}

.selection-field { margin : 5px 0px; }
.edit_branching .selection-field { padding : 0px $form-margin 0px 0px; }
// -----------------------------------------------

// -----------------------------------------------
// -- Selections // Choice Widths
// -----------------------------------------------
.fictionality-field { width : $fiction-type-size; }
.nested-item-fields .nature-field { width : $item-type-size; }

.rating .selection-field,
.nested-opinion-fields .selection-field { width : $opinion-type-size; }
// -----------------------------------------------

// -----------------------------------------------
// Selections // Multichoice
// -----------------------------------------------
.multichoice-fields .decision-field {
	display : block;
	margin  : 5px;

	.field-value { color: $decision-color; }

	.field-label {
		padding    : 0px $form-margin;
		background : none;
	}
}

.cascadeable-fields {
	border  : 2px solid $page-lighter-major;
	margin  : $form-margin;
	padding : $form-margin;

	.decision-field {
		padding: 5px;

		.field-value { color: $decision-color; }

		.field-label {
			padding    : 0px $form-margin;
			background : none;
		}
	}
}
// -----------------------------------------------

// -----------------------------------------------
// -- Tags
// -----------------------------------------------
.squad-tags { margin: $form-margin; }

.character-variations-field {
	width  : $variant-width;
	margin : 0px auto;
}

.taggable-field {
	.selectize-input { border-color : $tagging-border-color; }

	label {
		border     : 1px solid $tagging-border-color;
		background : $tag-header-background;
		color      : $tag-header-color;
	}
}
// -----------------------------------------------
// ===============================================

// SECTION :: FIELDSETS
// ===============================================
// -----------------------------------------------
// -- General
// -----------------------------------------------
.edit_branching .primary-fieldset { margin : 5px 15px; }
.nested-anthology-fields .nested-fields { margin : $form-margin auto; }

.agentive-selection {
	background : $agent-background;

	.selection-field { margin : 5px; }
}

.associative-fieldset {
	.selectize-field { margin  : 5px; }
	.summary-field   { padding : 5px 0px 0px; }
}
// -----------------------------------------------

// -----------------------------------------------
// -- Meta
// -----------------------------------------------
.meta-selections {
	background : $meta-box-background;
	border     : 3px solid $meta-box-border-color;
	padding    : $form-margin;
	margin     : $form-margin 0px;

	.selection-field select { border-color : $page-dark-minor; }

	.field-label {
		background : $meta-title-background;
		color      : $meta-title-color;
	}
}

.work-meta-fieldset {
	border-color   : $form-border-color;
	padding-left   : 25px;
	padding-right  : 25px;
	padding-bottom : 25px;

	& > legend {
		background:    $work-meta-background;
		border-radius: 1em;
		border:        0.25em solid $work-meta-border-color;
		color:         $work-meta-color;
		padding:       $form-margin;
		width:         100%;
	}
}
// -----------------------------------------------

// -----------------------------------------------
// -- Opinion
// -----------------------------------------------
.options-fieldset {
	border     : none;
	margin-top : $form-margin;
	padding    : 0;

	& > legend {
		background   : $option-title-background;
		border-color : $option-title-border-color;
	}
}

.rating {
	background     : $rating-background;
	border         : 3px solid $rating-border-color;
	margin         : 0px;
	padding-bottom : 5px;

	& > legend {
		background  : $rating-title-background;
		color       : $rating-title-color;
		font-weight : bolder;
		padding     : $form-margin;
		width       : $rating-width;
		margin-left : -0.8em;
	}
}

.viewpoint-fields {
	border        : 3px solid $opinion-border-color;
	margin-bottom : 5px;

	legend {
		background  : $opinion-title-background;
		border      : 3px solid $opinion-title-border-color;
		font-weight : bolder;
		padding     : 5px $form-margin;
	}

	.string-field,
	.facet-id-field {
		padding : 5px $form-margin;
	}
}
// -----------------------------------------------
// ===============================================

// SECTION :: HELP
// ===============================================
.tool-explain { margin : $form-margin; }

.tooltip {
	background : $tooltip-background;
	border     : 2px solid $tooltip-border-color;
	margin     : $form-margin 0px $form-margin $form-margin;
	padding    : $form-margin;

	li { padding : 2px 5px; }
	ul {
		margin-top : 0px;
		padding    : 0px 1em;
	}
}
// ===============================================

// SECTION :: FOOTER
// ===============================================
.path-finder a { color : $path-color; }

.submit-field {
	margin : $form-margin $form-margin 0px;

	input {
		@include submission-look($submission-background, $submission-color);
		border-radius : .5em;
	}
}
// ===============================================

// SECTION :: VIEWPORTS
// ===============================================
@include page-desktop() {
	.logged-in {
		background : $form-background;
		color      : $link-color;
	}
}

@include page-mobile() {
	form { padding : 5px; }
	.tooltip { margin : $form-margin; }
	.choice-fields .selection-field { width : $one-whole; }

	.rating-title {
		margin         : 0px;
		padding-bottom : 0px;
	}
}

@include page-non-mobile() {}
@include page-tablet()     {}
// ===============================================

/* END
/* ***********************************************/
