/* TEMPLATE: GENERATE
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/page_form";
@import "partials/forms/fields/selections";
@import "partials/forms/fields/slider";
@import "partials/forms/fieldsets/choose_any";
@import "partials/forms/fieldsets/nested";
@import "partials/forms/fieldsets/nested_page";
@import "partials/forms/fieldsets/radio";
@import "partials/forms/fieldsets/tags";

// SECTION :: COLORS
// ===============================================
$header:         $fire-light-major;
$heading:        $fire-light-major;
$content-shadow: 0px 0px 10px $page-darker-minor;

// SECTION :: ALL
// ===============================================
@include header-look($header, $heading, $fire-color);

@include desktop {
	.logged-in {
		color: $page-darkest-minor;
		background: $fire-light-major;
	}
}

// SECTION :: HEADER
// ===============================================
h1 {
	border-bottom: 5px solid $fire-color;
	color:         $fire-darkest-minor;
	text-align:    center;
	
	a {
		color: $fire-extreme-light;
	}
}

// SECTION :: BODY
// ===============================================
.nested > legend {
	background:   $fire-lighter-minor;
	border-color: $fire-light-major;
}
.field {
	margin: 5px 0;
}
.submit-field input {
	@include submission-look($fire-light-minor, $fire-darkest-minor);
}
.clarify {
	font-weight: bolder;
	ul {
		padding: 10px 0 15px;
	}
	li {
		padding: 2px 25px;
	}
}

/* END
/* ***********************************************/
