/* TEMPLATE: GENERATOR
************************************************/
// SETUP
// =============================================
@import "application";

// STYLE IMPORTS
// =============================================
@import 'partials/forms/general';
@import 'partials/forms/nested';
@import 'partials/forms/nested_chapters';
@import 'partials/forms/radio_buttons';
@import 'partials/forms/paired_fields';
@import 'partials/forms/selections';
@import 'partials/forms/dropdown';

// VIEWPORT: ALL
// =============================================
.generatable {
	margin:     0;
	padding:    0;
	width:      100%;
	background: #FFF;
	a:hover { text-decoration: underline; }
}
input[type="submit"] {
	@include clickable($moss-darker);
}
form {
	border-top:    3px solid $moss-color;
	border-bottom: 3px solid $moss-color;
}
.primary {
	margin-bottom: 0;
}
.primary fieldset {
	padding: 10px;
}
.primary fieldset ,
.primary fieldset legend {
	background: $page-color;
	border:     1px solid $border-color;
}

// HEADINGS AND LABELS
// .............................................
h1 {
	background:    $moss-lighter;
	color:         $moss-darker;
	text-align:    center;
}
label { 
	display: none;
}
legend {
	font-variant:   small-caps;
	letter-spacing: 2px;
	padding:        10px;
	width:          calc(100% - 20px);
}
.ref {
	background: $page-color;
	color: $moss-dark;
	a { font-style: italic; }
}

// ABOUT
// .............................................
.about,
.about legend {
	border: 1px solid $border-color;
	padding: 10px;
	margin: 10px;
	width: calc(100% - 40px);
}
.about {
	background: lighten(#F0F0F0, 2%);
}
.about legend {
	background: $page-color;
}

// TAGS
// .............................................
.tags {
	background: $page-color;
	border: 1px solid $border-color;
	margin: 0 auto;
	padding: 10px;
	
	.about & { width: 90%; }
	legend {
		background: $page-color;
		border: 1px solid $border-color;
		margin: 0;
	}
	label {
		color:         $moss-dark;
		display:       inline-block;
		float:         left;
		font-weight:   bolder;
		padding:       7px 4px;
		padding-top:   13px;
		text-align:    right;
	}
}
.taggables {
	display: inline-block;
}
.edit .about .tags { 
	display: none;
}

// SLIDER
// .............................................
@import 'partials/forms/slider';
.slider {
	padding:    10px;
	background: $page-color;
	border:     1px solid $border-color;
}

/* MOBILE
************************************************/
@include mobile {
	.tags label { 
		width: calc(100% - 8px);
		border-top: none;
		border-bottom: 6px solid $border-color;
	}
	.taggables {
		width: 100%;
	}
}

/* DESKTOP
************************************************/
@include desktop {
	.tags label { width: calc(25% - 8px); }
	.about .taggables {
		width: 75%;
	}
}

/* TABLET
************************************************/
@include tablet {
	.tags label { width: calc(35% - 8px); }
	.about .taggables {
		width: 65%;
	}
}

/* END */