/* TEMPLATE: HOME
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
.page-content .panel-cell p {
	padding:    10px 0;
	text-align: center;
}
h1 {
	color: $page-color;
}
@include page-desktop() {}
@include page-mobile() {}
@include page-non-mobile() {}
@include page-tablet() {}

.water-lightest-major { background: $water-lightest-major; }
.water-lightest-minor { background: $water-lightest-minor; }
.water-lighter-major  { background: $water-lighter-major;  }
.water-lighter-minor  { background: $water-lighter-minor;  }
.water-light-major    { background: $water-light-major;    }
.water-light-minor    { background: $water-light-minor;    }
.water-medium-color   { background: $water-color;          }
.water-dark-minor     { background: $water-dark-minor;     }
.water-dark-major     { background: $water-dark-major;     }
.water-darker-minor   { background: $water-darker-minor;   }
.water-darker-major   { background: $water-darker-major;   }
.water-darkest-minor  { background: $water-darkest-minor;  }
.water-darkest-major  { background: $water-darkest-major;  }

.fire-lightest-major { background: $fire-lightest-major; }
.fire-lightest-minor { background: $fire-lightest-minor; }
.fire-lighter-major  { background: $fire-lighter-major;  }
.fire-lighter-minor  { background: $fire-lighter-minor;  }
.fire-light-major    { background: $fire-light-major;    }
.fire-light-minor    { background: $fire-light-minor;    }
.fire-medium-color   { background: $fire-color;          }
.fire-dark-minor     { background: $fire-dark-minor;     }
.fire-dark-major     { background: $fire-dark-major;     }
.fire-darker-minor   { background: $fire-darker-minor;   }
.fire-darker-major   { background: $fire-darker-major;   }
.fire-darkest-minor  { background: $fire-darkest-minor;  }
.fire-darkest-major  { background: $fire-darkest-major;  }

.moss-lightest-major { background: $moss-lightest-major; }
.moss-lightest-minor { background: $moss-lightest-minor; }
.moss-lighter-major  { background: $moss-lighter-major;  }
.moss-lighter-minor  { background: $moss-lighter-minor;  }
.moss-light-major    { background: $moss-light-major;    }
.moss-light-minor    { background: $moss-light-minor;    }
.moss-medium-color   { background: $moss-color;          }
.moss-dark-minor     { background: $moss-dark-minor;     }
.moss-dark-major     { background: $moss-dark-major;     }
.moss-darker-minor   { background: $moss-darker-minor;   }
.moss-darker-major   { background: $moss-darker-major;   }
.moss-darkest-minor  { background: $moss-darkest-minor;  }
.moss-darkest-major  { background: $moss-darkest-major;  }

.rose-lightest-major { background: $rose-lightest-major; }
.rose-lightest-minor { background: $rose-lightest-minor; }
.rose-lighter-major  { background: $rose-lighter-major;  }
.rose-lighter-minor  { background: $rose-lighter-minor;  }
.rose-light-major    { background: $rose-light-major;    }
.rose-light-minor    { background: $rose-light-minor;    }
.rose-medium-color   { background: $rose-color;          }
.rose-dark-minor     { background: $rose-dark-minor;     }
.rose-dark-major     { background: $rose-dark-major;     }
.rose-darker-minor   { background: $rose-darker-minor;   }
.rose-darker-major   { background: $rose-darker-major;   }
.rose-darkest-minor  { background: $rose-darkest-minor;  }
.rose-darkest-major  { background: $rose-darkest-major;  }

.page-lightest-major { background: $page-lightest-major; }
.page-lightest-minor { background: $page-lightest-minor; }
.page-lighter-major  { background: $page-lighter-major;  }
.page-lighter-minor  { background: $page-lighter-minor;  }
.page-light-major    { background: $page-light-major;    }
.page-light-minor    { background: $page-light-minor;    }
.page-medium-color   { background: $page-medium;         }
.page-dark-minor     { background: $page-dark-minor;     }
.page-dark-major     { background: $page-dark-major;     }
.page-darker-minor   { background: $page-darker-minor;   }
.page-darker-major   { background: $page-darker-major;   }
.page-darkest-minor  { background: $page-darkest-minor;  }
.page-darkest-major  { background: $page-darkest-major;  }


.lightest-major { color: $page-darkest-major;  }
.lightest-minor { color: $page-darkest-major;  }
.lighter-major  { color: $page-darkest-major;  }
.lighter-minor  { color: $page-darkest-major;  }
.light-major    { color: $page-darkest-major;  }
.light-minor    { color: $page-darkest-major;  }
.medium-color   { color: $page-lightest-major; }
.dark-minor     { color: $page-lightest-major; }
.dark-major     { color: $page-lightest-major; }
.darker-minor   { color: $page-lightest-major; }
.darker-major   { color: $page-lightest-major; }
.darkest-minor  { color: $page-lightest-major; }
.darkest-major  { color: $page-lightest-major; }

/* END
/* ***********************************************/
