/* TEMPLATE: HOME
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/content/recent";

// SECTION :: ALL
// ===============================================
.page-content {
	background: $water-darker-minor;
}

@include page-desktop() {
	.welcome-widget { padding: 5em 0; }
}

@include page-mobile() {
	.welcome-widget { display: none; }
}

@include page-non-mobile() {
	.welcome-widget {
		background: $water-darker-minor;
		color:      $water-light-minor;
		text-align: center;
		h1 {
			font-weight: lighter;
		}
	}
}

@include page-tablet() {
	.welcome-widget { padding: 2em 0; }

}

/* END
/* ***********************************************/