/* TEMPLATE: INDEX
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/inline_form";
@import "partials/forms/fields/selections";
@import "partials/content/snippets";

// SECTION :: COLORS
// ===============================================
$page:           $water-light-minor;
$border:         $water-color;
$header:         $water-dark-minor;
$heading:        $moss-dark-minor;
$content-shadow: 0px 0px 10px $water-darker-major;

// SECTION :: HEADER
// ===============================================
.index-header > .toolkit {
	margin:  10px 0;
	padding: 0 $one-twelfth;
}

.type-categories {
	margin:  0;
	padding: 0 $one-twelfth;

	li {
		display: inline-block;
		padding: 10px 15px 5px 0px;
	}
	a {
		color:       $water-lightest-minor;
		font-weight: 900;

		&:hover {
			color: $fire-light-minor;
		}
	}
}
.page-body,
.index-body {
	background: $water-dark-minor;
	box-shadow: $content-shadow;
}
.index-body {
	padding: 10px;
}

.dashboard-body {
	margin:     0;
	padding:    10px $one-twelfth;
	background: $page-light-minor;
}

// SECTION :: BODY
// ===============================================
// FILTERS
// -----------------------------------------------
.filters {
	padding:    15px;
	background: $water-color;

	h2 {
		background:    $water-lightest-minor;
		border-bottom: 3px solid $water-light-minor;
		font-size:     $text-size + 1px;
		font-weight:   300;
		font-variant:  small-caps;
		margin:        0;
		padding:       7px 15px;
	}
	li {
		display:     block;
		font-size:   .95em;
		font-weight: 600;
		padding:     8px 0;
	}
	a {
		color:           $water-dark-minor;
		display:         block;
		padding:         0 15px;
		text-decoration: none;

		&:hover {
			color:       $water-darker-minor;
			font-weight: 900;
		}
	}
	ul {
		padding: 0;
		margin:  0;
	}
}

.filter-links {
	padding: 5px 10px;
	width: calc(100%);
	border: none;
	border-bottom: 3px solid $fire-light-minor;
}

.display-question {
	margin:  20px 0 0 -20px;
	padding: 10px 15px;
	background: $water-darker-minor;
	text-align: center;
	a {
		color: $water-lighter-minor;
	}
}

// RESULTS
// -----------------------------------------------
.filtered .panel-cell {
	float: right;
}
.filtered .tag-input .panel-cell {
	float: left;
	label {
		background:  $moss-dark-minor;
		color:       $page-color;
		font-weight: bolder;
		margin:      0 5px;
		padding:     10px;
		text-align:  center;
	}
	.taggables {
		margin-right: 5px;
		width:        calc(100% - 5px);
	}
}

.indexable {
	@include columnable_by(15em);
	margin:  0;
	padding: 0;
}

.pagination {
	padding:    10px;
	background: $fire-lightest-minor;
	color:      $page-darkest-minor;

	header & { border-bottom: 3px solid $fire-light-minor; }
	footer & { border-top:    3px solid $fire-light-minor; }

	a {
		color: $page-darker-minor;
	}
}

.results {
	margin:  10px;
	padding: 0px;

	dl,
	ul {
		padding: 15px;
	}
	dt {
		font-weight: bolder;
	}

	h2 {
		border-bottom: 3px solid $water-light-minor;
		padding:       5px 10px;
	}
}

.media-results,
.results > .indexable,
.results-body {
	background: $page-color;
	overflow:   auto;
}

.media-results .page-widget {
	h2 {
		padding: 10px 5px 2px 10px;
		border:  none;

		a {
			color: $page-darker-minor;

			&:hover { color: $page-darkest-minor; }
		}
	}

	.indexable {
		display: none;
	}

	&:hover .indexable {
		display: block;
	}
}

.branches {
	margin: 0 10px;
}

.branch {
	padding-bottom: 25px;
	background: $page-color;

	.alteration {
		margin:    10px;
		max-width: 100%;
		width:     calc(100% - 20px);
	}

	h2 {
		color: $page-color;
		background:          $water-dark-minor;
		border-bottom-color: $water-dark-major;
		a {
			color: $page-color;
		}
	}

	ul {
		padding: 10px 15px 0px;
	}
}

.ratings span {
	font-size: .85em;
}

.child-branch {
    margin: 0 auto;
    width:  $four-fifths;

	.alteration {
		margin:    0px;
    	width:     calc(100% - 0px);
    	font-size: .82em;

    	a {
    		padding: 5px 0;
    	}
	}
	h3 {
		padding:       5px 0 3px;
		margin:        5px 0;
	}
}

@include tableized-results($page-color, $water-dark-minor, $fire-lightest-major, $water-dark-major, 5px);

// SECTION :: VIEWPORT
// ===============================================
@include page-desktop() {
	@include indexed-banding($water-lightest-minor);
	.manager-editor .toolkit {
		min-width: 200px;
	}
}

@include page-mobile() {
	@include mobilized-forms();
	@include mobile-snippet();

	.child-branch .alteration {
		margin:    5px 0px 10px;
		max-width: 200px;
	}
}

@include page-non-desktop {
	.tableized-results { @include tb-modularize(); }
	.page-body .tableized-results { @include results-modularize(); }
}

@include page-non-mobile() {
	@include non-mobile-snippet();
	table .toolkit {
		margin: 0;
	}
	.display-question {
		border-top-left-radius: 20px;
	}
	.insertion {
		max-width: 100%;
	}
	.filters {
		margin-right: 30px;
	}
}

@include page-tablet() {
	.filters {
		padding: 5px;
	}
}

/* END
/* ***********************************************/
