/* TEMPLATE: INDEX
/* ***********************************************/
// TABLE of CONTENT
// ===============================================
// -- SETUP :: IMPORTS
// -- SETUP :: VARIABLES
// ----- Index
// ----- Filters
// -- SECTION :: HEADER
// -- SECTION :: BODY LAYOUT
// -- SECTION :: FILTERS
// ----- Layout
// ----- Sections
// ----- Toggle
// -- SECTION :: RESULTS
// -- SECTION :: VIEWPORTS
// ----- Desktop
// ----- Desktop & Tablet
// ----- Tablet
// ----- Mobile & Tablet
// ----- Mobile
// ===============================================

// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/inline_form";
@import "partials/forms/fields/selections";
@import "partials/content/snippets";
@import "partials/mixins/data";
// ===============================================

// SETUP :: VARIABLES
// ===============================================
// -----------------------------------------------
// -- Index
// -----------------------------------------------
$index-background : desaturate($water-light-major, 70%);

$index-question-background : $water-darker-minor;
$index-question-color      : $page-color;

$results-background           : $page-color;
$results-toolkit-border-color : $page-darkest-minor;

$index-title-background   : $page-lighter-minor;
$index-title-border-color : $page-darker-major;

$border-width : 5px;

$index-border     : $border-width solid desaturate($water-dark-minor, 70%);
$filters-border   : $border-width solid $water-dark-minor;
$tableized-border : $border-width solid $page-darker-major;
// -----------------------------------------------

// -----------------------------------------------
// -- Pagination
// -----------------------------------------------
$index-paging-background : $fire-lightest-minor;
$index-paging-border     : 3px solid $fire-light-minor;
$index-paging-color      : $page-darkest-minor;
$index-paging-link-color : $page-darker-minor;
// -----------------------------------------------

// -----------------------------------------------
// -- Filters
// -----------------------------------------------
$filters-background : $water-light-minor;

$filter-link-color       : $water-dark-minor;
$filter-link-hover-color : $water-darker-minor;

$filter-submit-background : $water-darker-minor;
$filter-submit-hover      : $water-dark-major;

$filter-background   : $page-color;
$filter-title-color  : $page-lightest-minor;
$fitler-title-border : 3px solid $page-light-minor;

$filter-tag-label-color : $fire-dark-minor;

$filter-toggle-background : $page-dark-minor;
$filter-toggle-color      : $page-color;
// -----------------------------------------------
// ===============================================

// SECTION :: HEADER
// ===============================================
.index-header .directory {
	display    : block;
	padding    : 5px 0px;
	text-align : center;

	a {
		border-radius : 5px;
		display       : inline-block;
	}
}
// ===============================================

// SECTION :: BODY LAYOUT
// ===============================================
.page-body,
.index-body {
	background : $index-background;
	border     : $index-border;
}

.index-body {
	padding : 15px;
}

.filtered { padding : 15px 0px; }

.filtered .grid-panel { display : table; }
.filtered .panel-cell {
	display : table-cell;
	float   : none;
}
// ===============================================

// SECTION :: FILTERS
// ===============================================
// -----------------------------------------------
// -- Layout
// -----------------------------------------------
.filters-body {
	background : $filters-background;
	border     : $filters-border;

	.filter-body-heading {
		border  : none;
		padding : 10px;
	}
}

.filter-body-heading {
	display : none;
}

.filters {
	padding : 15px;

	.submit-field input       { background : $filter-submit-background; }
	.submit-field input:hover { background : $filter-submit-hover; }
}
// -----------------------------------------------

// -----------------------------------------------
// -- Sections
// -----------------------------------------------
.filter-section {
	background : $filter-background;
	padding    : 5px;

	ul {
		padding : 0px;
		margin  : 0px;
	}
	li {
		display     : block;
		font-size   : 0.95em;
		font-weight : 600;
		padding     : 8px 0px;
	}
	a {
		color           : $filter-link-color;
		display         : block;
		padding         : 0px 15px;
		text-decoration : none;

		&:hover {
			color       : $filter-link-hover-color;
			font-weight : 900;
		}
	}
}

.filter-title {
	background    : $filter-title-color;
	border-bottom : $fitler-title-border;
	font-size     : $text-size + 1px;
	font-weight   : 300;
	font-variant  : small-caps;
	margin        : 0px;
	padding       : 7px 15px;
}

.filter-tags-title { overflow : auto; }

.toggleable-filter-tags .field-label {
	color      : $filter-tag-label-color;
	text-align : right;
}
// -----------------------------------------------

// -----------------------------------------------
// -- Toggle
// -----------------------------------------------
.show-cell,
.hide-cell {
	display      : inline-block;
	float        : right;
	font-variant : none;
}

.show-toggle,
.hide-toggle {
	border-radius : 10px;
	background    : $filter-toggle-background;
	color         : $filter-toggle-color;
	cursor        : pointer;
	padding       : 0px 10px;
	font-weight   : 600;
}

.toggleable-filter-tags,
.hide-toggle {
	display : none;
}
// -----------------------------------------------
// ===============================================

// SECTION :: RESULTS
// ===============================================
// -----------------------------------------------
// -- Results Layout & Headings
// -----------------------------------------------
.media-results,
.results > .indexable,
.results-body {
	background : $results-background;
	border     : $index-border;
	overflow   : auto;
}

.indexable {
	@include columnable_by(15em);
	margin  : 0px;
	padding : 10px;
	dt {
		font-weight: bolder;
	}
}

.media-results {
	margin  : 0px;
	padding : 15px;
}

.results-body .snippet {
	margin : 15px;
}

.index-body {
	h2 {
		background    : $index-title-background;
		border-bottom : 5px solid $index-title-border-color;
		padding       : 15px 10px 5px;
	}
}

// -----------------------------------------------

// -----------------------------------------------
// -- Tools & Pagination
// -----------------------------------------------
.display-question {
	background : $index-question-background;
	margin     : 20px -5px -5px -20px;
	padding    : 10px 15px;
	text-align : center;

	a { color: $index-question-color; }
}

.pagination {
	padding    : 10px;
	background : $index-paging-background;
	color      : $index-paging-color;

	header &,
	footer & { border : $index-paging-border; }

	a { color : $index-paging-link-color; }
}
// -----------------------------------------------

// -----------------------------------------------
// -- Index Table
// -----------------------------------------------
.results-table {
	background : $results-background;
	padding    : 10px;

	& > .insertion,
	& > .creation {
		margin: 10px auto;
	}
}

.tableized-results {
	border-bottom : $tableized-border;
	border-top    : $tableized-border;

	thead {
		border-bottom : $tableized-border;

		th {
			padding        : 15px 10px 5px 10px;
			vertical-align : bottom;
		}
	}

	td { text-align : center; }

	.manager-editor {
		display     : none;
		font-weight : bolder;
	}
	.position {
		text-align : center;
	}
}

.branches-table {
	margin : 15px;
	width  : calc(100% - 30px);
}
// -----------------------------------------------
// ===============================================

// VIEWPORTS
// ===============================================
// -----------------------------------------------
// -- Desktop
// -----------------------------------------------
@include page-desktop() {
	@include desktop-management-toolkit($results-background, $results-toolkit-border-color);
}
// -----------------------------------------------

// -----------------------------------------------
// -- Desktop & Tablet
// -----------------------------------------------
@include page-non-mobile() {
	.tableized-results td { font-size : 0.8em; }
	.branching-info    td { font-size : 1em; }

	.filters {
		display : block !important;
	}
	.filtered .filters-body {
		border-right  : none;
	}

}
// -----------------------------------------------

// -----------------------------------------------
// -- Tablet
// -----------------------------------------------
@include page-tablet() {

}
// -----------------------------------------------

// -----------------------------------------------
// -- Mobile & Tablet
// -----------------------------------------------
@include page-non-desktop() {

}
// -----------------------------------------------

// -----------------------------------------------
// -- Mobile
// -----------------------------------------------
@include page-mobile() {

	// Tables
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.tableized-results {
		@include mobile-friendly-data-results();
		@include mobile-friendly-table-data($page-darker-major);
	}
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	// Work Subelements
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.chapter-info th { display : inline; }
	.branching-info td { text-align : left; }
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	// Filtered indices
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	.filtered .panel-cell,
	.filters-body .filter-show-heading {
		display : block;
		border  : none;
	}

	.filters { display : none; }

	.filtered .results-body { margin-top : 15px; }

	.display-question { margin : 0px; }
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

}
// -----------------------------------------------
// ===============================================

/* END
/* ***********************************************/
