/* TEMPLATE: SIGN IN AND SIGN UP
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/mixins/forms";

// VIEWPORT :: ALL
// ===============================================
// -- Structural
// -----------------------------------------------
.membership {
	margin: 40px auto;
	max-width: 600px;
	width: 50%;

	footer {
		text-align: center;
		padding: 10px 20px;
	}
}
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

// -- Headings
// -----------------------------------------------
h2 {
	margin: 0;
}
legend {
	width: calc(100% - 20px);
	margin: 0;
}
h2,
legend {
	background:    $water-darkest;
	color:         $water-lightest;
	padding:       10px;
	text-align:    center;
}
label {
	color: $page-color;
	font-weight: bolder;
	display: block;
	padding: 10px;
	border-top: 4px solid $water-darker;
	margin: 0;
	background: $water-dark;
}

// -- Input
// -----------------------------------------------
input {
	padding: 10px;
	border: none;
	background: lighten($water-lightest, 5%);
}
input:not([type="checkbox"]) {
	width: calc(100% - 20px);
}
input[type="submit"] {
	@include clickable(desaturate($water-darker, 10%));
	width: calc(100% - 40px);
	margin: 15px 20px;
}

// -- Remeber Checkbox
// -----------------------------------------------
.rememberable {
	border-top: 4px solid $water-darker;
	overflow: auto;

	input {
		float:  left;
		margin: 10px;
	}
	label {
		background: $page-color;
		border:     none;
		color:      $water-dark;
	}
}

// VIEWPORT :: DESKTOP
// ===============================================
@include desktop {
	form {
		overflow: auto;
	}
	fieldset .field {
		width: 50%;
		float: left;
	}
}

/* END
/* ***********************************************/
