/* TEMPLATE: SIGN IN AND SIGN UP
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/fields";
@import "partials/mixins/forms";

// SETUP :: VIEWPORTS
// ===============================================
@include page-desktop() {}
@include page-mobile() {}
@include page-non-mobile() {}
@include page-tablet() {}

// SECTION :: HEADER
// ===============================================
h2 {
	background:     $water-color;
	border-bottom:  7px solid $water-dark-minor;
	color:          $water-lightest-minor;
	letter-spacing: 3px;
	margin:         0;
	padding:        10px $one-twelfth;
	padding-top:    25px;
	text-transform: lowercase;
	font-style:     italic;
}
.page-content {
	border-bottom:  7px solid $water-dark-major;
}

// SECTION :: FORM LAYOUT
// ===============================================
form {
	border:     3px solid $page-dark-minor;
	margin:     10px auto;
	margin-top: 25px;
	max-width:  350px;
	background: $page-lightest-minor;
	color:      $fire-darker-major;
}

fieldset {
	border:  none;
	margin:  0;
	margin-top: 10px;
	padding: 0;

	legend {
		background: $fire-dark-major;
		color:      $fire-lighter-major;
		margin:     0px;
		padding:    8px;
		width:      calc(100% - 16px);
	}
}

// SECTION :: FORM CONTENT
// ===============================================
$y: $golden-minor / 2;
$x: 100% - $y;
$z: ($y/$x);

.decision-field {
	.field-value {
		margin-right: $y;
	}
	.field-label {
		padding: 0;
	}
	label {
		margin:  5px 10px 5px calc(#{$z * 100%} - 26px);
		padding: 10px 8px;
	}
}
.field-label {
	background: none;
	margin:     0;
	padding:    8px 0px;
}

input[type=checkbox]:checked + label .field-value:before{
	color:       $fire-dark-minor;
	text-shadow: 0 0 .025em $fire-color;
}

.submit-field input {
	@include submission-look($fire-color, $page-color);
}

// SECTION :: FOOTER
// ===============================================
.page-content footer {
	padding-top:    10px;
	padding-bottom: 25px;
	text-align:     center;
	a {
		color: $page-color;
	}
}

/* END
/* ***********************************************/
