/* TEMPLATE: SHOW
/* ***********************************************/
// TABLE of CONTENT
// ===============================================
// -- SETUP :: IMPORTS
// -- SECTION :: HEADER
// ----- Pagination
// ----- Tables
// ----- Subject Content
// ----- Work Content
// -- SECTION :: VIEWPORTS
// ----- Desktop
// ----- Desktop & Tablet
// ----- Tablet
// ----- Mobile & Tablet
// ----- Mobile
// ===============================================

// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/content/tabs";
@import "partials/code/css";
@import "partials/forms/inline_form";
@import "partials/content/status";
@import "partials/content/comments";
@import "partials/forms/fields/switch";
// ===============================================

// SECTION :: HEADER
// ===============================================
.show-header h1 { padding-top : 25px; }
.work-header h1 {
	border-bottom-style : solid;
	border-bottom-width : 7px;
	border-bottom-color : $show-title-border-color;
}

// -----------------------------------------------
// -- Metadata
// -----------------------------------------------
.metadata {
	clear   : both;
	padding : 10px $gutter;
}

.category-data {
	margin : 25px $gutter;
	clear  : both;
	text-align : center;
	font-size  : 1.3em;

	.datum { display : block; }
}

.date-metadatum {
	display : inline-block;
	margin  : 3px 5px;
}

.date-label { font-weight : bolder; }

.date-value,
.byline-value {
	display : inline-block;
	margin  : 0px 5px;
}


// -----------------------------------------------

// -----------------------------------------------
// -- Toolkits
// -----------------------------------------------
.show-header .toolkit:not(.creation) {
	margin    : 5px $gutter;
	max-width : calc(100% - #{$gutter * 2});
}

.alteration {
	min-width : 50%;
}

.multikit {
	margin : 0px $gutter;
}
// -----------------------------------------------
// ===============================================

// SECTION :: BODY CONTENT
// ===============================================
// -----------------------------------------------
// -- Pagination
// -----------------------------------------------
.pageable {
	background : $widget-background;
	margin     : 10px;
	padding    : 10px;
}

.pageable .field-label {
	display : none;
}

.pagination {
	display      : table;
	font-weight  : bolder;
	margin       : 10px 15px;
	padding      : 0px;
	table-layout : fixed;
	width        : calc(100% - 30px);

	li {
		display    : table-cell;
		list-style : none;
		text-align : center;
		padding    : 2px;
	}

	a {
		background      : $pagination-background;
		border-radius   : 5px;
		color           : $pagination-color;
		display         : block;
		padding         : 7px 5px;
		text-decoration : none;

		&:hover { background : $pagination-hover-background; }
	}
}

.pagination-heading {
	text-align  : center;
	font-weight : bolder;
}

// -----------------------------------------------
// -- Tables
// -----------------------------------------------
table caption {
	@include simple-brand($widget-title-background, $widget-title-border-color, 2px);
	font-size : 1.1em;
	padding   : 10px 3px 5px;
}

td, 
tbody th {
	padding    : 10px;
	text-align : center;
}
tfoot th {
	vertical-align : middle;
}

thead th { border-bottom : 3px solid $subject-table-border-color; }
tfoot    { border-top    : 3px solid $subject-table-border-color; }

.switch-state {
	padding  : 10px;
	overflow : auto;

	@include toggle-button(30px, 2px, 0.5s, $stoplight-go, $page-light-minor);
}
// -----------------------------------------------

// -----------------------------------------------
// -- Subject Content
// -----------------------------------------------
.subject-body {
	margin : 0px $gutter;
	border : 5px solid $widget-title-border-color;

	p {
		line-height : 1.5;
		padding     : 0px 15px 5px;
	}

	h3 {
		font-size : 1em;
		margin    : 10px 15px 0px;
	}

	.widget {
		background : $widget-background;
		margin     : 10px;
		overflow   : auto;

	}
}

.subheading {
	@include simple-brand($widget-title-background, $widget-title-border-color, 2px);
	font-family   : "Arial", sans-serif;
	font-size     : 1.25em;
	font-weight   : 600;
	padding       : 3px 5px;
	padding-top   : 10px;
}

.summary-cell {
	min-height : 75px;

	.subheading {
		background    : $summary-title-background;
		border-bottom : 2px solid $summary-title-border-color;
	}
}

.cast-call {
	background : $article-background;
	margin     : 10px;
	padding    : 15px;

	img {
		max-width : 100%;
		margin    : auto;
	}
}

.cast-about {
	border     : 2px solid $summary-title-border-color;
	padding    : 15px;
	margin-top : 15px;
}

.cast-tabs {
	display : table;
	width   : calc(100% - 30px);
	border  : 5px solid $paging-anchor-background;
}

.paging-element {
	display : table-cell;
	vertical-align : top;

	.ui-tabs-nav{
		width : 100%;
	}

	.ui-tabs-panel {
		border : none;
		width  : negative-space(100%, ($tabs-panel-padding + 15px));
	}
}

.paging-nav {
	background    : $paging-nav-background;
	padding       : 10px;
	width         : $golden-minor;
	border-right  : 5px solid $paging-anchor-background;
	padding-right : 0px;

	.ui-tabs-anchor { box-shadow: 0px 0px 2px $paging-anchor-background; }
}

.roll-call {
	background : $paging-panel-background;

	.centerpiece { margin : 0px auto; }
}

.indexable {
	margin  : 0px;
	padding : 10px;

	li {
		padding : 5px 15px;
	}

	li:before {
		color   : $index-list-color;
		padding : 5px;
	}
}
// -----------------------------------------------

// -----------------------------------------------
// -- Work Content
// -----------------------------------------------
.centerpiece {
	margin : 20px auto;

	iframe,
	img {
		border    : 10px solid $centerpiece-border-color;
		display   : block;
		margin    : auto;
		max-width : calc(100% - 20px);
	}

	img { width : auto; }
}

article {
	@include boxable();
	
	background : $article-background;
	color      : $article-color;
	margin     : 10px $gutter;
	padding    : 20px 0px;

	p { line-height : 1.5; }

	.time {
		margin     : 0px $gutter;
		text-align : center;
	}

	.widget {
		margin : 15px;
	}
}

.section-title {
	background    : $section-title-background;
	box-shadow    : 0px 2px 2px $section-title-shadow;

	border-bottom : $section-title-border;
	border-top    : $section-title-border;

	margin        : 0 ($article-negate * -1 * 3/4);
	padding       : 15px ($article-negate * 3/4);

	text-align    : center;

	.word-count { display : block; }
}

h2 {
	font-size : 20px;
	margin    : 0px;
	padding   : 0px;
}

hr {
	background : $content-separator-color;
	border     : none;
	padding    : 1px;
	margin     : 25px auto;
	width      : 45%;
}
// -----------------------------------------------
// ===============================================

// SECTION :: VIEWPORTS
// ===============================================
// -----------------------------------------------
// -- Desktop
// -----------------------------------------------
@include page-desktop() {

}
// -----------------------------------------------

// -----------------------------------------------
// -- Desktop & Tablet
// -----------------------------------------------
@include page-non-mobile() {

}
// -----------------------------------------------

// -----------------------------------------------
// -- Tablet
// -----------------------------------------------
@include page-tablet() {

}
// -----------------------------------------------

// -----------------------------------------------
// -- Mobile & Tablet
// -----------------------------------------------
@include page-non-desktop {

}
// -----------------------------------------------

// -----------------------------------------------
// -- Mobile
// -----------------------------------------------
@include page-mobile() {

}
// -----------------------------------------------
// ===============================================

/* END
/* ***********************************************/
