/* TEMPLATE: SKIN SHOW
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/code/css";

// SECTION :: ALL
// ===============================================
// HEADER
// -----------------------------------------------
.toolkit, .agents { margin: 5px $one-twelfth; }

// STYLE PARTIAL: PREVIEWER
// ***********************************************
// STYLES :: COLORS
// ===============================================
.previewer {
	border :  3px solid $water-color;

	&:before {
		background : $water-color;
		color      : $page-color;
	}
}

// VIEWPORT :: ALL
// ===============================================
.previewer {
	display : block;
	margin  :  15px;

	&:before {
		display : block;
		font    : bolder ($heading-size - 8px) "Segoe UI";
		padding : 10px;
	}
}

// END
// ************************************************/

// BODY
// -----------------------------------------------
@include tableized-results($page-color, $water-dark-minor, $fire-lightest-major, $water-dark-major, 5px);

.code p {
	padding: 2px 10px;
	line-height: 1.5;
}
.code:before {
	content: "CSS Stylesheet";
	margin-bottom: 15px;
}

.example:before {
	content: "Example Content";
}

.previewer {
	background: $page-color;
}

.styles {
	margin:  0 $one-twelfth 25px;
	padding: 15px;
	background: $water-darker-major;
}

// SECTION :: VIEWPORTS
// ===============================================
@include page-desktop() {
	.logged-in {
		background: $water-darker-minor;
	}

	@include indexed-banding($water-lightest-minor);
}

@include page-mobile() {

}

@include page-non-desktop {
	.tableized-results {
		@include mobile-friendly-table-data($page-darker-major);
	}
}

@include page-non-mobile() {

}

@include page-tablet() {

}

/* END
/* ***********************************************/
