/* TEMPLATE: SHOW CHARACTER
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/pagination";
@import "partials/content/status";

// SETUP :: COLORS
// ===============================================
$page:           $water-light-minor;
$border:         $water-color;
$header:         $water-dark-minor;
$heading:        $water-color;
$content-shadow: 0px 0px 10px $water-darker-minor;

// SECTION :: ALL
// ===============================================
.subject-header > p {
	margin:       0 $one-twelfth;
	padding-left: 0;
	line-height:  1;
}
.subject-header .basis {
	color:     $fire-light-minor;
	font-size: 1.3em;
	margin:    0 $one-twelfth;
}
.alteration {
	margin:     0 $one-twelfth;
	margin-top: 10px;
	width:      $five-sixths;
}
.identifiers {
	font-style: italic;
}

// SECTION :: BODY
// ===============================================
// BODY :: ALL
// -----------------------------------------------
.subject-body {
	background: $water-darker-major;
	min-height: 200px;
	padding:    10px;
	margin:     10px $one-twelfth;

	p {
		line-height: 1.5;
		padding:     5px 15px;
	}

	.widget {
		background: $page-color;
		margin: 10px;
	}
}

.info-body {
	margin-bottom: 10px;
}

.relationship-widget {
	padding-bottom: 10px;
}

// BODY :: HEADER
// -----------------------------------------------
caption,
.subheading {
	background:    $water-lightest-minor;
	color:         $water-darkest-minor;
	border-bottom: 2px solid $water-lighter-minor;	
	font-family:   "Arial", sans-serif;
	font-size:     1.25em;
	font-weight:   600;
	padding:       3px 5px;
	padding-top:   10px;
}

// BODY :: CONTENT
// -----------------------------------------------
canvas {
	height:  300px;
	width:   300px;
	margin:  10px;
	display: block;
}

dl {
	padding: 10px;
	padding-bottom: 25px;
}

table {
	margin:        0;
	margin-bottom: 10px;
	width:         100%;
}

th {
	padding: 5px;
	vertical-align: top;

	thead & {
		border-bottom: 2px solid $fire-light-minor;
		padding-top:   10px;
	}
}

tbody {
	text-align: center;

	@include desktop {
		border-bottom: 2px solid $fire-light-minor;
		th { border-right: 2px solid $fire-light-minor; }
	}
}

td {
	padding: 5px;
	vertical-align: top;
}

.detail {
	padding-bottom: 20px;
}

.details {
	padding: 0 5px 15px;
	text-align:  left;
	line-height: 1.5;
}

// BODY :: FOOTER
// -----------------------------------------------
.pagination li {
	margin: 0 5px;
	width:  calc(33.33% - 10px);

	@include mobile {
		margin: 5px;
		width:  calc(100% - 10px);
	}
}

/* END
/* ***********************************************/
