/* TEMPLATE: SHOW CHARACTER
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/defaults/subjects";
@import "partials/pagination";
@import "partials/content/status";














// VIEWPORT :: ALL
// ===============================================
// ----- General
// ...............................................
.subject-header {
	border-bottom: 3px solid $water-color;
}
.subject-body p {
	padding: 5px;
}
canvas {
	height:  300px;
	width:   300px;
	margin:  10px;
	display: block;
}
dl {
	margin-bottom: 25px;
}
table {
	margin:        0;
	margin-bottom: 10px;
	width:         100%;
}
caption {
	background:    $water-lightest-minor;
	color:         $water-darkest-minor;
	border-bottom: 2px solid $water-lighter-minor;	
	font-size:     1.25em;
	padding:       3px 5px;
	padding-top:   10px;
}
th {
	padding: 5px;
	vertical-align: top;

	thead & {
		border-bottom: 2px solid $fire-light-minor;
		padding-top: 10px;
	}
}
tbody {
	border-bottom: 2px solid $fire-light-minor;
	text-align:    center;
}
td {
	padding: 5px;
	vertical-align: top;
}
.detail {
	margin-bottom: 20px;
}
.details {
	text-align: left;
}

// -- Header
// -----------------------------------------------
header p {
	margin: 2px 20px;
	line-height: 1;
}
.announce {
	border-radius: 10px;
	margin:        10px 0;
}
.identifiers {
	font-style: italic;
}

// -- Footer
// -----------------------------------------------
.pagination {
	margin: 50px auto 10px auto;

	li {
		width: calc(33.33% - 2px);
	}
}

// -- Toolkits
// -----------------------------------------------
.replication {
	@include buttonable($water-color);
	font-size: .85em;
	border-radius: 10px;
	margin:        10px auto;
	margin-bottom: 0;
	overflow:      auto;
	width:         20%;
	min-width:     200px;

	a {
		background:     none;
		display:        block;
		font-weight:    bolder;
		float:          left;
		letter-spacing: 1px;
		padding:        5px 0;
		text-align:     center;
		width:          100%;
		&:hover {
			border-radius: 0;
		}
	}
}

// VIEWPORT :: DESKTOP
// ===============================================
@include desktop {
	tbody th {
		border-right: 2px solid $fire-light-minor;
	}
}

/* END
/* ***********************************************/
