/* TEMPLATE: SHOW IDENTITY
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/pagination";
@import "partials/forms/inline_form";

// SECTION :: COLORS
// ===============================================
$page:           $moss-dark-minor;
$border:         $moss-dark-major;
$header:         $water-dark-minor;
$heading:        $water-dark-minor;
$content-shadow: 0px 0px 10px $moss-darker-minor;

// SECTION :: ALL
// ===============================================
@include page-look($page, $border);
@include header-look($header, $heading, $border);

// SECTION :: HEADER
// ===============================================
.tag-header p { margin: 5px $one-twelfth; }

.alteration {
	margin: 0px $one-twelfth;
	width:  $five-sixths;
}

// SECTION :: BODY
// ===============================================
.page-body {
	background:     $page-color;
	box-shadow:     $content-shadow;
	min-height:     200px;
	padding-bottom: 1px;
	margin:         25px $one-twelfth;
}


.related-menu {
	margin: 0 10px;

	a {
		background:      $moss-lighter-minor;
		color:           $moss-darkest-minor;
		display:         inline-block;
		font-weight:     bolder;
		padding:         10px;
		text-decoration: none;

		&:hover {
			background: $page-lighter-minor;
			color:      $moss-darker-minor;
		}
	}
}

h2 {
	background: $moss-light-minor;
	font-size: 2;
	margin:    0px;
	padding:   20px 10px;
}
fieldset {
	border: none;
}
legend {
	display: none;
}
dl {
	padding: 10px;
}

@include tally($rose-color, $rose-lighter-minor, 4px);
@include tableized-results($page-color, $water-dark-minor, $moss-lightest-major, $water-dark-major, 5px);

@include pagination-blocks($moss-lighter-minor, $page-color, $moss-dark-major, $one-fifth);

.pagination-heading {
	border-bottom: 1px dotted $page-dark-major;
	font-size:     $heading-size - 8px;
	font-weight:   bolder;
	text-align:    center;
	margin:        10px 5px;
}

.pagination {
	padding: 0px 0px 10px;
	width:   calc(100% - 20px);
}

// SECTION :: VIEWPORTS
// ===============================================
@include page-desktop() {
	@include indexed-banding($water-lightest-minor);
	.logged-in {
		background: $heading;
	}
}

@include page-mobile() {
	@include mobilized-forms();
	@include mobilize-pagination();
}

@include page-non-desktop {
	.tableized-results { @include tb-modularize(); }
	.show-page tr {
		padding-bottom: 15px;

		@include rowbanding($water-lightest-minor);
	}
}

@include page-non-mobile() {}

@include page-tablet() {}

/* END
/* ***********************************************/