/* TEMPLATE: SHOW IDENTITY
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/pagination";
@import "partials/forms/inline_form";
@import "partials/content/tables/results";
@import "partials/content/tables/analytics";

// SECTION :: COLORS
// ===============================================
$page:           $moss-dark-minor;
$border:         $moss-dark-major;
$header:         $water-dark-minor;
$heading:        $water-dark-minor;
$content-shadow: 0px 0px 10px $moss-darker-minor;

// SECTION :: ALL
// ===============================================
@include page-look($page, $border);
@include header-look($header, $heading, $border);

// SECTION :: HEADER
// ===============================================
.tag-header p { margin: 5px $one-twelfth; }

.alteration {
	margin: 0px $one-twelfth;
	width:  $five-sixths;
}

// SECTION :: BODY
// ===============================================
.page-body {
	background:     $page-color;
	box-shadow:     $content-shadow;
	min-height:     200px;
	padding-bottom: 1px;
	margin:         25px $one-twelfth;
}

.pagination {
	margin: 20px auto;
}

.related-menu {
	margin: 0 10px;

	a {
		background:      $moss-lighter-minor;
		color:           $moss-darkest-minor;
		display:         inline-block;
		font-weight:     bolder;
		padding:         10px;
		text-decoration: none;

		&:hover {
			background: $page-lighter-minor;
			color:      $moss-darker-minor;
		}
	}
}

h2 {
	background: $moss-light-minor;
	font-size: $heading-size - 4px;
	margin:    0px;
	padding:   20px 10px;
}
fieldset {
	border: none;
}
legend {
	display: none;
}
dl {
	padding: 10px;
}

/* END
/* ***********************************************/