/* TEMPLATE: SHOW WORK
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/completion";
@import "partials/counts";
@import "partials/pagination";
@import "partials/ratings";
@import "partials/content/comments";

// VIEWPORT :: ALL
// ===============================================
// -- General
// -----------------------------------------------
.page-content {
	background: $page-lighter-minor;
}

// -- Header
// -----------------------------------------------
.work-header {
	border-bottom: 5px solid $fire-color;
	background:    $page-extreme-light;
	margin:        0;
	padding:       0;

	h1 {
		background:    $page-lightest-major;
		border-bottom: 5px solid $water-light-minor;
	}

	.about {
		margin:       0 $one-twelfth;
		padding-left: 0;
	}

	.alteration {
		margin:     0 $one-twelfth;
		margin-top: 10px;
		width:      $five-sixths;
	}
}

.multikit {
	margin: 0px $one-twelfth;
}

.related-menu {
	padding:    0 0 10px 0;
	text-align: center;
}

h1 {
	padding:       5px $one-twelfth;
	padding-top:   35px;
}

// -- Content
// -----------------------------------------------
article {
	background: $page-color;
	margin:     0 $one-twelfth;
	padding:    20px $one-twelfth;
}

h2 {
	font-size: $heading-size - 5px;
	margin:    0;
	padding:   0;
}

.page-body {
	margin: 20px auto;
	width:  100%;
}

.pagination {
	margin: 20px 0;
}

.work-content a { 
	@include visitable($water-dark-minor);
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	article {
		margin-top: 10px;
	}
}

/* END
/* ***********************************************/
