/* TEMPLATE: SHOW WORK
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/forms/inline_form";
@import "partials/pagination";
@import "partials/content/status";
@import "partials/content/comments";

// SETUP :: VARIABLES
// ===============================================
$header-gutter: $one-twelfth;
$header-negate: gutter-negate($header-gutter);
$header-margin: ($header-negate * -1);

$page-gutter:    $one-sixth;
$article-gutter: $page-gutter / 2;
$article-negate: gutter-negate($page-gutter);
$content-negate: $article-negate / 2;

// SECTION :: HEADER
// ===============================================
.work-header {
	padding: 0 $header-gutter;

	h1 {
		border-bottom: 7px solid $water-dark-major;
		margin:        0px $header-margin;
		padding:       5px $header-negate;
		padding-top:   35px;
	}

	.completion-status { margin: 0px $header-margin; }

	.about {
		color:        $page-lightest-minor;
		margin:       0;
		padding-left: 0;

		a { color: $water-lightest-minor; }
	}

	.multikit { margin: 0; }

	.alteration {
		margin:     0;
		margin-top: 10px;
		width:      $one-whole;
	}

	.related-menu {
		padding:    0 0 10px 0;
		text-align: center;
	
		a {
			color: $water-lightest-minor;
		}
	}
}

.record-header h1 {
	border-bottom: none;
}

.ratings span {
	margin:        5px 0;
	color:         $page-color;
	border-radius: 10px;
    font-size:     .85em;
}

.level0 { background: $rating-lowest;  }
.level1 { background: $rating-low;     }
.level2 { background: $rating-mid;     }
.level3 { background: $rating-high;    }
.level4 { background: $rating-highest; }

// SECTION :: BODY
// ===============================================
article {
	box-sizing: border-box;
	background: $page-color;
	margin:     0px  $article-gutter;
	padding:    20px $article-gutter;
	box-shadow: 0px 0px 10px $water-darkest-minor;

	.toolkit {
		margin: 10px 0 0;
	}
	.interaction {
		margin: 10px auto;
	}

	h1 {
		margin:     0 ($article-negate * -1 * 3/4);
		padding:    15px ($article-negate * 3/4);
		background: fade-out($water-lighter-major, .5);
		border-radius: 20em;
		text-align: center;
		.word-count {
			display: block;
		}
	}

	p { line-height: 1.5; }
}

h2 {
	font-size: $heading-size - 5px;
	margin:    0;
	padding:   0;

}

hr {
	background: $fire-color;
	border:     none;
	padding:    1px;
	margin:     25px auto;
	width:      45%;
}

.page-body {
	margin: 20px auto;
	width:  100%;
}

// SECTION :: META
// ===============================================
.subject-body {
	margin: 15px $article-gutter;

	.characters li { color: $fire-dark-minor; }
	.places     li { color: $moss-dark-minor; }

	.indexable li {
		padding: 5px 25px;
		&::before {
			font-size:   16px;
			margin-left: -20px;
			padding:     0 5px;
		}
	}

	.widget {
		margin:     10px;
		background: $page-color;
		p {
			padding: 5px 15px;
		}
		h3 {
			padding: 5px 15px 0;
		}
	}

	.summary-cell {
		background: $fire-lighter-minor;
		min-height: 75px;
	}
}

.subheading {
	@include simple-brand($water-lightest-minor, $water-lighter-minor, 2px);
	font-family:   "Arial", sans-serif;
	font-size:     1.25em;
	font-weight:   600;
	padding:       3px 5px;
	padding-top:   10px;

	.summary-cell & {
		background:    $fire-lightest-minor;
		color:         $fire-darkest-minor;
		border-bottom: 2px solid $fire-light-minor;
	}
}

.indexable { padding: 10px 10px 25px; }

.branching li {
	color:   $moss-dark-major;
	padding: 2px 10px;

	&:before { margin: 0px -10px; }
	a {
		color: $moss-dark-major;
		padding: 0px 15px;
	}
}

.branching form {
	background: $page-lightest-minor;
	padding:    10px;
	margin:     10px 0;
	width:      calc(100% - 20px);

	.primary-panel { margin-bottom: 10px; }

	select {
		margin: 0px 0px 0px 10px;
		width:  calc(100% - 10px);
	}
}

.full-pagination {
	margin: 5px 0;

	ul     { margin: 5px 0; }
	select {
		margin: 5px 0;
		width:  100%;
	}
}

@include pagination-blocks($water-dark-minor, $page-color, $water-darker-minor, $one-fifth);

// SECTION :: VIEWPORTS
// ===============================================
@include page-desktop() {}

@include page-mobile() {
	@include mobilize-pagination();
	@include mobilized-forms();
	@include distanced-comment(0px, 10px);

	.branching form select {
		margin: 0;
		width:  100%;
	}
}

@include page-non-desktop {
	article { margin-top: 25px; }
}

@include page-non-mobile() {
	@include distanced-comment(0px, 10px);
}
@include page-tablet() {}

/* END
/* ***********************************************/
