/* TEMPLATE: SHOW WORK
/* ***********************************************/
// SETUP :: IMPORTS
// ===============================================
@import "application";
@import "partials/pagination";
@import "partials/content/status";
@import "partials/content/comments";

// SECTION :: ALL
// ===============================================
.page-content {
	background: $page-lighter-minor;
}

// SECTION :: HEADER
// ===============================================
.work-header {
	border-bottom-color: $rose-dark-minor;
	background:    $page-extreme-light;
	margin:        0;
	padding:       0;

	h1 {
		background:    $page-lightest-major;
		border-bottom: 5px solid $water-light-minor;
	}

	.about {
		margin:       0 $one-twelfth;
		padding-left: 0;
	}
	.alteration {
		margin:     0 $one-twelfth;
		margin-top: 10px;
		width:      $five-sixths;
	}
}

.related-menu {
	padding:    0 0 10px 0;
	text-align: center;
}

h1 {
	padding:       5px $one-twelfth;
	padding-top:   35px;
}


// SECTION :: BODY
// ===============================================
article {
	background: $page-color;
	margin:     0 $one-twelfth;
	padding:    20px $one-twelfth;

	@include non-desktop {
		margin-top: 10px;
	}

	p { line-height: 1.5; }
}

h2 {
	font-size: $heading-size - 5px;
	margin:    0;
	padding:   0;
}
hr {
	background: $fire-color;
	border:     none;
	padding:    1px;
	margin: 25px auto;
	width:   45%;
}

.page-body {
	margin: 20px auto;
	width:  100%;
}

.pagination {
	margin: 20px 0;
}

.work-content a { 
	@include visitable($water-dark-minor);
}

/* END
/* ***********************************************/