<div class='nested-fields'>
	<fieldset class="chapter">
		<legend>
			<%= string_panel f, :title, "Write Title" %>
		</legend>

		<%= text_panel f, :content, :minor, "Add Description" %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Description", f %></p>
</div>
