<%= panel_cell "duo" do %>
	<div class='nested-fields nested-detail-fields'>

		<fieldset class="paged-fieldset">
			<legend>
				<%= f.string_cell :title, "Title", placeholder: "Title (Optional)" %>
			</legend>
			<%= f.text_cell :content, class: :minor, placeholder: "Detail Content" %>
		</fieldset>

		<p class="remove-cell"><%= link_to_remove_association "- Remove Detail", f %></p>
	</div>
<% end %>
