<div class='nested-fields'>
	<fieldset class="chapter page-fields">
		<legend>
			<%= string_panel f, :title, "Title" %>
		</legend>

		<%= text_panel f, :content, :minor, "Write Description" %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Description", f %></p>
</div>
