<div class='nested-fields'>
	<fieldset>
		<legend>Interpersonal Opinion</legend>
		<%= selectables f, :recip_id, Character.all %>
		<%= render 'subjects/characters/fields/viewpoint_fields', f: f %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Opinion", f %></p>
</div>
