<div class='nested-fields'>
	<fieldset>
		<legend>Interpersonal Opinion</legend>
		<%= form_field f.label(:recip_id, "Subject"), f.collection_select(:recip_id, Character.all, :id, :heading, {}, :class => 'selectables') %>
		<%= render 'subjects/characters/fields/viewpoint_fields', f: f %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Opinion", f %></p>
</div>


