<div class='nested-fields nested-opinion-fields'>

	<fieldset class="viewpoint-fields">
		<legend>Interpersonal Opinion</legend>
		<%= f.selectable_cell :recip_id, Character.all %>
		<%= render 'subjects/characters/fields/viewpoint_fields', f: f %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Opinion", f %></p>
</div>
