<div class='nested-fields'>

	<fieldset>
		<%= selectables f, :item_id, @items.possible %>
		<%= radios_by_string(f, :nature, Possession.types, f.object.nature) %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Item", f %></p>
</div>
