<%= show_link "Relationships", :relationships %>

<%= content_tag :fieldset, class: "nested-tags-fieldset", id: "form_relationships" do %>
	<legend>Relationships<%= hide_link(:relationships) %></legend>

	<p class="tooltip tool-explain">Relationships can include what others have tagged.</p>

	<% @character.relationship_tag_groups.each do |type, relator| %>
		<%= tag_field_cell([relator[:id]], relator[:list], type.pluralize) %>
	<% end %>
<% end %>
