<% @anthologies.each do |anthology| %>
	<article class='snippet'>
		<header>
			<h4><%= link_to anthology.name, anthology %></h4>
			<%= anthology.uploaded_by.html_safe %>
			<%= anthology.timestamps %>
		</header>
		
		<div class="summary"><%= markdown anthology.summary || "" %></div>
	</article>
<% end %>
