<% provide(:title, "Anthologies") %>

<header class="index-header">
	<h1>Anthologies</h1>
	<%= creation_toolkit("Anthology", :anthology) %>
	<%= @anthologies.found_status %>
</header>

<div class="index-body"><%= @anthologies.results %></div>