<% provide(:title, @anthology.heading) %>

<main id='item'>
	<header>
		<%= model_toolkit @anthology %>
		<h1><%= @anthology.heading %></h1>
	</header>

	<%= render 'works/list' %>
	<%= render 'footer' %>
<main>
