<% provide(:title, "Characters") %>

<div id="main" class="index">
	<header>
		<h1>Characters</h1>
		<%= creation_toolkit "Character", new_character_path %>
	</header>

	<article><%= @characters.list %></article>
	
	<%= render 'subjects/shared/footer' %>
</div>
