<% provide(:title, @character.creation_title) %>

<div id="main" class="new generator">
	<h1><%= @character.creation_title %></h1>

	<%= render 'form' %>
</div>

<script>autosize(document.querySelectorAll('textarea'));</script>

