<% provide(:title, @character.title_for_creation) %>

<div class="new generator">
	<h1>
		<%= @character.title_for_creation %>
	</h1>
	<%= render 'form' %>
	<%= @character.shared_footer %>
</div>

<script>autosize(document.querySelectorAll('textarea'));</script>
