<% provide :title, @likes.title %>
<%= @likes.header %>

<div class="index-body <%= @results_type %>">
	<div class="results">
		<div class="results-body">
			<%= @likes.snippets %>
		</div>
	</div>
</div>
