<% remote ||= false %>
<%= clean_form_for @facet, remote: remote do |f| %>
	
	<%= error_block(@facet) %>
	
	<div class="form-grid primary">
		<%= f.string_cell :name, "Provide Name" %>
		<%= f.submit_cell %>
	</div>

<% end %>
