<fieldset class="options">
	<legend><%= title %></legend>
	<% max = collection.length / 2 %>
	<% min = (-1 * max) %>
	<div class="choice">
		<% (min..max).each do |i| %>
			<%= form_field f.radio_button(value, i, :checked => (i == default)), f.label("#{value}_#{i}", "#{collection[i + max]}") %>
		<% end %>
	</div>
</fieldset>
