<aside class="sidebar">
	<h2 class="control-title">Account</h2>
	<ul class="control-group">
		<li><%= link_to "Pen Names",      pen_namings_path        %></li>
		<li><%= link_to "Dashboard",      dashboard_path          %></li>
		<li><%= link_to "Favorite Works", dashboad_favorites_path %></li>
	</ul>
</aside>
