// STYLE PARTIAL: DROPDOWN FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: $micro-height;
}

.selectize-dropdown {
	// -- General
	// -----------------------------------------------
	@include boxable();

	position:   absolute;
	z-index:    10;
	background: $page-color;
	border:     1px solid $border-color;
	border-top: 0 none;	
	margin:     0;

	[data-selectable=""] {
		cursor:   pointer;
		overflow: hidden;
	}

	// -- Header
	// -----------------------------------------------
	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	.optgroup-header {
		color:  $water-darker-minor;
		cursor: default;
	}

	// -- TEXT
	// -----------------------------------------------
	.active        { background: $water-lightest-minor; }
	.create        { color: $water-darkest-minor;       }
	.active.create { color: $water-darker-minor;        }
	
	.option {
		padding: 7px 5px;

		&:hover {
			background: $water-lighter-major;
		}
	}
}

// END
// ************************************************/
