// STYLE PARTIAL : DROPDOWN FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.selectize-dropdown-content {
	max-height : $micro-height;
	overflow-y : auto;
	overflow-x : hidden;
}

.selectize-dropdown {
	@include boxable();

	background : $page-color;
	border     : 1px solid $border-color;
	border-top : 0px none;	
	margin     : 0px;
	position   : absolute;
	z-index    : 10;

	[data-selectable=""] {
		cursor   : pointer;
		overflow : hidden;
	}

	.optgroup:first-child .optgroup-header { border-top : 0 none; }

	.optgroup-header {
		color  : $water-darker-minor;
		cursor : default;
	}

	.active { background : $selction-active-background; }

	.create        { color : $selction-create-color; }
	.active.create { color : $selction-active-color; }
	
	.option {
		padding : 7px 5px;

		&:hover { background : $water-lighter-major; }
	}
}
// ===============================================

// END
// ***********************************************/
