// STYLE PARTIAL: PAIRED FIELDS
// ***********************************************
@include non-mobile {	
	.pair {
		overflow: auto;
		.field {
			float: left;
			width: 50%;
		}
		input {
			margin: 1px;
			border: none;
			width: calc(100% - 4px);
		}
	}
}

// END
// ************************************************/
