// STYLE PARTIAL: SELECTIONS
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/forms/fields/dropdown";

// STYLE :: GENERAL
// ===============================================
.selectize-control {
	background: $page-color;
	display:    inline-block;
	margin:     0;
	padding:    0;
	width:      100%;
}
.single .selectize-input,
.single .selectize-input input {
	cursor: pointer;
}
.selectize-input {
	border:  1px solid $border-color;
	margin:  0;
	padding: 7px;
	width:   calc(100% - 16px);

	& > input,
	& > .item {
		vertical-align: baseline;
		zoom:           1;
	}
	& > input {
		border:    none;
		display:   inline-block;
		max-width: 100%;
		margin:    0 2px 0 0 !important;
		padding:   0;

		&::-ms-clear { display: none;            }
		&:focus      { outline: none !important; }
	}
	& > .item {
		display: inline;
	}
	.multi & > .item {
		background:    $page-lighter-minor;
		border-radius: 5px;
		color:         $page-darker-major;
		cursor:        pointer;
		display:       inline-block;
		padding:       0 5px;
		margin:        0px 1px;

		&.active { 
			color: $fire-darker-minor;
			font-weight: 600;
		}
	}
}

// END
// ************************************************/
