// STYLE PARTIAL : SELECTIONS
// ***********************************************
// SETUP : : IMPORTS
// ===============================================
@import "partials/forms/fields/dropdown";
// ===============================================

// STYLE : : GENERAL
// ===============================================
.selectize-control {
	background : $page-color;
	display    : inline-block;
	margin     : 0;
	padding    : 0;
	width      : 100%;
}

.single .selectize-input,
.single .selectize-input input { cursor : pointer; }

.selectize-input {
	border  : 1px solid $border-color;
	margin  : 0px;
	padding : 7px;
	width   : calc(100% - 16px);

	& > .item { display : inline; }

	& > input,
	& > .item {
		vertical-align : baseline;
		zoom           : 1;
	}

	& > input {
		border    : none;
		display   : inline-block;
		max-width : 100%;
		margin    : 0px 2px 0px 0px !important;
		padding   : 0px;

		&::-ms-clear { display : none;            }
		&:focus      { outline : none !important; }
	}

	.multi & > .item {
		background    : $select-input-background;
		border-radius : 5px;
		color         : $select-input-color;
		cursor        : pointer;
		display       : inline-block;
		margin        : 3px 2px;
		padding       : 0px 5px;

		&.active { 
			color       : $select-input-active-color;
			font-weight : 600;
		}
	}
}
// ===============================================

// END
// ************************************************/
