// STYLE PARTIAL: SLIDER FIELDS
// ***********************************************
.range {
	margin: 10px 0;

	.label {
		display:     inline-block;
		font-weight: bolder;
		text-align:  right;
		width:       50%;
	}
	.val {
    	color:       $water-darker-minor;
		display:     inline-block;
		font-weight: lighter;
		margin:      0 10px;
	}
}
.range-values {
    margin: 10px auto;
    width:  calc(60% - 20px);

    &, 
    .ui-slider-range {
    	background: $water-color;
    }
}

// END
// ************************************************/
