// STYLE PARTIAL : SLIDER FIELDS
// ***********************************************
// BACKGROUND
// ===============================================
.range {
	margin : 10px 0;
	width  : calc(100% - 20px);

	.label {
		display     : block;
		font-weight : bolder;
		text-align  : right;
	}

	.val {
		color       : $range-value-color;
		display     : block;
		font-weight : lighter;
		margin      : 0 10px;
		text-align  : left;
	}
}

.range-cell {
	padding : 10px;
}

.range-values {
	margin : 10px auto;
	width  : calc(60% - 20px);

	&, 
	.ui-slider-range {
		background : $slider-color;
		border     : 1px $slider-color;
	}
}

.slider {
	background : $slider-box-background;
	border     : 3px solid $border-color;
	margin     : 10px 0px;
	padding    : 10px;
}

.ui-slider {
	border-radius : 0.2em;
	position      : relative;

	margin : 0 auto;
	height : 1.2em;
	width  : $nine-tenths;

	.ui-slider-handle {
		background    : lighten(desaturate($slider-color, 10%), 10%);
		border-radius : 0.5em;
		border        : 1px solid darken($slider-color, 10%);
		position      : absolute;
		cursor        : grab;
		z-index       : 100;

		top         : -0.3em;
		margin-left : -0.8em;
		height      : 1.6em;
		width       : 1.6em;
	}
}
// ===============================================

// END
// ************************************************/