<% remote ||= false %>
<%= clean_form_for [@parent_branch, @branching], :url => graft_branch_path do |f| %>

	<div class="primary-fieldset">
		<%= panel_cell "golden-minor" do f.string_cell :heading, "Link Text", placeholder: "Write Link Text" end %>
		<%= panel_cell "golden-major" do f.drop_selection_cell :child_node_id, @parent_branch.graftable_options, "Branches" end %>
	</div>

	<%= f.submit_cell "Create" %>
<% end %>
