<% provide(:title, @activity.name) %>

<main class="itemized">
  <header>
    <%= model_toolkit @activity %>
    <h1><%= @activity.name %></h1>
    <p>created : <%= record_time @activity.created_at %></p>
  </header>

  <article>
    <h2>Statistics</h2>
  </article>

  <%= render 'tags/shared/footer' %>
<main>
