// STYLE PARTIAL: GENERAL TAGS
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/forms/inline_form";

// VIEWPORT :: ALL
// ===============================================
.page-body {
	background: $water-lightest;
}
.page-body > header {
	border-bottom: 3px solid $moss-color;
}
.the-content {
	background:   $page-color;
	border-left:  3px solid $moss-lighter;
	border-right: 3px solid $moss-lighter;
	box-shadow:   0px 0px 1px 0px $moss-color;
}
h2 {
	@include gradientized(90deg, $moss-lightest, $moss-light);
	font-size: $heading-size - 4px;
	margin:    0;
	padding:   20px 10px;
}
.the-content {
	min-height:     200px;
	padding-bottom: 1px;
}
.pagination {
	margin: 20px auto;
}

// END
// ***********************************************/
