// STYLE PARTIAL: GENERAL WORK SHOW PAGES
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import 'partials/content/comments';

// VIEWPORT :: ALL
// ===============================================
// -- Structural
// -----------------------------------------------
.page-content > footer {
	font-weight: bolder;
	padding:     20px;
	text-align:  center;
}

// -- Text
// -----------------------------------------------
// ----- General
// ...............................................
.time {
	background:    $moss-lighter-minor;

	border-radius: 5px;
	margin:        5px 0;
	padding:       10px;
	width:         50%;
	.date {
		display:      inline-block;
		margin-right: 10px;
	}
}
.word-count {
	color: $page-dark-major;
	
	font-style: italic;
	text-align: center;
}

// ----- Status
// ...............................................
.status {
	font-weight:    bolder;
	letter-spacing: 3px;
	margin:         0 auto;
	padding:        10px;
	text-align:     center;
	width:          50%;
}
.incomplete {
	color: $fire-dark-minor;
}
.complete {
	color: $water-dark-minor;
}

// ----- Toolkits
// ...............................................
.insertion {
	margin: 0 auto;
	width:  50%;

	a {
		text-align: center;	
	}
}
.multikit .toolkit {
	margin: 0;
}


// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.page-content > header {
		margin: 10px;
	}
	article {
		padding: 10px;
	}
}

// VIEWPORT :: TABLET
// ===============================================
@include tablet {
	.page-content > header {
		margin: 25px;
	}
	article {
		padding: 0 25px;
	}
}

// VIEWPORT :: ALL
// ===============================================
@include desktop {
	.page-content > header {
		margin-top: 25px;
	}
	article {
		padding: 0 25px;
	}
}

// END
// ************************************************/
