/* CATEGORY NAVIGATION
************************************************/
.for-categories {
	overflow: auto;
	background: $moss-dark;
	ul {
		margin:  0;
		padding: 0;
	}
	li {
		float: left;
		margin: 0;
	}
	a {
		min-width: 50px;
		text-align: center;
		color: #FFF;
		padding: 10px;
		display: inline-block;
		font-size: $text-size + 3px;
		&:hover {
			color: #000;
			background: $page-color;
			text-decoration: none;
		}
	}
}

