/* GENERAL STYLES
************************************************/
// CODE
// .............................................
pre {
	overflow:    auto;
	white-space: pre-wrap;
}

// LINKS
// .............................................
a {
	color: $water-color;
	text-decoration: none;
	&:hover { color: $read-color; }
}

// LISTS
// .............................................
ul { list-style: none; }
article ul li:before,
article dd:before {
    content: "» ";
    color: $rose-dark;
}
article ol li {
	padding: 0;
}

// -- DEFINITION LISTS
dl {
	margin:  0;
	padding: 0;
}
dt, dd { margin: 0; }
dt {
	padding: 1px 5px;
	padding-top: 10px;
}
dt:first-child {
	padding-top: 0;
}
dd { padding: 0 5px; }

// PARAGRAPHS
// .............................................
p {
	margin:  0;
	padding: 5px;
}


/* END */
