<% provide(:title, "Edit Stylesheet") %>

<div class="edit">
	<h1>Stylesheet Skin</h1>
	<%= render 'form' %>
</div>

<script>autosize(document.querySelectorAll('textarea'));</script>

<%= render 'footer' %>