<% provide(:title, "Edit Stylesheet") %>

<div class="edit">
	<h1>Stylesheet Skin</h1>
	<%= render 'form' %>
</div>

<%= render 'path_footer' %>

<script>
	autosize(document.querySelectorAll('textarea'));
</script>
