<% provide :title, "Stylesheet Skins" %>

<header>
	<h1>Stylesheet Skins</h1>
	<%= prechecked_creation_toolkit("Stylesheet Skin", :skin) %>
</header>

<div class="index-body">
	<%= render 'skins' %>
</div>
