<% addjoiner = false %>

<div class='about'>
	<% @character.identifiers.each do |identifier| %>
		<p><%= identifier.name %></p>
	<% end %>
</div>

<dl class="meta">
	<% if @character.relationships.length > 0 %>
		<dt>Relationships</dt>
		<dd>
			<ul>
				<% @character.relationships.each do |relationship| %>
					<%= related_character(@character.id, relationship) %>
				<% end %>
			</ul>
		</dd>
	<% end %>
</dl>
