<% character = meta %>
<dl class="meta">
	<% if character.works.length > 0 %>
		<dt>Works</dt>
		<dd><%= render 'works/works', works: character.works %></dd>
	<% end %>

	<div style="clear: both;"></div>

	<% if character.relationships.length > 0 %>
		<dt>Relationships</dt>
		<dd>
			<ul>
				<% character.relationships.each do |relationship| %>
					<%= related_character(@character.id, relationship) %>
				<% end %>
			</ul>
		</dd>
	<% end %>
</dl>
