<% provide(:title, "#{@parent.main_title} - Characters" ) %>
<main class='index'>
	<header>
		<h1>[<%= link_to @parent.main_title.titleize, polymorphic_path(@parent) %>] Characters</h1>
	</header>

	<%= render 'list' %>

	<footer class='related_items'>
		<p><%= link_to @parent.main_title, polymorphic_path(@parent) %></p>
		<%= render 'shared/tag_footer' %>
	</footer>
</main>
