<aside class='filters'>
	<div class="filter-section">
		<h2 class="filter-title">Realness</h2>
		<ul>
			<li><%= link_to "All Places", places_path %></li>
			<li><%= link_to "Actual Places", real_places_path %></li>
			<li><%= link_to "Fictitious Places", unreal_places_path %></li>
		</ul>
	</div>
</aside>
