<% provide(:title, "Places") %>

<div id="main" class="index">
	<header>
		<h1>Places</h1>
		<%= index_toolkit "Place", new_place_path %>
	</header>

	<%= render 'index_sorter' %>
	<section class='results'>
		<%= render 'list' %>
	<section>
	<%= render 'subjects/shared/footer' %>
</div>
