<% provide(:title, "Places") %>

<div id="main" class="index">
	<header>
		<h1>Places</h1>
		<%= creation_toolkit "Place", new_place_path %>
	</header>

	<%= render 'filters' %>
	<%= @places.results %>
</div>

<%= render 'subjects/shared/footer' %>
