<% provide :title, "Media" %>

<header class="index-header">
	<h1>Media</h1>
</header>

<div class="index-body">
	<ul class="media-results results">
		<% @metadata.each do |media, works| %>
			<li>
				<%= link_to(media.pluralize, all_media_by_medium_path(media)) %>
				<%= render 'works_by_medium', works: works %>
			</li>
		<% end %>
	</ul>
</div>
