<% provide :title, "All #{@medium}" %>

<header class="index-header">
	<h1><%= "All #{@medium.pluralize}" %></h1>
</header>

<div class="index-body">
	<div class="media-results results">
		<%= render 'works_by_medium', works: @works %>
	</div>
</div>

