<% provide(:title, "Relationship Types") %>
<div id="main" class="index">
  <header>
    <h1>Relationship Types</h1>
    <%= index_toolkit("Relationship Types", new_relator_path) %>
  </header>

  <%= render 'list' %>
  <%= render 'descriptors/shared/footer' %>
</div>
