<aside>
	<ul>
		<li>Account</li>
		<ul class="subparts">
			<li><%= link_to "Pen Names", pen_namings_path %></li>
		</ul>

		<li>Creations and Uploads</li>
		<ul class="subparts createables">
			<li>Upload Works</li>
			<ul>
				<li>Articles<span class="manager">see all | create one</span></li>
				<li>Blog Post<span class="manager">see all | create one</span></li>
				<li>Music Video<span class="manager">see all | create one</span></li>
				<li>Poems<span class="manager">see all | create one</span></li>
				<li>Radio Plays<span class="manager">see all | create one</span></li>
				<li>Song<span class="manager">see all | create one</span></li>
				<li>Short Stories<span class="manager">see all | create one</span></li>
				<li>Stories<span class="manager">see all | create one</span></li>
			</ul>

			<li>Links</li>
			<ul>
				<li>Story Links<span class="manager">see all | create one</span></li>
			</ul>

			<li>Subjects</li>
			<ul>
				<li>Characters<span class="manager">see all | create one</span></li>
				<li>Places<span class="manager">see all | create one</span></li>
				<li>Items<span class="manager">see all | create one</span></li>
			</ul>

		</ul>
		
		<li>Discussions</li>
	</ul>
</aside>
