<fieldset class="chapter paged-fieldset">
	<legend><%= f.string_cell :title, "Chapter Title", placeholder: "Write Chapter Title" %></legend>
	<div class="chapter-page-fields">
		<%= f.text_cell :about,     class: :minor %>
		<%= f.text_cell :content,   class: :major %>
		<%= f.text_cell :afterward, class: :minor %>
	</div>
</fieldset>
