<fieldset class="chapter page-fields">
	<legend><%= string_panel f, :title, "Write Chapter Title" %></legend>
	<div class="page-grid form-grid">
		<%= text_panel f, :about,     :minor, "Add Chapter Summary" %>
		<%= text_panel f, :content,   :major, "Write Chapter"       %>
		<%= text_panel f, :afterward, :minor, "Write Afterward"     %>
	</div>
</fieldset>
