<% provide(:title, @chapter.editing_title) %>

<div id="main" class="edit generatable">
	<%= @chapter.editor_heading %>
	<%= render 'form' %>
</div>

<script>
	autosize(document.querySelectorAll('textarea'));
</script>

