<% provide(:title, "Chapters") %>

<main class="feature">
	<%= render 'works/shared/header' %>
	
	<article>
		<%= render 'works/chapters/list_brief' %>
	</article>

	<%= render 'works/shared/footer' %>
</main>
