<% provide(:title, "New Chapter") %>

<div id="main" class="new generator">
	<h1><%= @chapter.creation_title %></h1>
	<%= render 'form' %>
</div>
<script>
	autosize(document.querySelectorAll('textarea'));
</script>
