// STYLE VARIABLES: COLORS
// ***********************************************
// BASE COLORS
// ===============================================
// -- Black & White
// -----------------------------------------------
$page-full-dark:  hsl(0, 0%, 0%);
$page-full-light: hsl(0, 0%, 100%);
$page-medium:     hsl(0, 0%, 50%);

$page-light-minor:    lighten($page-full-dark, 100% - $golden-minor);
$page-light-major:    lighten($page-full-dark, 100% - $golden-little);
$page-lighter-minor:  lighten($page-full-dark, 100% - $golden-small);
$page-lighter-major:  lighten($page-full-dark, 100% - $golden-tiny);
$page-lightest-minor: lighten($page-full-dark, 100% - $golden-mini);
$page-lightest-major: lighten($page-full-dark, 100% - $golden-micro);

$page-extreme-light:  lighten($page-full-dark, 100% - $golden-nano);

$page-dark-minor:     lighten($page-full-dark, $golden-minor);
$page-dark-major:     lighten($page-full-dark, $golden-little);
$page-darker-minor:   lighten($page-full-dark, $golden-small);
$page-darker-major:   lighten($page-full-dark, $golden-tiny);
$page-darkest-minor:  lighten($page-full-dark, $golden-mini);
$page-darkest-major:  lighten($page-full-dark, $golden-micro);

// -- Aliased
// -----------------------------------------------
$border-color: $page-lighter-minor;
$page-color:   $page-full-light;

// LAYOUT COLORS
// ===============================================
// -- Prime
// -----------------------------------------------
$water-full-dark:      hsl(195, 75%, 0%);
$water-color:          hsl(195, 75%, 50%);

$water-light-minor:    lighten($water-full-dark, 100% - $golden-minor);
$water-light-major:    lighten($water-full-dark, 100% - $golden-little);
$water-lighter-minor:  lighten($water-full-dark, 100% - $golden-small);
$water-lighter-major:  lighten($water-full-dark, 100% - $golden-tiny);
$water-lightest-minor: lighten($water-full-dark, 100% - $golden-mini);
$water-lightest-major: lighten($water-full-dark, 100% - $golden-micro);

$water-extreme-light:  lighten($water-full-dark, 100% - $golden-nano);

$water-dark-minor:     lighten($water-full-dark, $golden-minor);
$water-dark-major:     lighten($water-full-dark, $golden-little);
$water-darker-minor:   lighten($water-full-dark, $golden-small);
$water-darker-major:   lighten($water-full-dark, $golden-tiny);
$water-darkest-minor:  lighten($water-full-dark, $golden-mini);
$water-darkest-major:  lighten($water-full-dark, $golden-micro);


$fire-full-dark:      hsl(37, 91%, 0%);
$fire-color:          hsl(37, 91%, 50%);

$fire-light-minor:    lighten($fire-full-dark, 100% - $golden-minor);
$fire-light-major:    lighten($fire-full-dark, 100% - $golden-little);
$fire-lighter-minor:  lighten($fire-full-dark, 100% - $golden-small);
$fire-lighter-major:  lighten($fire-full-dark, 100% - $golden-tiny);
$fire-lightest-minor: lighten($fire-full-dark, 100% - $golden-mini);
$fire-lightest-major: lighten($fire-full-dark, 100% - $golden-micro);

$fire-extreme-light:  lighten($fire-full-dark, 100% - $golden-nano);

$fire-dark-minor:     lighten($fire-full-dark, $golden-minor);
$fire-dark-major:     lighten($fire-full-dark, $golden-little);
$fire-darker-minor:   lighten($fire-full-dark, $golden-small);
$fire-darker-major:   lighten($fire-full-dark, $golden-tiny);
$fire-darkest-minor:  lighten($fire-full-dark, $golden-mini);
$fire-darkest-major:  lighten($fire-full-dark, $golden-micro);

// -- Secondary
// -----------------------------------------------
$moss-full-dark:      hsl(115, 50%, 0%);
$moss-color:          hsl(115, 50%, 50%);

$moss-light-minor:    lighten($moss-full-dark, 100% - $golden-minor);
$moss-light-major:    lighten($moss-full-dark, 100% - $golden-little);
$moss-lighter-minor:  lighten($moss-full-dark, 100% - $golden-small);
$moss-lighter-major:  lighten($moss-full-dark, 100% - $golden-tiny);
$moss-lightest-minor: lighten($moss-full-dark, 100% - $golden-mini);
$moss-lightest-major: lighten($moss-full-dark, 100% - $golden-micro);

$moss-extreme-light:  lighten($moss-full-dark, 100% - $golden-nano);

$moss-dark-minor:     lighten($moss-full-dark, $golden-minor);
$moss-dark-major:     lighten($moss-full-dark, $golden-little);
$moss-darker-minor:   lighten($moss-full-dark, $golden-small);
$moss-darker-major:   lighten($moss-full-dark, $golden-tiny);
$moss-darkest-minor:  lighten($moss-full-dark, $golden-mini);
$moss-darkest-major:  lighten($moss-full-dark, $golden-micro);


$rose-full-dark:      hsl(295, 80%, 0%);
$rose-color:          hsl(295, 80%, 50%);

$rose-light-minor:    lighten($rose-full-dark, 100% - $golden-minor);
$rose-light-major:    lighten($rose-full-dark, 100% - $golden-little);
$rose-lighter-minor:  lighten($rose-full-dark, 100% - $golden-small);
$rose-lighter-major:  lighten($rose-full-dark, 100% - $golden-tiny);
$rose-lightest-minor: lighten($rose-full-dark, 100% - $golden-mini);
$rose-lightest-major: lighten($rose-full-dark, 100% - $golden-micro);

$rose-extreme-light:  lighten($rose-full-dark, 100% - $golden-nano);

$rose-dark-minor:     lighten($rose-full-dark, $golden-minor);
$rose-dark-major:     lighten($rose-full-dark, $golden-little);
$rose-darker-minor:   lighten($rose-full-dark, $golden-small);
$rose-darker-major:   lighten($rose-full-dark, $golden-tiny);
$rose-darkest-minor:  lighten($rose-full-dark, $golden-mini);
$rose-darkest-major:  lighten($rose-full-dark, $golden-micro);

// TEXT COLORS
// ===============================================
// -- Ratings
// -----------------------------------------------
$rating-lowest:  hsl(0,   95%, 25%);
$rating-low:     hsl(35,  90%, 25%);
$rating-mid:     hsl(70,  90%, 25%);
$rating-high:    hsl(105, 90%, 25%);
$rating-highest: hsl(140, 95%, 25%);

// END
// ***********************************************/
