// STYLE VARIABLES : COLORS
// ***********************************************
// BASE COLORS
// ===============================================
// -- Black & White
// -----------------------------------------------
$page-full-dark  : hsl(0, 0%, 0%);
$page-full-light : hsl(0, 0%, 100%);
$page-medium     : hsl(0, 0%, 50%);

$page-light-minor    : lighten($page-full-dark, 100% - $golden-minor);
$page-light-major    : lighten($page-full-dark, 100% - $golden-little);
$page-lighter-minor  : lighten($page-full-dark, 100% - $golden-small);
$page-lighter-major  : lighten($page-full-dark, 100% - $golden-tiny);
$page-lightest-minor : lighten($page-full-dark, 100% - $golden-mini);
$page-lightest-major : lighten($page-full-dark, 100% - $golden-micro);

$page-extreme-light  : lighten($page-full-dark, 100% - $golden-nano);

$page-dark-minor     : lighten($page-full-dark, $golden-minor);
$page-dark-major     : lighten($page-full-dark, $golden-little);
$page-darker-minor   : lighten($page-full-dark, $golden-small);
$page-darker-major   : lighten($page-full-dark, $golden-tiny);
$page-darkest-minor  : lighten($page-full-dark, $golden-mini);
$page-darkest-major  : lighten($page-full-dark, $golden-micro);

// -- Aliased
// -----------------------------------------------
$border-color : $page-lighter-minor;
$page-color   : $page-full-light;

// LAYOUT COLORS
// ===============================================
// -- Prime
// -----------------------------------------------
$water-full-dark      : hsl(195, 75%, 0%);
$water-color          : hsl(195, 33%, 50%);

$water-light-minor    : desaturate(lighten($water-full-dark, 100% - $golden-minor),  $golden-minor);
$water-light-major    : desaturate(lighten($water-full-dark, 100% - $golden-little), $golden-minor);
$water-lighter-minor  : desaturate(lighten($water-full-dark, 100% - $golden-small),  $golden-little);
$water-lighter-major  : desaturate(lighten($water-full-dark, 100% - $golden-tiny),   $golden-little);
$water-lightest-minor : desaturate(lighten($water-full-dark, 100% - $golden-mini),   $golden-small);
$water-lightest-major : desaturate(lighten($water-full-dark, 100% - $golden-micro),  $golden-small);

$water-extreme-light  : lighten($water-full-dark, 100% - $golden-nano);

$water-dark-minor     : desaturate(lighten($water-full-dark, $golden-minor),  $golden-minor);
$water-dark-major     : desaturate(lighten($water-full-dark, $golden-little), $golden-minor);
$water-darker-minor   : desaturate(lighten($water-full-dark, $golden-small),  $golden-little);
$water-darker-major   : desaturate(lighten($water-full-dark, $golden-tiny),   $golden-little);
$water-darkest-minor  : desaturate(lighten($water-full-dark, $golden-mini),   $golden-small);
$water-darkest-major  : desaturate(lighten($water-full-dark, $golden-micro),  $golden-small);


$fire-full-dark      : hsl(37, 91%, 0%);
$fire-color          : hsl(37, 88%, 50%);

$fire-light-minor    : desaturate(lighten($fire-full-dark, 100% - $golden-minor),  $golden-tiny);
$fire-light-major    : desaturate(lighten($fire-full-dark, 100% - $golden-little), $golden-tiny);
$fire-lighter-minor  : desaturate(lighten($fire-full-dark, 100% - $golden-small),  $golden-mini);
$fire-lighter-major  : desaturate(lighten($fire-full-dark, 100% - $golden-tiny),   $golden-mini);
$fire-lightest-minor : desaturate(lighten($fire-full-dark, 100% - $golden-mini),   $golden-micro);
$fire-lightest-major : desaturate(lighten($fire-full-dark, 100% - $golden-micro),  $golden-micro);

$fire-extreme-light  : lighten($fire-full-dark, 100% - $golden-nano);

$fire-dark-minor     : desaturate(lighten($fire-full-dark, $golden-minor),  $golden-tiny);
$fire-dark-major     : desaturate(lighten($fire-full-dark, $golden-little), $golden-tiny);
$fire-darker-minor   : desaturate(lighten($fire-full-dark, $golden-small),  $golden-mini);
$fire-darker-major   : desaturate(lighten($fire-full-dark, $golden-tiny),   $golden-mini);
$fire-darkest-minor  : desaturate(lighten($fire-full-dark, $golden-mini),   $golden-micro);
$fire-darkest-major  : desaturate(lighten($fire-full-dark, $golden-micro),  $golden-micro);

// -- Secondary
// -----------------------------------------------
$moss-full-dark      : hsl(115, 50%, 0%);
$moss-color          : hsl(115, 58%, 40%);

$moss-light-minor    : lighten($moss-full-dark, 100% - $golden-minor);
$moss-light-major    : lighten($moss-full-dark, 100% - $golden-little);
$moss-lighter-minor  : lighten($moss-full-dark, 100% - $golden-small);
$moss-lighter-major  : lighten($moss-full-dark, 100% - $golden-tiny);
$moss-lightest-minor : lighten($moss-full-dark, 100% - $golden-mini);
$moss-lightest-major : lighten($moss-full-dark, 100% - $golden-micro);

$moss-extreme-light  : lighten($moss-full-dark, 100% - $golden-nano);

$moss-dark-minor     : lighten($moss-full-dark, $golden-minor);
$moss-dark-major     : lighten($moss-full-dark, $golden-little);
$moss-darker-minor   : lighten($moss-full-dark, $golden-small);
$moss-darker-major   : lighten($moss-full-dark, $golden-tiny);
$moss-darkest-minor  : lighten($moss-full-dark, $golden-mini);
$moss-darkest-major  : lighten($moss-full-dark, $golden-micro);


$rose-full-dark      : hsl(295, 80%, 0%);
$rose-color          : hsl(295, 33%, 50%);

$rose-light-minor    : desaturate(lighten($rose-full-dark, 100% - $golden-minor),  $golden-minor);
$rose-light-major    : desaturate(lighten($rose-full-dark, 100% - $golden-little), $golden-minor);
$rose-lighter-minor  : desaturate(lighten($rose-full-dark, 100% - $golden-small),  $golden-little);
$rose-lighter-major  : desaturate(lighten($rose-full-dark, 100% - $golden-tiny),   $golden-little);
$rose-lightest-minor : desaturate(lighten($rose-full-dark, 100% - $golden-mini),   $golden-small);
$rose-lightest-major : desaturate(lighten($rose-full-dark, 100% - $golden-micro),  $golden-small);

$rose-extreme-light  : lighten($rose-full-dark, 100% - $golden-nano);

$rose-dark-minor     : desaturate(lighten($rose-full-dark, $golden-minor),  $golden-minor);
$rose-dark-major     : desaturate(lighten($rose-full-dark, $golden-little), $golden-minor);
$rose-darker-minor   : desaturate(lighten($rose-full-dark, $golden-small),  $golden-little);
$rose-darker-major   : desaturate(lighten($rose-full-dark, $golden-tiny),   $golden-little);
$rose-darkest-minor  : desaturate(lighten($rose-full-dark, $golden-mini),   $golden-small);
$rose-darkest-major  : desaturate(lighten($rose-full-dark, $golden-micro),  $golden-small);

// TEXT COLORS
// ===============================================
// -- Ratings
// -----------------------------------------------
$rating-lowest  : hsl(0,  70%, 60%);
$rating-low     : hsl(0,  50%, 50%);
$rating-mid     : hsl(0,   0%, 40%);
$rating-high    : hsl(98, 50%, 30%);
$rating-highest : hsl(98, 70%, 20%);

$stoplight-stop : hsl(0,   70%, 34%);
$stoplight-go   : hsl(101, 70%, 25%);

// END
// ***********************************************/
