// STYLE VARIABLES : FORM COLORS
// ***********************************************
// BACKGROUND
// ===============================================
// -----------------------------------------------
// -- Layout
// -----------------------------------------------
$form-background          : $page-lightest-minor;
$header-background        : $fire-light-major;
$meta-box-background      : $page-lighter-minor;
$toggle-background        : $page-color;
$tooltip-background       : $page-lightest-minor;
$work-meta-background     : $page-lightest-major;
// -----------------------------------------------

// -----------------------------------------------
// -- Headings
// -----------------------------------------------
$form-title-background    : $fire-light-minor;
$meta-title-background    : $page-dark-minor;
$opinion-title-background : $page-lighter-major;
$option-title-background  : $water-lighter-major;
$rating-title-background  : $page-dark-minor;
$tag-header-background    : $fire-light-minor;
// -----------------------------------------------

// -----------------------------------------------
// -- Input
// -----------------------------------------------
$agent-background         : $page-color;
$choice-background        : $water-dark-minor;
$rating-background        : $page-color;
$submission-background    : $water-dark-major;
// -----------------------------------------------
// ===============================================

// BORDER
// ===============================================
// -----------------------------------------------
// -- Layout
// -----------------------------------------------
$form-border-color          : $fire-color;
$meta-box-border-color      : $page-light-minor;
$tooltip-border-color       : $page-lighter-major;
$work-meta-border-color     : $fire-light-minor;
// -----------------------------------------------

// -----------------------------------------------
// -- Toggle
// -----------------------------------------------
$toggle-hide-color          : $fire-dark-minor;
$toggle-hide-hover-color    : $fire-lighter-major;
$toggle-show-color          : $moss-dark-major;
$toggle-show-hover-color    : $moss-lighter-major;
// -----------------------------------------------

// -----------------------------------------------
// -- Headings
// -----------------------------------------------
$opinion-title-border-color : $page-dark-minor;
$option-title-border-color  : $water-color;
// -----------------------------------------------

// -----------------------------------------------
// -- Input
// -----------------------------------------------
$choice-border-color        : $water-dark-minor;
$opinion-border-color       : $page-dark-minor;
$rating-border-color        : $page-dark-minor;
$tagging-border-color       : $fire-light-major;
// -----------------------------------------------
// ===============================================

// SIZES
// ===============================================
$form-margin : 10px;

$fiction-type-size : $one-half;
$item-type-size    : $one-sixth;
$opinion-type-size : $one-fifth;

$variant-width : $eleven-twelfths;
$rating-width  : $one-third;
$toggle-width  : $one-fifth;

// TEXT
// ===============================================
$choice-color       : $water-lightest-minor;
$decision-color     : $water-dark-minor;
$link-color         : $page-darkest-minor;
$meta-title-color   : $page-lightest-major;
$path-color         : $water-dark-major;
$rating-title-color : $page-lightest-major;
$submission-color   : $water-lightest-minor;
$tag-header-color   : $fire-darkest-major;
$work-meta-color    : $fire-darker-minor;
// ===============================================

// END
// ***********************************************/
