<% provide :title, @subjects.title %>

<header>
	<h1><%= @subjects.title %></h1>
	<%= @subjects.creation_path %>
</header>

<div class="index-body">
	<%= @subjects.results %>
</div>

<%= render 'subjects/shared/footer' %>
