<div class='nested-fields'>
	<fieldset>
		<%= selectables f, :domain_id, @domains.possible_for(@place) %>
	</fieldset>

	<p class="remove-cell"><%= link_to_remove_association "- Remove Place", f %></p>
</div>
