// STYLE PARTIAL: ALERTS
// ***********************************************
// SETUP :: MIXINS
// ===============================================
@mixin alertable($box-color, $text-color) {
	background:  $box-color;
	color:       $text-color;
	$link-color: lighten($text-color, 15%);

	a {
		color: $link-color;
		&:hover {
			text-decoration: underline;
		}
	}
}

// VIEWPORT :: ALL
// ===============================================
.alert {
	@include alertable(red, white);
}
.announce {
	@include alertable($fire-lighter-minor, $fire-darkest-minor);
}
.notice {
	@include alertable($water-color, $water-lightest-minor);
}

// VIEWPORT :: ALL
// ===============================================
.alert,
.announce,
.notice {
	font-size:  1.3em;
	margin:     10px auto;
	text-align: center;
}
.alert {
	padding: 20px;
	width:   90%;
}
.announce {
	padding: 10px;
	width:   50%;
}
.notice {
	padding: 15px;
	width:   90%;
}

// END
// ************************************************/
