/* CHARACTER TABLE DATA
************************************************/
table {
	margin: 0;
	max-width: 800px;
}
th,
td {
	padding: 10px; 	
}
canvas {
	height: 300px;
	width:  300px;
	margin: 10px;
	display: block;
}

// VIEWS
// .............................................
.views {
	width: calc(100% - 10px);
	margin: 10px;
	thead {
		border-bottom: 3px solid $moss-color;
		text-align: left;
	}
}
.aggregated-views {
	border: 1px solid $moss-color;
	margin: 15px 25px;
}
.public-opinion-count {
	padding: 5px 10px;
}

// RELATIONSHIPS
// .............................................
.relationships th {
	padding:10px;
}
.relationships td {
	max-width: 600px;
}
.relationships thead {
	@include gradient-back(45deg, $moss-lightest, $moss-lighter);
	border-bottom: 3px solid $moss-color;
}

// NON-DESKTOP
// =============================================
@include non-desktop {
	thead      { display: none; }
	tr, th, td { display: block; }
	th {
		border-bottom:  3px solid $moss-color;
		color: $read-color;
		padding-bottom: 3px;
		font-weight:    600;
		font-size:      17px;
		text-align:     left;
	}
	th a { color: $water-color; }
	tbody tr { margin: 10px; }
	td:before {
		content:     attr(data-label);
		display:     block;
		font-weight: bolder;
		color:       $read-color;
	}
	.aggregated-views {
		width: calc(100% - 50px);
		border: none;
		td:before {
			border-bottom: 3px solid $moss-color;
			margin: 5px 0;
			padding: 3px 0;
		}
	}
}

// DESKTOP
// =============================================
@include desktop {
	.relationships {
		margin: 10px;
		border-bottom: 3px solid $moss-color;
	}
	tr:nth-child(even) {
		background: lighten($read-color, 70%);
	}
}

/* END */
