/* COMMENTS
************************************************/
@import 'partials/forms/general';
input[type="submit"] {
	@include clickable(desaturate($moss-color, 20%));
	margin: 10px;
	width:  calc(100% - 20px);
}
form {
	border: 1px solid $border-color;
	margin: 10px 0;
}
legend {
	width: calc(100% - 20px);
	padding: 10px;
	background: $moss-lightest;
	text-transform: uppercase;
	font-weight: bolder;
}
label {
	font-weight: bolder;
	padding: 10px;
	border-bottom: 3px solid $moss-dark;
	display: none;
}

/* END */
