// STYLE PARTIAL: COUNT COLORS
// ***********************************************
.counter {
	color:          $water-color;
	letter-spacing: 1px;
}
.counter:before {
	color:   $water-dark-minor;
	content: "(";
}
.counter:after {
	color:   $water-dark-minor;
	content: ")";
}

.word-count {
	color:     $page-dark-major;
	font-size: .75em;
}
.word-count:after,
.word-count:before {
	color:     $moss-dark-minor;
	font-size: 1.2em;
}
.word-count:before { content: "["; }
.word-count:after  { content: "]"; }

// END
// ************************************************/
