/* CREATION BAR
************************************************/
.insertion a {
	width:     calc(100% - 20px);
	text-align: left;
	&:hover {
		background: $fire-lightest;
		color: $fire-darker;
	}
}
