/* EDIT BAR
************************************************/
.alteration {
	@include buttoned($rose-color);
	
	border-radius: 2px;
	display:  inline-block;
	margin: 10px 0;
	margin-bottom: 0;
	overflow: auto;
	width: calc(100% - 6px);

	a {
		display:     block;
		font-weight: bolder;
		font-weight: 700;
		float:       left;
		letter-spacing: 2px;
		padding:    5px 0;
		text-align: center;
		width:      50%;
	}
}

/* END */
