form {
	margin: 10px;
	overflow: auto;
	@include page-shadow($water-color);
}
fieldset {
	margin: 10px auto;
	padding:0;
	width:  calc(100% - 40px);
	border: none;
}
@include non-mobile {	
	.pair {
		overflow: auto;
		.field {
			@include split-element(50%);
			background: $water-lighter;
		}
		label {
			width: calc(100% - 22px);
			border: 1px solid $water-lighter;
		}
		input {
			margin: 1px;
			border: none;
			width: calc(100% - 4px);
		}
	}
}
legend {
	@include headable($water-dark);
	font-variant:   small-caps;
	letter-spacing: 2px;
	padding:        10px;
	width:          calc(100% - 20px);
}
.field { margin: 10px 0; }
label { 
	display: none;
	.membership &, .nested & { 
		@include headable($water-lighter);
		display: block;
		padding: 6px 10px;
	}
	.tags & { display: none; }
}
input, select, textarea {
	font:  15px "segoe ui";
	margin: 0;
	padding: 7px;
}
input {
	@include box-sized();
	background: $page-color;
	border:     1px solid $border-color;
	display:    inline-block;
	overflow:   hidden;
	padding:    7px;
}
input, textarea, select { border: 1px solid #d0d0d0; }
textarea {
	max-width: calc(100% - 16px);
	min-width: calc(100% - 16px);
}
.minor { min-height: 50px; }
.major { min-height: 600px; }
.pair {
	overflow: auto;
	.field {
		width: 50%;
		float: left;
		//margin: 0;
	}
}

/* SELECTIZE GENERAL
************************************************/
.selectize-control {
	display:inline-block;
	width: 100%;
}

// INPUT VALUES
.selectize-input {
	@extend input;
	$input-item-margin: 0 2px 0 0;
	width: 100%;

	&.disabled, &.disabled * {
		cursor: default !important;
	}
	> * {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}

	.selectize-control.multi & > div {
		cursor:     pointer;
		display:    inline-block;
		background: $moss-lightest;
		padding:    2px 5px;
		margin:     $input-item-margin;
		&.active { 
			color: $moss-darker;
			font-weight: 600;
		}
	}
	.selectize-control.multi &.disabled > div {
		background: $page-color;
	}
	> input {
		display:     inline-block;
		padding:     0 !important;
		min-height:  0 !important;
		max-height:  none !important;
		max-width:   100% !important;
		margin:      $input-item-margin !important;
		text-indent: 0 !important;
		border:      0 none !important;
		background:  none !important;
		line-height: inherit !important;
		-webkit-user-select: auto !important;

		&::-ms-clear { display: none; }
		&:focus { outline: none !important; }
	}
}

// DROPDOWN VALUES

.selectize-dropdown {
	@include box-sized();
	position:   absolute;
	z-index:    10;
	background: $page-color;
	border:     1px solid $border-color;
	border-top: 0 none;	
	margin:     0;
	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight { background: $water-lightest; }
	}
	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	.optgroup-header {
		color:  $water-darker;
		cursor: default;
	}
	.active {
		background-color: $water-lightest;
		&.create { color: $water-darker; }
	}
	.create { color: $water-darkest; }
	.option {
		padding: 2px;
	}
}
.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: $micro-height;
}

// GENERAL CONTROL
.selectize-control.single .selectize-input {
	&, input { cursor: pointer; }
	&.input-active, &.input-active input { cursor: text; }
}
.selectize-control.rtl {
	&.single .selectize-input:after {
		left:  15px;
		right: auto;
	}
	.selectize-input > input { margin:0 4px 0 -2px; }
}
.selectize-control.plugin-drag_drop {
	&.multi > .selectize-input > div.ui-sortable-placeholder {
		visibility: visible !important;
		background: #f2f2f2 !important;
		background: rgba(0,0,0,0.06) !important;
		border: 0 none !important;
	}
	.ui-sortable-placeholder::after {
		content: '!';
		visibility: hidden;
	}
}

/* END */