// STYLE PARTIAL: GRID
// ***********************************************
// GENERAL
// ===============================================
@mixin mobilize-cell() {
	.panel-cell { width: $one-whole !important; }
}

.poster {
	margin:   0;
	padding:  0;
	overflow: auto;
	width:    100%;
}
.grid-panel {
	margin:   0;
	overflow: auto;
	padding:  0;
	width:    100%;
}
.panel-cell {
	float:   left;
	margin:  0;
	padding: 0;
}

.solo    { width: $one-whole;  }
.duo     { width: $one-half;   }
.trio    { width: $one-third;  }
.quartet { width: $one-fourth; }
.quintet { width: $one-fifth;  }
.sextet  { width: $one-sixth;  }
.dectet  { width: $one-tenth;  }

.golden-major  { width: $golden-major;  }
.golden-minor  { width: $golden-minor;  }

.golden-large  { width: $golden-large;  }
.golden-small  { width: $golden-small;  }

.third-quartet  { width: $three-fourths; }
.fourth-quintet { width: $four-fifths;   }
.fifth-sextet   { width: $five-sixths;   }
.ninth-dectet   { width: $nine-tenths;   }

// END
// ************************************************/
