// STYLE PARTIAL: COLUMNIZED INDEX
// ***********************************************
.indexable {
	column-width:         15em;
 	-webkit-column-width: 15em;
 	-moz-column-width:    15em;
}

// END
// ************************************************/
