// MIXINS
// .............................................
// ENFORCE CONSISTENCY
@mixin box-sized () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
@mixin gradient-back($deg, $start, $stop) {
  	background: linear-gradient($deg, $start, $stop);
}
@mixin column-counting($count) {
	-webkit-column-count: $count;
	-moz-column-count:    $count;
	column-count:         $count;
}
@mixin unselectable () {
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
}

// LOOKS
@mixin alert-box($box-color) {
	background: $box-color;
	color:      #FFF;
	margin:     10px auto;
	padding:    20px;
	max-width:  300px;
	text-align: center;
	width:      90%;
	font-size:  1.3em;
}
@mixin page-shadow($color) {
	box-shadow: 0 0 1px 0 $color;
}
@mixin split-element($div) {
	float: left;
	width: $div;
}
@mixin buttonable($color) {
	$text-color: $color;
	@if lightness($color) > 55% { 
		$text-color: darken($color, 100%);
	} @else { 
		$text-color: lighten($color, 100%);
	}
	background:    $color;
	a {
		color: $text-color;
		&:hover {
			color:      $text-color;
			background: darken($color, 5px);
		}
	}
}
@mixin buttoned($color) {
	@include buttonable($color);
	border-radius: 2px;
}
@mixin clicked($color) {
	@include buttonable($color);
}

@mixin clickable($color) {
	@include buttoned($color);
	background:    $color;
	border:        none;
	border-radius: 5px;
	color:         #FFF;
	font-weight:   bolder;
	padding:       10px;
	&:hover  { background: saturate($color, 15%); }
	&:active { @include clicked($color); }
}

@mixin togglable($color) {
	cursor:      pointer;
	background:  $color;
	color:       black;
	display:     block;
	font-weight: 600;
	padding:     10px;
	&:hover {
		background: darken($color, 10%);
		color:     darken($color, 70%);
	}
}
@mixin chooseable($color) {
	@include buttoned($color);
	input:checked + label { background: darken($color, 10%); }
}
@mixin grouping($color) {
	@include gradient-back(180deg, $color, $page-color);
	border-right:   3px solid $color;
	border-left:    3px solid $color;
	border-bottom:  2px solid $color;
}

// RESPONSIVE
@mixin mobile {
	@media (max-width: #{$mobile-max}) { 
		@content;
	}
}
@mixin non-mobile {
	@media (min-width: #{$tablet-min}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) { 
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-min}) { 
		@content;
	}
}
@mixin non-desktop {
	@media (max-width: #{$tablet-max}) {
		@content;
	}
}

