/* MIXINS 
************************************************/
// ENFORCE CONSISTENCY
@mixin box-sized () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
@mixin gradient-back($deg, $start, $stop) {
  	background: linear-gradient($deg, $start, $stop);
}
@mixin column-counting($count) {
	-webkit-column-count: $count;
	-moz-column-count:    $count;
	column-count:         $count;
}
@mixin unselectable () {
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
}

// LOOKS
@mixin upbox($text-color, $box-color) {
	@include page-shadow($text-color);
	color:   $box-color;
	margin:  10px auto;
	padding: 10px;
	width:   90%;
}
@mixin page-shadow($color) {
	box-shadow: 0 0 1px 0 $color;
}
@mixin split-element($div) {
	float: left;
	width: $div;
}
@mixin buttonable($color) {
	$text-color: $color;
	@if lightness($color) > 55% { 
		$text-color: darken($color, 100%);
	} @else { 
		$text-color: lighten($color, 100%);
	}
	border:        3px solid darken($color, 5px);
	background:    $color;
	a {
		color: $text-color;
		&:hover {
			color:      $text-color;
			background: darken($color, 5px);
		}
	}
}
@mixin embossed($color) {
	@include buttonable($color);
	border-top-color:  lighten($color, 10%);
	border-left-color: lighten($color, 10%);
}
@mixin depressed($color) {
	@include buttonable($color);
	border-bottom-color: lighten($color, 10%);
	border-right-color:  lighten($color, 10%);
}

@mixin clickable($color) {
	@include embossed($color);
	color:          #FFF;
	letter-spacing: 1px;
	padding:        7px 10px;

	&:hover, 
	&:focus  { @include embossed(darken($color, 15%)); }
	&:active { @include depressed(darken($color, 15%)); }
}

@mixin togglable($color) {
	cursor:      pointer;
	background:  $color;
	color:       black;
	display:     block;
	font-weight: 600;
	padding:     10px;
	&:hover {
		background: darken($color, 10%);
		color: darken($color, 70%);
	}
}
@mixin chooseable($color) {
	@include embossed($color);
	input:checked + label { background: darken($color, 10%); }
}
@mixin grouping($color) {
	@include gradient-back(180deg, $color, $page-color);
	border-right:   3px solid $color;
	border-left:    3px solid $color;
	border-bottom:  2px solid $color;
}
@mixin headable($color) {
	font-weight: 600;
	background: $color;
	@if lightness($color) < 50% {
		border-bottom: 5px solid lighten($color, 10%);
		color: lighten($color, 50%);
	} @else {
		border-bottom: 5px solid darken($color, 10%);
		color: darken($color, 50%);
	}
}


// RESPONSIVE
@mixin mobile {
	@media (max-width: #{$mobile-max}) { 
		@content;
	}
}
@mixin non-mobile {
	@media (min-width: #{$tablet-min}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) { 
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-min}) { 
		@content;
	}
}
@mixin non-desktop {
	@media (max-width: #{$tablet-max}) {
		@content;
	}
}

