// STYLE PARTIAL: GENERAL PAGINATION
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.pagination {
	list-style: none;
	margin:     0 auto;
	padding:    0;
	overflow:   auto;
	width:      100%;

	a {
		color:   $page-color;
		display: block;
		padding: 10px;
		text-decoration: none;
		
		&:hover {
			background: $water-darker-minor;
		}
	}
	li {
		background:    $water-dark-minor;
		border-radius: 5px;
		display:       inline-block;
		font-weight:   bolder;
		margin:        1px;
		width:         calc(20% - 6px);
	}
	.current {
		background: $page-color;
		padding:    10px 0;
		text-align: center;
	}
}
.pagination-heading {
	border-bottom: 1px dotted $page-dark-major;
	font-size:     $heading-size - 8px;
	font-weight:   bolder;
	text-align:    center;
	margin:        10px 5px;
}
.next,
.last {
	text-align: right;
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.pagination li {
		display: block;
		width:   calc(100% - 6px);
	}
	header .pagination {
		display: none;
	}
}

// END
// ***********************************************/
