// STYLE PARTIAL: GENERAL PAGINATION
// ***********************************************
@mixin pagination-blocks($block-bg, $current-bg, $hover-bg, $size) {
	.pagination {
		list-style: none;
		margin:     0 auto;
		padding:    10px 0;
		overflow:   auto;
		width:      100%;

		a {
			color:   contrastable($block-bg);
			display: block;
			padding: 10px;
			text-decoration: none;
			
			&:hover {
				background:    $hover-bg;
				border-radius: 4px;
				color:         contrastable($hover-bg);
			}
		}

		li {
			background:    $block-bg;
			border-radius: 5px;
			display:       inline-block;
			font-weight:   bolder;
			margin:        0 10px 0 0px;
			width:         calc(#{$size} - 10px);
		}

		li:last-child {
			margin: 0;
			width:  $size;
		}

		.current {
			background: $current-bg;
			color:      contrastable($current-bg);
			padding:    10px 0;
			text-align: center;
		}
	}

	.next,
	.last {
		text-align: right;
	}
}

@mixin mobilize-pagination() {
	header .pagination { display: none; }

	.pagination li {
		display: block;
		margin:  5px !important;
		width:   calc(100% - 10px) !important;
	}
}

// END
// ***********************************************/