// STYLE PARTIAL: PAGE
// ***********************************************
// SETUP :: GENERAL IMPORTS
// ===============================================
@import "partials/grid";
@import "partials/headers/page";
@import "partials/content/alerts";
@import "partials/content/tables";
@import "partials/content/toolkits";

// SECTION :: ALL
// ===============================================
.page-content {
	margin:   0;
	overflow: auto;
	padding:  0;
}

// SECTION :: HEADER
// ===============================================
.site-content > header {
	background: $water-dark-minor;

	.notice {
		margin:   0 $one-twelfth;
		position: absolute;
		width:    $one-sixth;
	}
}

.found {
	font-size:   1.2em;
	font-weight: bolder;
	margin:      0px;
	padding:     5px $one-twelfth;
}

// SECTION :: BODY
// ===============================================
// -- Layout
// -----------------------------------------------
.page-body {
	margin: 25px $one-twelfth;
}

.index-body {
	margin: 10px $one-twelfth;
}

// -- Text
// -----------------------------------------------
a {
	color: $water-dark-minor;

	&:hover {
		color:           $page-darker-major;
		text-decoration: none;
	}
}
p {
	margin:  0;
	padding: 5px 0;
}
pre {
	overflow:    auto;
	white-space: pre-wrap;
}
ul {
	list-style: none;
}
article ol li {
	padding: 0;
}
dl {
	margin:  0;
	padding: 0;
}
dd {
	padding: 0px 25px;
}
dd,
dt { margin: 0; }
dt {
	padding: 1px 5px;
	padding-top: 10px;
}
dt:first-child {
	padding-top: 0;
}
.indexable dd:before, 
.indexable li:before {
	font-size:   12px;
	margin-left: -12px;
}
.indexable li {
	padding: 0px 15px 5px;
}
.indexable-data {
	@include arrowed($fire-dark-minor);
}

.date { font-weight: bolder; }

// SECTION :: FOOTER
// ===============================================
.path-finder {
	color:       $water-color;
	background:  $water-dark-minor;
	font-weight: bolder;
	margin:      0px auto;
	padding:     10px 20% 35px 20%;
	text-align:  center;
	width:       60%;

	a {
		text-decoration: none;
		color: $water-lighter-major;

		&:hover { text-decoration: underline; }
	}
}
.see-more a {
	background:    $page-darker-major;
	border-radius: 10px;
	color:         $water-lighter-minor;
	margin:        15px auto;
	min-width:     100px;
	padding:       10px 15px;
	text-align:    center;
	width:         $one-fourth;

	&:hover {
		background: $fire-color;
		color:      $page-darkest-major;
	}
}

// END
// ************************************************/