// STYLE PARTIAL: SITE STYLES
// ***********************************************
// IMPORTS
// ===============================================
@import "partials/headers/account";
@import "partials/headers/menu";
@import "partials/headers/sidebar";

// SECTION :: ALL
// ===============================================
body {
	background: $water-darker-minor;
	color:      $page-darker-major;
	font:       $text-size "Arial", sans-serif;
}

// SECTION :: HEADER
// ===============================================
.site-header {
	padding:    0;
	overflow:   auto;
	background: $water-dark-major;

	a  { text-decoration: none; }
	ul { list-style:      none; }
}

.logo {
	color:          $water-lighter-minor;
	font-size:      $logo-size;
	letter-spacing: 3px;
	margin:         0;
	padding:        10px;

	&:hover   {
		color: $water-lighter-major;
	}
}

.actionbar {
	margin: 0;
}

// SECTION :: FOOTER
// ===============================================
.site-footer {
	color:          $water-color;
	padding-bottom: 0;
}

.site-meta .widget {
	background:  $water-dark-minor;
	color:       $page-color;
	margin:      15px;

	a { color: $water-lighter-minor; }
}

.credit-widget .widget-title {
	background: $page-darker-major;
}

.credit-widget p {
	padding: 10px 15px;
	margin:  0;
}

.ownership-widget {
	padding: 15px;
}

.social-media-widget {
	margin:     15px 0;
	padding:    7px;
	text-align: center;
	
	a {
		background:      $water-darker-major;
		border-radius:   1em;
		display:         inline-block;
		padding:         1em;
		text-decoration: none;

		&:hover {
			color:      $water-light-major;
			background: $water-darker-minor;
		}
	}
}

// SECTION :: VIEWPORT SPECIFIC
// ===============================================
@mixin site-desktop($ls, $ms) {
	@include desktop {
		.logo {
			padding:    1px 0px;
			width:      $ls;
		}
		.actionbar {
			margin-left: $ls;
			width:       100% - $ls;
		}
		.account {
			float: right;
		}
		.menu {
			width: $ms;
		}
		.submenu {
			width: (3/4) * (1/5) * (5/6) * 100%; 
		}
		@content;
	}
}

@mixin site-mobile($bg, $mis) {
	@include mobile {
		@include mobile-friendly-account($bg);
		@include hide-arrow();
		.session a {
			color: lighten($bg, $golden-major);
		}
		.menu {
			display: block;

			li {
				width: $mis;
				float: left;
			}
		}
		@content;
	}
}

@mixin site-non-desktop() {
	@include non-desktop {
		@content;
	}
}

@mixin site-non-mobile($hover-color, $mis) {
	@include non-mobile {
		.logo {
			display:    block;
			float:      left;
			text-align: center;
		}
		.user { @include side-reveal(); }

		.session a {
			color: lighten($hover-color, $golden-major);
			&:hover { color: $hover-color; }
		}

		.menu {
			display: block;

			li:hover ul {
				display: block;
			}
			a {
				padding: 12px 0 8px;
			}
			& > ul > li {
				width: $mis;
				float: left;
			}
		}
		.submenu {
			float:    left;
			position: absolute;

			a {
				font-size: .9em;
				padding:   10px 5px;
			}
		}
		.drop-arrow {
			font-size: .68em;
		}
		@content;
	}
}

@mixin site-tablet($sms) {
	@include tablet {
		.logo {
			font-size: 1.5rem;
			min-width: 90px;
			padding:   10px 10px 0px;
		}
		.menu {
			overflow:   auto;
			margin-top: 5px;
			& > ul > li { width: 19.50%; }
		}
		.submenu {
			width: $sms;
		}
		@content;
	}
}

// END
// ************************************************/