// VARIABLES
// .............................................

// READING COLORS and MISC
$page-color:   #FFF;
$read-color:   #333;
$fade-color:   lighten($read-color, 20%);
$border-color: #d0d0d0;
$text-size:    14px;
$heading-size: 24px;

// COLOR SCHEME COLORS
$moss-color:    hsl(115, 50%, 35%);
$moss-light:    lighten($moss-color, 15%);
$moss-lighter:  lighten($moss-color, 30%);
$moss-lightest: lighten($moss-color, 40%);
$moss-dark:     darken($moss-color, 10%);
$moss-darker:   darken($moss-color, 20%);
$moss-darkest:  darken($moss-color, 35%);

$water-color:    hsl(205, 50%, 50%);
$water-light:    lighten($water-color, 15%);
$water-lighter:  lighten($water-color, 30%);
$water-lightest: lighten($water-color, 40%);
$water-dark:     darken($water-color, 10%);
$water-darker:   darken($water-color, 20%);
$water-darkest:  darken($water-color, 35%);

$rose-color:    hsl(295, 50%, 50%);
$rose-light:    lighten($rose-color, 15%);
$rose-lighter:  lighten($rose-color, 30%);
$rose-lightest: lighten($rose-color, 40%);
$rose-dark:     darken($rose-color, 10%);
$rose-darker:   darken($rose-color, 20%);
$rose-darkest:  darken($rose-color, 35%);

// SCREEN SIZE and LAYOUT
$mobile-max:      550px;
$tablet-min:  $mobile-max;
$tablet-max:  875px;
$desktop-min: $tablet-max;

$smallest-block:      1 / 12 * 100%;
$one-sixth-block:     2 / 12 * 100%;
$quarter-block:       3 / 12 * 100%;

$one-third-block:     4 / 12 * 100%;
$near-half-block:     5 / 12 * 100%;
$half-block:          6 / 12 * 100%;

$larger-half-block:   7 / 12 * 100%;
$two-third-block:     8 / 12 * 100%;
$three-quarter-block: 9 / 12 * 100%;

$five-sixth-block:    10 / 12 * 100%;
$massive-block:       11 / 12 * 100%;
$full-block:          12 / 12 * 100%;

// INPUT SIZES
$micro-height: 200px;

