// STYLE PARTIAL: GENERAL SUBJECT SHOW PAGE
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.page-content {
	background: $water-lightest-minor;
}
.subject-header {
	border-bottom:  3px solid $moss-color;
	padding:        0 $one-sixth;
	padding-bottom: 10px;
}
.subject-body {
	background: $page-color;
	min-height: 200px;
	padding:    10px $one-twelfth;
	margin:     0 $one-twelfth;
}
h1 {
	padding-bottom: 0;
	border-bottom:  5px $water-color solid;
}
h2 {
	margin:      0;
	padding:     5px 0;
	padding-top: 10px;
	font-weight: lighter;
	font-size:   1.25em;

	.panel-cell & {
		padding:     5px;
		padding-top: 10px;
	}
	.golden-minor & {
		@include gradientized(90deg, $fire-lighter-minor, $fire-lightest-major);
		color:   $fire-darkest-minor;		
	}
	.golden-major &,
	.solo & {
		@include gradientized(90deg, $water-lightest-minor, $water-lighter-minor);
		color:   $water-darkest-minor;		
	}
}

// END
// ***********************************************/
