// STYLE PARTIAL: TABLES
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
table {
	margin: 0 auto;
	width:  calc(100% - 20px);
}

caption {
	font-size:      $text-size + 4px;
	font-weight:    bolder;
	padding:        20px 25px 10px 25px;
}

tbody {
	text-align:     left;
}

th {
	vertical-align: top;

	thead & {
		padding: 15px 25px 5px 25px;
	}

	tbody & {
		font-weight: lighter;
		padding:     10px 0;
	}
}

td {
	padding: 10px 0;
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	thead {
		display: none;
	}

	th, 
	tr, 
	td {
		display: block;
	}

	tbody tr {
		margin: 10px;
	}

	th {
		font-size:      $text-size + 2px;
		font-weight:    500;
		padding-bottom: 3px;
	}
	
	td:before {
		color:       $page-darker-major;
		content:     attr(data-label);
		display:     block;
		font-weight: bolder;
	}
}

// END
// ***********************************************/
