// STYLE PARTIAL: FICTION
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
// -- General Text
// -----------------------------------------------
ol li {
	margin: 10px;
}
p {
	line-height: 1.5;
}

// -- Headings
// -----------------------------------------------
article h2 {
	border-bottom: 2px solid $water-darkest-minor;
	color:         $water-dark-minor;
	font-size:     $text-size + 3px;
	margin:        0;
	padding:       5px 10px;
	padding-top:   25px;
}
article h3 {
	border-bottom:  4px solid $fire-dark-minor;
	font-size:      $text-size + 3px;
	padding-bottom: 4px;
	width:          50%;
}
h4 {
	color:          $water-dark-minor;
	font-size:      $text-size + 1px;
	padding-bottom: 4px;
}
h5 {
	color:     $page-darker-major;
	font-size: $text-size;
	padding:   5px 0;
}
h5:before {
    color:   $fire-light-minor;
    content: "» ";
}
h6 {
	font-size: $text-size;
	margin:    0 5px;
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	h3 {
		margin:     5px 0;
		margin-top: 20px;
	}
	h4 {
		margin:     5px 0;
		margin-top: 15px;
		text-align: center;
	}
	h5 {
		margin:     5px;
		margin-top: 10px;
	}
	h6 {
		margin: 0 5px;
	}
}

// VIEWPORT :: NON-MOBILE
// ===============================================
@include non-mobile {
	h3 {
		margin:     5px 30px;
		margin-top: 20px;
	}
	h4 {
		margin:     0 30px;
		margin-top: 15px;
	}
	h5 {
		margin: 5px 30px;
	}
	h6 {
		margin: 0 30px;
	}
	p {
		padding: 5px 30px;
	}
}

// END
// ***********************************************/
