<% provide(:title, "Work Categories") %>

<header class="index-header">
	<h1>
		Admin Panel
		<%= subtitle "Work Categories" %>
	</h1>
</header>


<div class="index-body">
	<ul class="indexable">
		<% @work_categories.each do |category| %>
		<li><%= link_to category.name, work_category_path(category) %></li>
		<% end %>
	</ul>
</div>

<%= render 'categories/footer' %>
