<% provide(:title, @work_category.heading) %>

<header class="category-header show-header">
	<h1>
		Admin Panel
		<%= subtitle @work_category.heading %>
	</h1>
</header>

<%= subject_body do %>
	<%= render 'agentable' %>
<% end %>

<%= render 'categories/footer' %>
