<% provide(:title, "Chapters") %>

<main id='item'>
	<%= render 'shared/work_header' %>
	<h2>Chapters</h2>

		<% if @chapters.length > 0 %>
			<%= render 'list' %>
		<% else %>
			<%= build_toolkit @work, 'Chapter' %>
		<% end %>

	<%= render 'shared/work_footer' %>
</main>
