<h2>Statistics</h2>

<table>
	<thead>
		<tr>
			<td></td>
			<th>Count</th>
		</tr>
	</thead>

	<tr>
		<th>Characters</th>
		<td data-label="Count"><%= @identity.characters.length %></td>
	</tr>
	<tr>
		<th>Works</th>
		<td data-label="Count"><%= @identity.works.length %></td>
	</tr>
</table>
