<div>
	<p class="pagination-heading">Alphabetical</p>
	<%= @identity.alphabetic_pagination %>
	
	<p class="pagination-heading">Alphabetical within <%= @identity.facet_title %></p>
	<%= @identity.faceted_pagination %>
</div>
