// STYLE PARTIAL : FIELDSETS
// ***********************************************
// SETUP :: VARIABLES
// ===============================================
$associative-title-background : $page-dark-minor;
$add-background               : $water-darker-minor;
$add-hover-background         : $water-color;
$paged-background             : $page-lightest-minor;
$remove-background            : $fire-dark-major;
$remove-hover-background      : $fire-dark-minor;

$associative-border-color       : $page-dark-minor;
$paged-border-color             : $border-color;
$paged-text-border-color        : $border-color;
$solo-set-border-color          : $page-light-minor;

$add-color               : $water-lighter-major;
$associative-title-color : $page-lightest-minor;
$remove-color            : $fire-lighter-major;

$nested-background : $fire-lighter-minor;

$nested-border-color            : $fire-color;
$nested-tags-border-color       : $fire-light-minor;
$nested-tags-title-border-color : $fire-dark-minor;

$nested-tags-color       : $fire-darker-minor;
$nested-tags-title-color : $page-lightest-minor;
// ===============================================

// SECTION :: GENERAL
// ===============================================
.primary-fieldset {
	border   : none;
	overflow : auto;
}

.solo-fieldset {
	border      : 0.25em solid $solo-set-border-color;
	padding-top : 0.75em;

	.taggable-field { margin-top : 10px; }
}
// ===============================================

// SECTION :: ASSOCIATIVE
// ===============================================
.associative-fieldset {
	border        : 0.25em solid $associative-border-color;
	margin-top    : 10px;

	& > legend {
		background  : $associative-title-background;
		color       : $associative-title-color;
		font-weight : bolder;
		margin      : 0 -0.825em;
		padding     : 13px 10px 7px;
		width       : calc(100% + 0.36em);
	}
}
// ===============================================

// SECTION :: NESTED GENERAL
// ===============================================
.nested-fieldset {
	background : $nested-background;
	border     : 3px solid $nested-border-color;
	margin-top : 10px;

	& > legend {
		background    : $nested-background;
		border        : 3px solid $nested-border-color;
		padding       : 10px;
		font-weight   : bolder;
	}
}

.add-cell a,
.remove-cell a {
	border-radius   : 5px;
	display         : inline-block;
	font-weight     : bolder;
	padding         : 5px;
	text-decoration : none;
}

.add-cell {
	clear      : both;
	margin-top : 10px;
	padding    : 0px;

	a {
		background : $add-background;
		color      : $add-color;

		&:hover { background : $add-hover-background; }
	}
}

.remove-cell {
	margin-bottom : 10px;
	padding       : 0;
	text-align    : right;

	a {
		background : $remove-background;
		color      : $remove-color;

		&:hover { background : $remove-hover-background; }
	}
}
// ===============================================

// SECTION :: NESTED PAGES
// ===============================================
.paged-fields caption {
	caption-side : bottom;
	font-size    : 1em;
}

.paged-fieldset {
	background    : $paged-background;
	border        : 3px solid $paged-border-color;
	margin-bottom : 5px;

	.artwork-field { margin : 10px; }
	.summary-field { margin : 5px;  }

	.string-field input,
	.text-field .field-value { border-color : $paged-text-border-color; }

	legend .string-field {
		padding    : 3px;
		border     : 3px solid $paged-text-border-color;
		background : $field-label-background;

		.field-content {
			display : inline-block;
		}

		.field-label {
			padding       : 8px;
			border-radius : 0px;
			margin        : 0px;
		}
	}

	td {
		padding        : 0px;
		vertical-align : top;

		.field-label { display : none; }

		.string-field,
		.remove-cell {
			margin : 10px 5px;
		}
		.file-field .field-value {
			padding : 3px;
		}
	}
}
// ===============================================

// SECTION :: NESTED TAGS
// ===============================================
.nested-place-fields { background : $nested-background; }

.nested-tags-fieldset {
	margin-top : 10px;

	& > legend {
		padding     : 10px 5px 5px;
		width       : calc(100% + 8px);
		font-weight : bolder;
		margin      : 0px -12px;

		background : $nested-tags-title-border-color;
		border     : 3px solid $nested-tags-title-border-color;
		color      : $nested-tags-title-color;

		border-bottom-color : $nested-tags-border-color;
	}
}

.nested-contained-fieldset,
.nested-tags-fieldset {
	background : $nested-background;
	border     : 0.25em solid $nested-tags-border-color;
}
.nested-tags-fieldset .nested-tags-fieldset {
	padding    : 1px;
	background : $nested-tags-title-border-color;
	border     : 3px solid $nested-tags-title-color;

	& > legend { display : none; }
}
// ===============================================

/* END
/* ***********************************************/
