/* GENERAL FORMS
************************************************/
// STRUCTURE
// .............................................
form {
	background: #f0f0f0;
	margin:     0;
	overflow:   auto;
	padding:    0px;
}
fieldset {
	border: none;
	padding: 0;
	margin: 10px auto;
	width:  calc(100% - 20px);
}
.field { 
	margin: 10px 0;
}
@import 'partials/forms/general_input';

// ******************************************* //