// STYLE PARTIAL: GENERAL FORM
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/mixins/forms";

// VIEWPORT :: ALL
// ===============================================
// -- General
// -----------------------------------------------
form {
	font:    15px "segoe ui";
	margin:  0;
	padding: 5px 0;
	width:   100%;
}
fieldset {
	border-color: $border-color;
}
.primary {
	border: none;
}
.warning {
	color:   red !important;
	padding: 35px;
}

// -- Fields
// -----------------------------------------------
label {
	display: block;
}
input,
select,
textarea {
	border:  1px solid $border-color;
	margin:  0;
	padding: 7px;
	width:   calc(100% - 16px);
}
textarea {
	max-width: calc(100% - 16px);
	min-width: calc(100% - 16px);
}

// -- Specific Fields and Fieldsets
// -----------------------------------------------
.field-content label {
	display: none;
}
.submit-field input {
	-webkit-font-smoothing: antialiased;
	border-radius:  5px;
	font-weight:    600;
	width:          100%;
	text-transform: capitalize;
}
.minor { min-height: 50px;  }
.major { min-height: 300px; }
.nested {
	background: $page-lightest-major;
	border:     1px solid $border-color;
	margin:     0 10px;
	padding:    0 10px;
	legend {
		border:  1px solid $border-color;
		width:   calc(100% - 22px);
		padding: 10px;
	}
}
.simple-selection {
	margin: 5px 0px;

	label {
		display:     block;
		font-weight: 600;
		text-align:  right;
		padding:     8px;
	}
	select {
		width:   100%;
		padding: 0;
		option {
			padding: 7px;
		}
	}
}
.agentive-selection {
	padding: 5px;
	margin:  5px 0;

	@include mobile {
		margin: 0;
	}

	legend {
		background:  $page-lightest-major;
		border:      1px solid $border-color;
		font-weight: 900;
		padding:     5px;
	}

	select {
		width:   100%;
		padding: 0;
		option {
			padding: 7px;
		}
	}

	.field-selection {
		padding: 5px;
	}
}

.primary > .field select {
	width:   100%;
	padding: 7px;
}

// END
// ***********************************************/
