// STYLE PARTIAL: INLINE FORM
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/forms/general_form";

// STYLES
// ===============================================
.form-grid {
	padding-top: 10px;
}

.submit-field {
	margin: 0px;

	input {
		@include submission-look($moss-dark-minor, $page-color);
		padding: 5px 10px;
	}
}
.field {
	padding: 4px 0px;
}
.primary {
    padding: 0px;
}
header .editor-block {
	margin: 0 auto;
	width:  calc(90% - 20px);

	form {
		-moz-box-sizing: border-box;
		box-sizing:      border-box;
		background: $page-lightest-minor;
		color:      $page-darkest-minor;
		margin:     0px 10px;
		padding:    15px;
		width:      calc(100% - 20px);
		border-top: 25px solid $water-dark-minor;
	}
}


// END
// ***********************************************/
