// STYLE PARTIAL: INLINE FORM
// ***********************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/forms/general_form";

// VIEWPORT :: ALL
// ===============================================
.form-grid {
	padding-top: 10px;
}
.submit-field {
	margin: 10px 0;

	input {
		background:   $moss-dark-minor;
		border-color: $moss-dark-minor;
		color:        $page-color;

		&:hover,
		&:active {
			background:   $moss-darkest-minor;
			border-color: $moss-darkest-minor;
		}
	}
}

// END
// ***********************************************/
