/* NESTED CHAPTER FIELDS IN FORMS
************************************************/
.chapters {
	background: #F9F9F9;
	label { display: none; }
}
form > .chapter,
.chapters fieldset {
	border: 1px solid $border-color;
	background: #F0F0F0;
	padding: 0 10px;
	margin:  0 10px;
	width: calc(100% - 42px);
}
.nested .chapter {
	overflow: auto;
}
form > .chapter {
	margin-top: 10px;
	legend { width: 100%; }
}
.chapter legend {
	padding: 0;
	border: none;
	.field {
		margin: 0;
	}
	input {
		margin: 0;
	}
}

// MOBILE
// =============================================
@include mobile {

	.chapters fieldset {
		margin: 0;
		width: calc(100% - 22px);
	}
}

/* END */