// STYLE PARTIAL: NESTED FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
// -- Display Toggles
// -----------------------------------------------
.edit .nested, 
.new .show { 
	display: none;
}
.show { 
	@include togglable(desaturate($fire-light, 20%));
}
.hide {
	cursor:      pointer;
	color:       $fire-darkest;
	font-weight: bolder;
}

// -- Structure
// -----------------------------------------------
.nested {
	background: $page-color;
	margin:     10px;
	padding:    10px;
	width:      calc(100% - 44px);

	label {
		background:  $water-darker;
		color:       $page-color;
		display:     block;
		padding:     10px;
		font-size:   15px;
		font-weight: bolder;
		width:       calc(100% - 20px);
	}
	legend {
		background: $page-color;
		border:     1px solid $border-color;
		padding:    10px;
	}
	input, textarea { border-style: solid; }
}
.nested-fields {
	margin:   10px 0;
	overflow: auto;

	fieldset {
		background:   #f0f0f0;
		padding:      10px;
		margin-bottom: 0;
		width:         calc(100% - 47px);
	}
	p {
		margin:     0;
		padding:    0;
		text-align: right;
	}
}
.nested, 
.nested-fields fieldset {
	border: 1px solid $border-color;
}

// -- Dynamic Fields
// -----------------------------------------------
.add_fields {
	@include togglable($fire-light);
	display:    inline-block;
	margin-top: 10px;
}
.remove_fields { 
	@include togglable($fire-light);
	display: inline-block;
	margin:  0 10px;
}

// VIEWPORT :: DESKTOP
// ===============================================
@include desktop {
	.show {
		margin: 15px auto;
		width:  calc(100% - 40px);
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	.show {
		margin: 10px;
	}
}

// END
// ************************************************/
