// STYLE PARTIAL: PAGE FORM
// ************************************************
// SETUP :: IMPORTS
// ===============================================
@import "partials/forms/general_form";

// VIEWPORT :: ALL
// ===============================================
form {
	background: $page-lightest-minor;
}
.submit-field {
	margin: 10px;
	width:  calc(100% - 20px);

	input { padding: 10px; }
}
.branch {
	background: $page-lightest-minor;
	border:     1px solid $border-color;
	margin:     10px 0;
	padding:    5px 10px;
}

// END
// ************************************************/
