// STYLE PARTIAL: RADIO BUTTONS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.options {
	margin:     10px auto;
	padding:    10px 0;
	overflow:   auto;
	min-width:  calc(80% - 26px);
	text-align: center;
}
.choice {
	@include chooseable($water-color);
	margin:   5px 10px;
	overflow: auto;
	display: inline-block;

	label {
		background: none;
		border:     none;
		display:    inline-block;
		padding:    6px 10px;
		color:      #FFF;
		text-align: center;
		width:      calc(100% - 20px);
		cursor:     pointer;
	}
	input {
		display: none;
	}
	.field {
		border:  none;
		float:   left;
		padding: 0;
		margin:  0;
	}
}

// VIEWPORT :: NON-DESKTOP
// ===============================================
@include non-desktop {
	table { width: 100%; }
	td    { text-align: center; }
	tr, th, td { display: block; }
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.choice .field {
		float: none;
	}
	.choice label {
		display: block;
	}
}

// END
// ************************************************/