/* SLIDER FIELDS
************************************************/

.range {
	margin: 10px 0;
	.label {
		font-weight: bolder;
		display: inline-block;
		width: 50%;
		text-align: right;
	}
	.val {
		font-weight: lighter;
		display:     inline-block;
		margin:      0 10px;
    	color: $water-darker;
	}
}
.range-values {
    width: calc(60% - 20px);
    margin: 10px auto;
    &, .ui-slider-range { background: $water-color; }
}

// ******************************************* //
