// STYLE PARTIAL : TOGGLE
// ***********************************************
// TOGGLE
// ===============================================
.show-toggle,
.hide-toggle {
	background : $toggle-background;
	cursor     : pointer;
	width      : $toggle-width;
}

.show-toggle {
	border-bottom : 3px solid $toggle-show-color;
	color         : $toggle-show-color;

	border-radius : 5px;
	display       : none;
	font-weight   : bolder;
	padding       : 7px 10px 3px;
	margin        : 5px auto;
	text-align    : center;

	&:hover {
		background : $toggle-show-hover-color;
	}
}

.hide-cell {
	display : inline-block;
	margin  : 0 10px;
}

.hide-toggle {
	border-top : 3px solid $toggle-hide-color;
	color      : $toggle-hide-color;

	border-radius  : 5px;
	font-weight    : 600;
	letter-spacing : 2px;
	padding        : 2px 10px;
	text-align     : center;

	&:hover {
		background : $toggle-hide-hover-color;
	}
}
// ===============================================

/* END
/* ***********************************************/
