<table class="tableized-results">

	<caption><%= table.caption_heading %></caption>

	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<% table.each do |item| %>
			<tr>
				<td><%= link_to item.heading, item %></td>
			</tr>
		<% end %>
	</tbody>

</table>
