<table class="tableized-results">

	<caption><%= table.caption_heading %></caption>

	<thead>
		<tr>
			<th>Title</th>
			<th>Uploader</th>
		</tr>
	</thead>

	<tbody>
		<% table.each do |item| %>
			<tr>
				<th><%= link_to item.heading, item %></th>
				<td data-label="Uploader"><%= link_to item.uploader.name, item.uploader %></td>
			</tr>
		<% end %>
	</tbody>

</table>
