$main:   hsl(100, 50%, 50%);
$alt:    hsl(200, 50%, 50%);
$mlight: lighten($main, 35%);
$alight: lighten($alt,  35%);
$mdark:  darken( $main, 25%);
$adark:  darken( $alt,  25%);

/* MIXINS 
************************************************/
@mixin button($color) {
	background:        $color;
	border:            3px solid $color;
	border-top-color:  lighten($color, 10%);
	border-left-color: lighten($color, 10%);
	font-weight:       bolder;
}
@mixin click($color) {
	@include button($color);
	color:          #FFF;
	letter-spacing: 1px;
	padding:        5px 10px;

	&:hover  { @include button(darken($color, 15%)); }
	&:active { @include button(darken($color, 5%)); }
}
@mixin toggler() {
	text-align: center;
	width:      20%;
	&:hover { color: #FFF; }
}
@mixin labeled($color) {
	background:  $color;
	border:      2px solid darken($color, 10%);
	color:       #000;
	font-weight: bolder;
}

/* FORM PAGE
************************************************/
input[type="submit"] { 
	@include click($alt);
	margin:  0 auto;
	display: block;
}
fieldset {
	border:   2px solid $mlight;
	margin:   15px;
	overflow: auto;
	padding-bottom: 7px;
	& > .field label {
		color:       #000;
		font-weight: bolder;
	}
}
legend {
	@include labeled($mlight);
	margin:    0 15px;
	padding:   5px;
	width:     10%;
	min-width: 100px;
}
.field { margin: 10px; }
label {
	color:      #000;
	padding:    5px 10px;
	display:    inline-block;
	width:      calc(25% - 8px);
	text-align: right;
}
select, input, textarea { width: calc(75% - 20px); }
textarea { max-width: calc(75% - 20px); }
.minor   { min-height: 100px; }
.major   { min-height: 600px; }

/* NESTED FIELDS
************************************************/
.show {
	@include click($main);
	@include toggler();
	display: block;
	margin:  15px auto;
}
.edit .nested, .new .show { display: none; }
.hider { text-align: right; }
.hide  {
	@include toggler();
	@include labeled($mlight);
	display: inline-block;
	margin:  5px 15px;
	padding: 8px 10px;
	&:hover { background: $main; }
}
.add_fields {
	@include click($alt);
	display:   block;
	margin:    10px auto;
	min-width: 150px;
	width:     10%;
}
.remove_fields {
	text-align: right;
	padding:    10px 15px;
	background: $mlight;
	color:      $mdark;
	margin:     0 50px;
	display:    inline-block;
}
.nested-fields fieldset { margin-bottom: 0; }
.nested-fields p        { text-align: right; }
#item .nested-fields p  { padding: 0; }

/* RADIO BUTTONS
************************************************/
fieldset.radio {
	padding:     10px;
	margin-left: 26%;
	width:       70%;
	.field {
		float:   left;
		padding: 0;
		margin:  0;
	}
	label {
		color:      #FFF;
		text-align: center;
		width:      calc(100% - 20px);
	}
	input { display: none; }
	input:checked + label { background: $alt; }
}
.choice {
	@include button(lighten($alt, 15%));
	height: 28px;
}

/* END */