$main: hsl(180,  50%, 50%);
$comp: complement($main);

.editor {
	background: darken($main, 8%);
	a { border: none; }
	a:hover { background: darken($main, 15%); }
}
.control {
	border-right:   5px solid darken($main, 10%);
	display:        inline-block;
	font-weight:    bolder;
	letter-spacing: 2px;
	padding:        10px;
	width:          200px;
	text-align:     center;
}
.meta {
	background: darken($comp, 10%);
	border:     5px solid darken($comp, 20%);
	margin:     0 10px;
	overflow:   auto;
	list-style: none;
	dl { overflow: auto; }
	& > p {
		border-top: 5px solid darken($comp, 20%);
		background: #FFF;
		padding:    10px;
	}
	dt {
		font-weight: bolder;
		color:      #FFF;
		text-align: right;
		min-width:  calc(15% - 20px);
	}
	dd {
		background: #fff;
		float:      right;
		width:  calc(85% - 20px);
	}
	dt, dd {
		display: inline-block;
		padding: 4px 10px;
	}
	.label {
		font-weight: bolder;
		display:     inline-block;
		margin-left: 0;
	}
}
