/* GENERICS
************************************************/
body { 
	background: $water-darkest;
	font:       $text-size "Segoe Ui", sans-serif;
}
#site-content {
	background: $page-color;
	color:      $read-color;
	overflow:   auto;
	padding:    15px;
}
ul { list-style: none; }
/* END */