/* GENERICS
************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body { 
	background: $water-darkest;
	font:       $text-size "Arial", sans-serif;
}
h1 {
	font-size:      $heading-size;
	font-weight:    600;
	letter-spacing: 3px;
	border-bottom:  3px solid $moss-light;
	border-top:     3px solid $moss-light;
	margin:         0;
	padding:        10px 5px;
}
ul { list-style: none; }
a {
	color: $water-color;
	text-decoration: none;
	&:hover { color: $read-color; }
}
footer { text-align: center; }

.alert {
	@include upbox(red, red);
}
.notice {
	@include upbox($water-color, $water-light);
}
.announce {
	@include upbox($fade-color, $water-color);
	text-align:center;
}

/* END */