// SITE STYLE
// ***********************************************
// SETUP :: GENERAL STYLES
// ===============================================
body { 
	background: $water-darkest-minor;
	color:      $page-darker-major;
	font:       $text-size "Arial", sans-serif;
}

// SETUP :: IMPORTS
// ===============================================
@import "partials/headers/site";
@import "partials/page";

// END
// ************************************************/
