// STYLE PARTIAL: MULTI CHECKBOXES
// ***********************************************
.choose-any {
	margin:  10px 0;
	padding: 5px 0;
	background: $water-lighter-minor;

	input {
		display: inline-block;
		float:   left;
		margin:  5px 10px;
		width:   13px;
	}
	label {
		color:  $water-dark-minor;
		margin: 1px 5px 10px 10px;
	}
}

// END
// ***********************************************/
