// STYLE PARTIAL: NESTED CHAPTER FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
// -- General
// -----------------------------------------------
.textable {
	background: #F9F9F9;
	label { display: none; }
}
.textable fieldset,
form > .chapter {
	background: #F0F0F0;
	border:     1px solid $border-color;
	margin:     0 10px;
	padding:    0 10px;
	width:      calc(100% - 42px);
}

// -- Single Chapter
// -----------------------------------------------
.nested .chapter {
	overflow: auto;
}
form > .chapter {
	margin-top: 10px;

	legend {
		width: 100%;
	}
}
.chapter legend {
	border:  none;
	padding: 0;

	input {
		margin: 0;
	}
	.field {
		margin: 0;
	}
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.textable fieldset {
		margin: 0;
		width: calc(100% - 22px);
	}
}

// END
// ************************************************/
