// STYLE PARTIAL: NESTED FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
// -- Toggle
// -----------------------------------------------
.show-toggle {
	background:    $moss-dark-minor;
	border-radius: 5px;
	color:         $moss-lightest-minor;
	display:       none;
	padding:       10px;
	text-align:    center;
	margin:        0 auto;
	width:         $one-fifth;
}
.hide-cell {
	display: inline-block;
	margin:  0 10px;
}
.hide-toggle {
	background:     $fire-dark-minor;
	border-radius:  5px;
	color:          $fire-lightest-minor;
	font-weight:    600;
	letter-spacing: 2px;
	padding:        3px 10px;
	text-align:     center;
	width:          $one-fifth;

	&:hover,
	&:active {
		background: $fire-lightest-minor;
		color:      $fire-dark-minor;
	}
}

// -- Append & Remove
// -----------------------------------------------
.add-cell,
.remove-cell {
	padding: 0;
}
.add-cell {
	text-align: center;
	margin-top: 10px;
}
.add_fields {
	@include rounded-top(5px);

	background:      $rose-lighter-major;
	color:           $rose-dark-minor;
	display:         inline-block;
	font-weight:     600;
	padding:         5px 0;
	text-decoration: none;
	width:           $one-half;

	&:hover {
		background: $rose-lightest-minor;
		color:      $rose-darker-minor;
	}
}
.remove-cell {
	text-align: right;
}
.remove_fields {
	border-bottom-left-radius: 7px;
	background:      $moss-dark-major;
	border:          1px solid $moss-darker-minor;
	color:           $moss-lightest-major;
	display:         inline-block;
	font-weight:     600;
	padding:         5px 10px;
	text-decoration: none;
	width:           $golden-major;

	&:hover {
		background:   $moss-light-minor;
		color:        $moss-darkest-minor;
		border-color: $moss-dark-minor;
	}
}

// -- Fieldset
// -----------------------------------------------
.nested-fields {
	margin:     10px 0;
	padding:    0;
	background: $page-lightest-major;

	.field {
		margin: 0;
	}
}

// END
// ************************************************/
