// STYLE PARTIAL: NESTED CHAPTER FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.pages-fields {
	background: none;

	.remove_fields {
		border-top: none;
	}
}
.page-fields {
	background: $page-lightest-minor;
	border:     1px solid $page-lighter-minor;
	margin:     0;

	form > & {
		margin: 0 10px;
	}
	label,
	input,
	textarea {
		border-color: $page-lighter-minor;
	}

	legend {
		border:  none;
		padding: 0;
		width:   $one-whole;
	}
}
.page-grid .field {
	margin: 5px 0px;
}

// END
// ***********************************************/
