// STYLE PARTIAL: NESTED FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
// -- Toggle
// -----------------------------------------------
.show-toggle {
	background:    $moss-dark-minor;
	border-radius: 5px;
	color:         $moss-lightest-minor;
	display:       none;
	padding:       10px;
	text-align:    center;
	margin:        0 auto;
	width:         $one-fifth;
}
.hide-cell {
	display: inline-block;
	margin:  0 10px;
}
.hide-toggle {
	background:    $fire-dark-minor;
	border-radius: 5px;
	color:         $fire-lightest-minor;
	font-weight:   600;
	padding:       3px 10px;
	text-align:    center;
	width:         $one-fifth;

	&:hover,
	&:active {
		background: $fire-lightest-minor;
		color:      $fire-dark-minor;
	}
}

// -- Append & Remove
// -----------------------------------------------
.add-cell,
.remove-cell {
	padding: 0;
}
.add-cell {
	text-align: center;
	margin-top: 10px;
}
.add_fields {
	background:      $rose-lightest-minor;
	color:           $rose-dark-minor;
	display:         inline-block;
	font-weight:     600;
	padding:         5px 0;
	text-decoration: none;
	width:           $one-half;

	&:hover {
		background: none;
		color:      $rose-darker-minor;
	}
}
.remove-cell {
	text-align: right;
}
.remove_fields {
	background:      $moss-light-minor;
	color:           $moss-darker-major;
	display:         block;
	font-weight:     600;
	padding:         5px;
	text-decoration: none;

	&:hover {
		background: $moss-lighter-minor;
		color:      $moss-darker-minor;
	}
}

// -- Fieldset
// -----------------------------------------------
.nested-fields {
	margin:     10px 0;
	padding:    0;
	background: $page-color;
	.field {
		margin: 0;
	}
}

// END
// ************************************************/
