// STYLE PARTIAL: RADIO BUTTONS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.select-one {
	background:    $water-light-major;
	border:        2px solid $water-color;
	margin:        5px;
	border-radius: 4px;
	overflow:      auto;

	label {
		padding:    5px;
		text-align: center;
	}
	input {
		display: none;
		&:checked + label {
			color:      $water-lightest-major;
			background: $water-light-minor;
		}
	}
}
.rating {
	margin: 0 10px;

	table {
		width:  100%;
		margin: 5px 0;
	}
	th {
		text-align: right;
		width:      $one-tenth;
	}
	.select-one .panel-cell {
		width: $one-fifth;
	}
}
.rating-title {
	padding:     10px;
	font-weight: bolder;
}

// END
// ************************************************/