// STYLE PARTIAL: NESTED TAG FIELDS
// ***********************************************
// VIEWPORT :: ALL
// ===============================================
.tags {
	background: $page-extreme-light;
	border:     1px solid $page-lighter-minor;
	margin:     10px;

	legend {
		background: $water-lighter-minor;
		border:     1px solid $water-light-major;
		padding:    10px;
		width:      calc(100% - 22px);
	}
}
.taggables-label {
	background:   $fire-light-major;
	border:       1px solid $fire-light-minor;
	color:        $fire-dark-major;
	font-weight:  600;
	margin-right: 4px;
	padding:      7px;
	text-align:   right;

	.tag-input:hover & {
		background:   $fire-lighter-minor;
		border-color: $fire-light-major;
	}
}

// VIEWPORT :: MOBILE
// ===============================================
@include mobile {
	.taggables-label {
		padding:       7px;
		text-align:    left;
		margin-right:  0px;
		margin-bottom: 2px;
	}
}

// END
// ***********************************************/
