// STYLE COLORS PARTIAL: CSS CODE
// ***********************************************
.selector       { color : #ae6409; }
.property-name  { color : #135096; }
.property-value { color : #408ee7; }

// END
// ************************************************/
