<div class="grid-panel">
	<div class="panel-cell solo field">
		<div class="field-content"><%= f.label(value) %></div>
		<div class="field-content"><%= f.text_field(value, :placeholder => placeholder) %></div>
	</div>
</div>
