<% provide(:title, "Concepts") %>

<main class='index'>
  <header>
    <h1>Concepts</h1>
    <%= index_toolkit("Concepts", new_concept_path) %>
  </header>

  <%= render 'list' %>
  <%= render 'tags/shared/footer' %>
</main>
