<% provide(:title, "Activities") %>

<main class='index'>
  <header>
    <h1>Activities</h1>
    <%= index_toolkit("Activities", new_activity_path) %>
  </header>

  <%= render 'list' %>
  
  <%= render 'descriptors/shared/footer' %>
</main>
