<% provide(:title, "Activities") %>

<div id="main" class="index">
  <header>
    <h1>Activities</h1>
    <%= creation_toolkit("Activities", :activity) %>
  </header>

  <%= render 'list' %>
  
  <%= render 'descriptors/shared/footer' %>
</div>
