<ol class="pagination">
	<li class="prev">
		<%= @character.link_to_prev current_user %></li><li class="current">
		<%= @character.name %></li><li class="next">
		<%= @character.link_to_next current_user  %>
	</li>
</ol>
