<% provide(:title, "Identities") %>
<div id="main" class="index">
  <header>
    <h1>Identities</h1>
    <%= creation_toolkit("Identities", new_identity_path) %>
  </header>

  <%= render 'list' %>
  <%= render 'descriptors/shared/footer' %>
</div>
