<% provide(:title, "Identities") %>
<main class='index'>
  <header>
    <h1>Identities</h1>
    <%= index_toolkit("Identities", new_identity_path) %>
  </header>

  <%= render 'list' %>
  <%= render 'descriptors/shared/footer' %>
</main>
