<% provide :title, "Admin Panel" %>

<header>
	<h1>Admin Control Panel</h1>
</header>

<div class="dashboard-grid">
	<%= solo_cell do render 'facets_cell' end %>
	<%= solo_cell do %>
		<h2>Relationship Types</h2>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".sortable").tablesorter();
	});
</script>
