<% provide :title, "Admin Panel" %>

<header class="dashboard-header">
	<h1>Admin Panel</h1>
</header>

<div class="dashboard-grid">
	<h3 class="action-title">Categories</h3>
	<ul class="action-group">
		<li><%= link_to "Identities", facets_path %></li>
		<li><%= link_to "Creators", creator_categories_path %></li>
	</ul>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".sortable").tablesorter();
	});
</script>
